<!--div id="wrapper"-->
<insp-wrapper>
	<!--nav class="navbar-default navbar-static-side" role="navigation"><div class="sidebar-collapse"-->
	<insp-side-navigation>
		<ng-include src="'partials/includes/navigation.html'"></ng-include>
	</insp-side-navigation>
	<!--div id="page-wrapper"-->
	<insp-page>
		<!--div class="row"><nav class="navbar navbar-static-top" role="navigation"-->
		<insp-top-navigation>
			<div class="navbar-header">
				<a class="navbar-minimalize minimalize-styl-2 btn btn-view-details" ignore-click href="#"><i class="fa fa-bars"></i></a>
			</div>
			<ul class="nav navbar-top-links navbar-right">
				<!--li>
					<a class="count-info" ui-sref="console.consult-list">
						<i class="fa fa-bell"></i><span class="label label-danger" ng-show="call.count > 0">{{call.count}}</span>
					</a>
				</li-->
				<li class="dropdown">
					<a class="dropdown-toggle count-info" data-toggle="dropdown" ignore-click href="" data-t>views.console.dropdown</a>
					<ul class="dropdown-menu dropdown-notifications">
						<li>
							<a ui-sref="console.personal-info">
								<i class="fa fa-user fa-lg"></i> <span data-t>views.console.personal_info<span></a>
						</li>

						<li>
							<a ui-sref="console.change-password">
							<i class="fa fa-lock fa-lg"></i> <span data-t>views.console.change_password<span></a>
						</li>

						<li ng-if="currentUser.role == 'SUPERADMIN'">
							<a ui-sref="console.exchange-rate">
							<i class="fa fa-money fa-lg"></i> <span data-t>views.console.exchange_rate<span></a>
						</li>

						<li class="divider"></li>

						<li ng-controller="LogInCtrl">
							<a href="" ng-click="logout()">
							<i class="sign-out"></i> <span data-t>views.console.logout</span></a>
						</li>
					</ul>
				</li>
			</ul>
		</insp-top-navigation>
		<!--div class="wrapper wrapper-content"-->
		<insp-content>
			<div class="row">
				<div class="col-lg-12">
					<ui-view></ui-view>
				</div>
			</div>
		</insp-content>
		<!--div class="footer"-->
		<insp-footer>
			<ng-include src="'partials/includes/footer.html'"></ng-include>
		</insp-footer>
	</insp-page>
</insp-wrapper>
