<div>
    <h3 class="form-title">Cambiar Porcentaje de Comisión</h3>
    <form name="percentForm" role="form" novalidate ng-submit="changePercent(percentForm)" autocomplete="off">

        <div class="form-group">
            <label>Nuevo Porcentaje</label>
            <input class="form-control" type="number" name="percent" ng-change="percentChanged(newPercent)" ng-model="newPercent" min="0" max="{{maxPercent}}" step=".01" required="">
            <small class="error-message" ng-if="percentForm.$validated && percentForm.percent.$error.required">Campo requerido</small>
            <small class="error-message" ng-if="percentForm.$validated && percentForm.percent.$error.max">El valor máximo es de {{maxPercent}}%</small>
            <small class="error-message" ng-if="percentForm.$validated && percentForm.percent.$error.min">El valor mínimo es de 0%</small>
        </div>

        <div>
            <button type="button" class="btn btn-default" ng-click="closeThisDialog('')">Cancelar</button>
            <button type="submit" class="btn btn-primary">Cambiar</button>
        </div>

    </form>
</div>