<div>
    <h3 class="form-title">Cancelar Pago</h3>
    <form name="form" role="form" novalidate ng-submit="cancelPayment(form, notes)" autocomplete="off">

        <div class="form-group">
            <div class="form-group notes">
                <label>Motivo de cancelación</label>
                <textarea name="notes" required ng-model="notes" class="form-control"></textarea>
                <small class="error-message" ng-if="form.$validated && form.notes.$error.required">Campo requerido</small>
            </div>

            <div>
                <button type="button" class="btn btn-default" ng-click="closeThisDialog('')">Cancelar</button>
                <button type="submit" class="btn btn-primary">Aceptar</button>
            </div>

        </form>
</div>