<div class="order-details-view">
    <div class="ibox">
        <div class="ibox-title">
            <h3>Detalles de Producto</h3>
        </div>
        <div class="ibox-content">
            <ul>
                <li ng-show="product.type"><small>Tipo:</small> <span>{{product.type}}</span></li>
                <li ng-show="product.name"><small>Nombre:</small> <span>{{product.name}}</span></li>
                <li ng-show="product.code"><small>Código:</small> <span>{{product.code}}</span></li>
                <li ng-show="product.line"><small>Línea:</small> <span>{{product.line}}</span></li>
                <li ng-show="product.priceType"><small>Tipo de Precio:</small> <span>{{product.priceType | priceType}}</span></li>
                <li ng-show="product.m2Box"><small>M² por caja:</small> <span>{{product.m2Box}}</span></li>
                <li ng-show="product.price"><small>Precio por caja:</small> <span>{{product.price | currency}}</span></li>
                <li ng-show="product.installationPrice"><small>Precio de Instalación por m<sup>2</sup>:</small> <span>{{product.installationPrice | currency}} dll{{ product.installationPrice != 1 ? 's' : '' }}</span></li>
                <li><small>MRP:</small> <span>{{product.mrp}}</span></li>
            </ul>
            <div>
                <button class="btn btn-danger delete" ng-click="delete()" ng-show="!product.deleted">Borrar</button>
                <button type="button" class="btn btn-warning" ng-click="editProductDialog()">Editar</button>
            </div>
        </div>
           
        <p ng-show="step=='empty'">No se encontró el producto</p>
        <p ng-show="step=='loading'">Cargando...</p>
    </div>
</div>

