<div>
    <h3 class="form-title">Actualizar Proveedor</h3>
    <form name="providerForm" role="form" novalidate ng-submit="updateProvider(providerForm, providerId)" autocomplete="off">

        <div class="form-group">
            <label>ID de Proveedor</label>
            <input hard-cap="false" type="text" name="providerId" ng-model="providerId" class="form-control" required="">
            <small class="error-message" ng-if="providerForm.$validated && providerForm.providerId.$error.required">Campo requerido</small>
        </div>

        <div>
            <button type="button" class="btn btn-default" ng-click="closeThisDialog('')">Cancelar</button>
            <button type="submit" class="btn btn-primary">Actualizar</button>
        </div>

    </form>
</div>