<div class="login-view">
  <fieldset>
    <h1 data-t>views.access.login.title</h1>
    <p class="error" ng-if="errorMessage">{{ errorMessage }}</p>
    <form name="loginForm" role="form" novalidate ng-submit="login(username, password)">
      <div class="form-group">
        <label data-t>views.access.login.email</label>
        <input type="email" name="username" ng-model="username" class="form-control" required="">
        <small class="error-message" ng-if="loginForm.$validated && loginForm.username.$error.required" data-t>views.access.login.email_required</small>
        <small class="error-message" ng-if="loginForm.$validated && loginForm.username.$error.email" data-t>views.access.login.invalid_email</small>
      </div>
      <div class="form-group">
        <label data-t>views.access.login.password</label>
        <input type="password" name="password" ng-model="password" class="form-control" required="">
        <small class="error-message" ng-if="loginForm.$validated && loginForm.password.$error.required" data-t>views.access.login.password_required</small>
      </div>
      <button type="submit" class="btn btn-paldi btn-primary block full-width m-b" data-t>views.access.login.login</button>
      <p class="text-center forgot-password"><a ui-sref="access.forgot-password" data-t>views.access.login.forgotten_password</a></p>
    </form>
  </fieldset>
</div>