@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
html {
    font-size: 16px;
}

.pac-container {
  z-index: 123412341;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    // font-weight: 300;
    letter-spacing: 0.05rem;
    color: $paldi-dark-color;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

a {
    font-size: 1rem;
    &:not(.btn) {
    }
}

p {
    font-size: 1rem;
    // font-weight: 300;
    line-height: 2rem;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 2rem;
    margin-top: 10px;
    letter-spacing: 7.14px;
    text-transform: uppercase;
}

input[type=checkbox]{
    vertical-align: middle;
}

.btn-paldi {
    &,
    &:hover,
    &:active,
    &:active:focus,
    &:focus {
        font-family: 'Lato', sans-serif;
        font-size: 1rem;
        font-weight: 700;
        line-height: 2rem;
        padding: 7px 7px 7px 14px;
        text-transform: uppercase;
        color: $paldi-dark-color;
        border: 3px solid $paldi-dark-color;
        border-radius: 0;
        background-color: transparent;
        box-shadow: none;
        @extend .btn-lg;
    }
}

.sign-out {
    font-size: 1.25rem;
    position: relative;
    top: 2px;
    margin-left: .25rem;
    @extend .fa;
    @extend .fa-sign-out;
}

.spinner-img{
    margin: 25px;
    margin-left:50px;
    width: 30px;
    height:30px;
}

.version-number{
    font-size: 14px;
    color: #bababa;
}
