$paldi-color: white;
$paldi-dark-color: #092a4a;
$paldi-dark-soft-color: #425162;
$paldi-dark-softer-color: #69849a;
$paldi-clear-color: #f4f6fa;
$paldi-mid-clear-color: #c4cecf;
$paldi-clearest-color: #eef9fa;
// paldi colors
$paldi-orange: #FF856C;
$paldi-blue: #092A4A;
$paldi-blue-link: #337ab7;
$paldi-grey-soft: #425162;
$paldi-grey-light: #fafafa;
$paldi-grey-mid: #a3acad;
$mt-red: #FA4351;
$mt-pink: #FA4283;
$mt-yellow: #FCA400;
$mt-cyan: #2BBBD7;
$mt-blue: #2E75FF;
$mt-lime: #8FC428;
// paldi font styles
$global-letter-spacing: .15rem;
// margins & padding
$global-margin: 1rem;
$global-padding: 1rem;
