// Lists
.order-list-view {
    .table-filter {
        margin-bottom: -83px !important;
        padding-top: 15px;
        @include screen(320px, 535px) {
            margin-bottom: -22px !important;
            margin-top: -65px;
            position: absolute !important;
        }
    }
}

.form-groups input[type="checkbox"] {
    display: none;
}

.form-groups input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.form-groups input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.form-groups input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;   
}

.form-groups input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}
.form-groups input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;   
}

//===================================================
.status-block {
    color: white;
    text-decoration: none;
    padding: 3px 6px 3px 6px;
    border-radius: 3px;
   
    &.QUOTE {
        background-color: #839192;
    }
    &.QUOTED {
        background-color:  #372828;
    }
    &.PENDING {
        background-color: #d4ac0d;
    }
    &.AUTHORIZED {
        
        background-color: #e068dacd;
    }
    &.PENDING_INFO {
        
        background-color: #37c1ebcd;
    }
    &.NAP{

        background-color: #37c1ebcd;
        align-items: center;
        display: inline-flex;
        justify-content: center;
    }
    &.REJECTED {
        background-color: #cb4335;
    }
    &.LINE {
        background-color: #28b463;
    }
    &.BACKORDER {
        background-color: #ca6f1e;
    }
    &.PRODUCTION {
        background-color: #2e86c1;
    }
    &.TRANSIT {
        background-color: #138d75;
    }
    &.FINISHED {
        background-color: #17a589;
    }
    &.INSTALLED_INCOMPLETE {
        background-color: #616a6b;
    }
    &.INSTALLED_NONCONFORM {
        background-color: #273746;
    }
    &.INSTALLED {
        background-color: #884ea0;
    }
    &.CANCELED {
        background-color: #000000;
        color: white;
    }
    &.ORDER_CANCELED {
        background-color: #000000;
        color: white;
    }
    &.PROGRAMMED {
        background-color: #b8e05c;
    }
    &.source {
        background-color: #56b3ff;
        float: right;
    }
    &.Nueva {
        background-color: #f4d942;
    }
    &.Eliminada {
        background-color: #a03428;
    }
    &.Duplicada {
        background-color: #ad5bff;
    }
    &.Seguimiento {
        background-color: #c44411;
    }
    &.Venta {
        background-color: #b2305d;
    }
}
.details-title {
    padding-left: $global-padding / 2;
    border-left: 3px solid;
    border-bottom: 0;
    margin-top: $global-margin;
    margin-bottom: 1rem !important;
    border-color: $paldi-orange;
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: $global-margin * 2;
}

.status-select {
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.status-reason {
    margin-bottom: 2rem;
}
.status-buttons {
    min-height: 10rem;
}

.btn-square {
    min-width: 14rem;
    width: fit-content;
    height: 3.2rem;
    margin-bottom: 0.5rem;
    line-height: 40px;
    text-align: left;
    display: block;
    .btn-icon {
        min-width: 36px;
        font-size: 1.2rem;
        margin-right: 0.4rem;
        text-align: center;
        padding-top: 10px;
        float: left;
    }
}

//===================================================

.order-details-view {
    label {
        margin-bottom: 0;
    }
    ul {
        padding-left: 0;
        list-style: none;
        vertical-align: bottom;
        li {
            margin-bottom: 0.3rem;
        }
    }
    .client-data {
        h1 {
            font-size: 1.2rem;
            display: block;
            border-bottom: 4px solid;
            text-align: right;
            border-color: $paldi-orange;
            margin-bottom: $global-margin * 2;
        }
        table {
            width: 100%;
            margin-bottom: $global-margin * 1.5;
            tbody {
                td {
                    padding-bottom: $global-padding / 3 !important;
                    font-size: 0.9rem;
                    &:first-child {
                        width: 33%;
                    }
                    &:last-child {
                        width: 33%;
                    }
                }
            }
            tfoot {
                border-top: 1px solid !important;
                border-color: lighten($paldi-grey-soft, 50%) !important;
                td {
                    padding-top: $global-padding / 3 !important;
                    font-size: 0.8rem;
                    font-weight: 600;
                }
            }
        }
        // @extend .row;
        small,
        i {
            color: lighten($paldi-grey-soft, 20%);
            // margin-right: $global-margin / 2;
        }
        .name-address {
            .title {
                font-weight: 700;
                color: $paldi-blue;
            }
            @extend .col-lg-6;
            @extend .col-md-6;
            .data-client-type {
                color: $mt-yellow;
                font-weight: 700;
                font-size: 1rem;
            }
        }
        .contact-info {
            .title {
                font-weight: 700;
                color: $paldi-blue;
            }
            text-align: right;
            @extend .col-lg-6;
            @extend .col-md-6;
        }
    }
    .details-title {
        padding-left: $global-padding / 2;
        border-left: 3px solid;
        border-bottom: 0;
        margin-top: $global-margin;
        margin-bottom: 0 !important;
        border-color: $paldi-orange;
        font-size: 1.2rem;
        font-weight: 400;
        margin-bottom: $global-margin * 2;
    }
    .order-notes {
        margin-top: $global-margin;
        margin-bottom: $global-margin * 4;
        h3 {
            margin-bottom: $global-margin * 2 !important;
        }
        p {
            background: $paldi-grey-light;
            padding: $global-padding $global-padding * 2;
        }
    }

    .dataTables_wrapper {
        padding: 0.2px;
    }
}
