<div class="change-password-view">
	<div class="ibox float-e-margins col-lg-8">

		<div class="ibox-title"><h3>Cambiar Contraseña</h3></div>
		<div class="ibox-content">
			<fieldset>
				<form class="form-horizontal" name="formPassword" >
					<div class="form-group">
						<small class="alert" ng-show="currentUser.reset">Por cuestiones de seguridad debe crear una nueva contraseña</small>
						<label class="col-lg-2 control-label">Contraseña actual</label>
						<div class="col-lg-10">
							<input class="form-control" ng-model="model.oldPassword" type="password" name="oldPassword" placeholder="Contraseña actual" required/>
							<small class="alert" ng-if="formPassword.$validated && formPassword.oldPassword.$error.wrongPassword">Contraseña incorrecta</small>
							<small class="alert" ng-if="formPassword.$validated && formPassword.oldPassword.$error.required">Campo requerido</small>
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-2 control-label">Contraseña nueva</label>
						<div class="col-lg-10">
							<input class="form-control" ng-model="model.newPassword" type="password" name="newPassword" placeholder="Contraseña nueva" required ng-click="formPassword.repeatPassword.$error.match = false; formPassword.newPassword.$error.samePassword = false; formPassword.repeatPassword.$error.recentPassword = false" ng-change="checkPassword(model.newPassword)"/>
							<small class="alert" ng-if="formPassword.$validated && formPassword.newPassword.$error.required">Campo requerido<br></small>
							<small class="alert" ng-if="formPassword.$validated && formPassword.newPassword.$error.samePassword">La Contraseña nueva debe ser diferente a la anterior<br></small>
							<small class="alert" ng-if="formPassword.$validated && formPassword.newPassword.$error.recentPassword">Esta contraseña fue utilizada recientemente, cree una nueva<br></small>
							<small class="alert" ng-if="newPasswordIsValid == false">Mínimo 8 caractéres, incluyendo al menos una mayúscula, una minúscula, un número y un caracter especial (! ( ) - . _ ` ~ @)<br></small>
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-2 control-label">Confirmación de contraseña</label>
						<div class="col-lg-10">
							<input class="form-control" ng-model="model.repeatPassword" type="password" name="repeatPassword" placeholder="Confirmación de contraseña" required ng-click="formPassword.repeatPassword.$error.match = false" />
							<small class="alert" ng-if="formPassword.$validated && formPassword.repeatPassword.$error.match">Contraseñas no coinciden<br></small>
							<small class="alert" ng-if="formPassword.$validated && formPassword.repeatPassword.$error.required">Campo requerido<br></small>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-4 col-sm-offset-8">
							<button class="btn btn-success pull-right" ng-click="changePassword(model, formPassword)">Cambiar</button>
						</div>
					</div>
				</form>
			</fieldset>
		</div>
	</div>
</div>
