<div class="change-password-view">
	<div class="ibox float-e-margins col-lg-8">

		<div class="ibox-title"><h3><%= htmlWebpackPlugin.options.change_pass.change_pass %></h3></div>
		<div class="ibox-content">
			<fieldset>
				<form class="form-horizontal" name="formPassword" >
					<div class="form-group">
						<small class="alert" ng-show="currentUser.reset"><%= htmlWebpackPlugin.options.change_pass.alert_pass %> </small>
						<label class="col-lg-2 control-label"><%= htmlWebpackPlugin.options.change_pass.actual_pass %></label>
						<div class="col-lg-10">
							<input class="form-control" ng-model="model.oldPassword" type="password" name="oldPassword" placeholder="<%= htmlWebpackPlugin.options.change_pass.actual_pass %>" required/>
							<small class="alert" ng-if="formPassword.$validated && formPassword.oldPassword.$error.wrongPassword"><%= htmlWebpackPlugin.options.change_pass.incorrect_pass %></small>
							<small class="alert" ng-if="formPassword.$validated && formPassword.oldPassword.$error.required"><%= htmlWebpackPlugin.options.general.required_field%></small>
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-2 control-label"><%= htmlWebpackPlugin.options.change_pass.new_pass %></label>
						<div class="col-lg-10">
							<input class="form-control" ng-model="model.newPassword" type="password" name="newPassword" placeholder="<%= htmlWebpackPlugin.options.change_pass.new_pass %>" required ng-click="formPassword.repeatPassword.$error.match = false; formPassword.newPassword.$error.samePassword = false; formPassword.repeatPassword.$error.recentPassword = false" ng-change="checkPassword(model.newPassword)"/>
							<small class="alert" ng-if="formPassword.$validated && formPassword.newPassword.$error.required">Campo requerido<br></small>
							<small class="alert" ng-if="formPassword.$validated && formPassword.newPassword.$error.samePassword"><%= htmlWebpackPlugin.options.change_pass.different_pass %>r<br></small>
							<small class="alert" ng-if="formPassword.$validated && formPassword.newPassword.$error.recentPassword"><%= htmlWebpackPlugin.options.change_pass.recent_pass %><br></small>
							<small class="alert" ng-if="newPasswordIsValid == false"><%= htmlWebpackPlugin.options.change_pass.valid_pass %><br></small>
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-2 control-label"><%= htmlWebpackPlugin.options.change_pass.confirm_pass %></label>
						<div class="col-lg-10">
							<input class="form-control" ng-model="model.repeatPassword" type="password" name="repeatPassword" placeholder="<%= htmlWebpackPlugin.options.change_pass.confirm_pass %>" required ng-click="formPassword.repeatPassword.$error.match = false" />
							<small class="alert" ng-if="formPassword.$validated && formPassword.repeatPassword.$error.match"><%= htmlWebpackPlugin.options.change_pass.no_match %><br></small>
							<small class="alert" ng-if="formPassword.$validated && formPassword.repeatPassword.$error.required">
								<%= htmlWebpackPlugin.options.general.required_field%>
								<br></small>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-4 col-sm-offset-8">
							<button class="btn btn-success pull-right" ng-click="changePassword(model, formPassword)"><%= htmlWebpackPlugin.options.general.change%></button>
						</div>
					</div>
				</form>
			</fieldset>
		</div>
	</div>
</div>
