<div class="order-details-view">
  <div class="ibox">
    <div class="ibox-title">
      <h3 ng-if="order.status == 'QUOTE' && step=='loaded'"><%= htmlWebpackPlugin.options.order_details.quote%> #{{order.orderNo}}</h3>
      <h3 ng-if="(order.status != 'QUOTE' && order.status=='PENDING') && step=='loaded' && !isSuborder"> <%= htmlWebpackPlugin.options.order_details.quote%> #{{order.orderNo}}</h3>
      <h3 ng-if="(order.status != 'QUOTE' && order.status!='PENDING') && step=='loaded' && !isSuborder"> <%= htmlWebpackPlugin.options.order_details.order%> #{{order.orderNo}}</h3>
      <h3 ng-if="order.status != 'QUOTE' && step=='loaded' && isSuborder"> <%= htmlWebpackPlugin.options.order_details.order%> #{{order.orderNo}}-{{order.suborderNo}} </h3>
    </div>
    <div class="ibox-content">
      <!--/////////////////////// Cliente ///////////////////////-->
      <div ng-show="step=='loaded'">
        <div class="client-data">
          <h1 ng-if="order.type === 'Mixta' "> {{mixedLabel}} </h1>
          <h1 ng-if="order.type === 'Custom' "> {{pretty('productType', products[0].type)}}</h1>
          <h1 ng-if="order.type !== 'Custom' && order.type !== 'Mixta'">{{pretty('productType', order.type)}}</h1>
          <table>
            <tbody>
              <tr class="not-hover">
                <td>{{client.name}} {{client.lastName}}</td>
                <td>{{client.phoneNumber}}</td>
                <td>{{order.date | date : external?'MMM dd, yyyy':'dd MMM, yyyy' }}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td><%= htmlWebpackPlugin.options.general.name%></td>
                <td><%= htmlWebpackPlugin.options.general.phone%></td>
                <td><%= htmlWebpackPlugin.options.general.date%></td>
              </tr>
            </tfoot>
          </table>
          <table>
            <tbody>
              <tr class="not-hover">
                <td>{{client.address}}</td>
                <% if (htmlWebpackPlugin.options.features.city ) {%>
                <td>{{client.city}}</td>
                <%}%>
                <td>{{client.postalCode}}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td><%= htmlWebpackPlugin.options.general.address%></td>
                <% if( htmlWebpackPlugin.options.features.city){%>
                <td>Ciudad</td>
                <%}%>
                <td><%= htmlWebpackPlugin.options.order_details.postal_code%></td>
              </tr>
            </tfoot>
          </table>
          <table>
            <tbody>
              <tr class="not-hover">
                <td>{{client.email}}</td>
                <td>{{order.project}}</td>
                <td>{{order.user.name + ' ' + order.user.lastName}}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td><%= htmlWebpackPlugin.options.general.email%></td>
                <td><%= htmlWebpackPlugin.options.order_details.proyect%></td>
                <td><%= htmlWebpackPlugin.options.order_details.seller%></td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
      <!--/////////////////////// Productos ///////////////////////-->
      <br>
      <legend class="details-title" ng-if="order.status == 'QUOTE' && step=='loaded'"><%= htmlWebpackPlugin.options.order_details.details_quote%> </legend>
      <legend class="details-title" ng-if="order.status != 'QUOTE' && step=='loaded'"><%= htmlWebpackPlugin.options.order_details.details_order%> </legend>
      <hr>
      <div class="pull-left" ng-if="isMaster && order.status != 'PENDING' &&  order.status != 'REJECTED'" ng-repeat="suborder in suborders">
        <a href="#/console/order/{{suborder.id}}" ng-show="order.status  != 'QUOTE'" class="status-tag ORDER">#{{suborder.orderNo}}-{{suborder.suborderNo}}: {{suborder.type}}</a>
      </div>
      <div class="pull-left" ng-if="isSuborder">
        <a href="#/console/order/{{order.orderParent.id}}" ng-show="order.status != 'QUOTE'" class="status-tag ORDER">Orden #{{order.orderNo}}</a>
      </div>
      <!-- //ADD ACA  -->
      <div class="pull-right">
        <% if (htmlWebpackPlugin.options.features.city) {%>
        <span ng-show="order.source" class="status-tag source">{{order.source}}</span>
        <%}%>
        <span ng-show="order.status != 'QUOTE' && order.status ==' QUOTE '" 
        class="status-tag {{order.providerStatus && order.status=='LINE' &&(currentUser.role=='PROVIDER'
         || currentUser.role=='MANAGER' || currentUser.role=='BUYER' || currentUser.role=='SUPERADMIN')
         ?order.providerStatus :order.status}}" style="color:#f4d942 ;border: 1px solid #f4d942;">
         Cotizacion
        </span>
        <span ng-show="order.status != 'QUOTE' && order.status !=' QUOTE '" 
        class="status-tag {{order.providerStatus && order.status=='LINE' &&(currentUser.role=='PROVIDER'
         || currentUser.role=='MANAGER' || currentUser.role=='BUYER' || currentUser.role=='SUPERADMIN')
         ?order.providerStatus :order.status}}">
         <%=htmlWebpackPlugin.options.order_details.order_stats%>
        </span>

        <span ng-show="order.status == 'QUOTE'" class="status-tag {{order.quoteStatus}}">
          <%=htmlWebpackPlugin.options.order_details.order_status_p%>
        </span>

        <span ng-show="['LINE', 'BACKORDER', 'PRODUCTION', 'TRANSIT', 'FINISHED'].indexOf(order.status) 
        !== -1 && order.installationDate" class="status-tag PROGRAMMED">P</span>
      </div>
      <br>
      <br>
      <!-- cambio aqui  de descuentos a totales-->
      <!-- <div ng-if="order.type == 'Mixta'">
        <ul>
          
          <li ng-if="order.balanceDiscount > 0">
            <small>{{getMatchDiscounts('Descuento Balance')}} ({{order.discountPercentBalance}}%):</small>
            <span>{{order.balanceDiscount | currency}}</span>
          </li>
          <li ng-if="order.shutterDiscount > 0">
            <small>Descuento Shutters ({{order.discountPercentShutter}}%):</small>
            <span>{{order.shutterDiscount | currency}}</span>
          </li>
          <li ng-if="order.enrollableDiscount > 0">
            <small>{{getMatchDiscounts('Descuento Persiana')}} ({{order.discountPercentEnrollable}}%):</small>
            <span>{{order.enrollableDiscount | currency}}</span>
          </li>
          <li ng-if="order.filtrasolDiscount > 0">
            <small>Descuento Filtrasol ({{order.discountPercentFiltrasol}}%):</small>
            <span>{{order.filtrasolDiscount | currency}}</span>
          </li>
          <li ng-if="order.cortinaDiscount > 0">
            <small>Descuento Cortina ({{order.discountPercentCortina}}%):</small>
            <span>{{order.cortinaDiscount | currency}}</span>
          </li>
          <li ng-if="order.pisoDiscount > 0">
            <small>Descuento Piso ({{order.discountPercentPiso}}%):</small>
            <span>{{order.pisoDiscount | currency}}</span>
          </li>
          <li ng-if="order.molduraDiscount > 0">
            <small>Descuento Moldura ({{order.discountPercentMoldura}}%):</small>
            <span>{{order.molduraDiscount | currency}}</span>
          </li>
        </ul>
      </div> -->
      <br>
      <div ng-if="order.statusNotes" class="order-notes">
        <h3><%= htmlWebpackPlugin.options.order_details.state_comments%></h3>
        <p>{{order.statusNotes}}</p>
      </div>
      <br>
      <ul>
        

        <li ng-show="order.status ==  'QUOTE' && (order.quoteStatus == 'Nueva' || order.quoteStatus == 'Seguimiento')">
          <label><%= htmlWebpackPlugin.options.order_details.quote_status%>:</label>
          <select name="quoteStatus" ng-model="quoteStatus" class="status-select">
            <%= htmlWebpackPlugin.options.order_details.quote_options%>
          </select>
        </li>
        <li ng-show="order.status ==  'QUOTE' && quoteStatus == 'Venta Perdida' && (order.quoteStatus == 'Nueva' || order.quoteStatus == 'Seguimiento')">
          <label><%= htmlWebpackPlugin.options.order_details.reason%>:</label>
          <select name="quoteSubStatus" ng-model="quoteSubStatus" class="status-reason">
            <%= htmlWebpackPlugin.options.order_details.reason_options%>
          </select>
        </li>
        <li>
          <button class="btn btn-primary-left" ng-hide="order.quoteStatus == quoteStatus ||(quoteStatus == 'Venta Perdida' && !quoteSubStatus)" ng-click="changeQuoteStatusDialog(quoteStatus)">
            <%= htmlWebpackPlugin.options.order_details.change_status%> </button>
        </li>
        <li ng-show="order.status ==  'QUOTE' && (order.quoteStatus == 'Nueva' || order.quoteStatus == 'Seguimiento')">
        </li>
        <% if (htmlWebpackPlugin.options.features.city) { %>

          <li ng-if='currentUser.role=="SUPERADMIN" || currentUser.role=="BUYER" || currentUser.role=="MANAGER"' ng-repeat="(type,provider) in providersSummary">
            <small>Proveedor para {{type}} : </small>
            <span>{{provider.name}} {{provider.lastName}}</span> 
          </li> 

          <li ng-show="order.providerId">
          <small><%= htmlWebpackPlugin.options.order_list.supplier%> : </small>
          <span>{{order.providerId}}</span>
        </li>
        <li ng-show="order.orderTransitInvoice">
          <small><%= htmlWebpackPlugin.options.order_list.transitInvoice%> : </small>
          <span>{{order.orderTransitInvoice}}</span>
        </li>
        <li ng-show="order.guides">
          <div ng-repeat="track in order.guides track by $index">
          <small><%= htmlWebpackPlugin.options.order_list.trackingId%> {{$index +1}} : </small>
          <span ><a href="https://paquetexpress.com.mx/rastreo/{{track.trim()}}">{{track}}</a></span>
        </div>
        </li>

          <%}%>
        
        <li ng-show="order.commitmentDate">
          <small><%= htmlWebpackPlugin.options.order_list.commitment%>:</small>
          <span>{{order.commitmentDate | date : 'dd MMM, yyyy' }}</span>
        </li>
        <% if (htmlWebpackPlugin.options.features.city) { %>
          
        <li ng-show="order.productionDate">
          <small><%= htmlWebpackPlugin.options.order_list.production_in%>:</small>
          <span>{{order.productionDate | date : 'dd MMM, yyyy'}}</span>
        </li>
        <li ng-show="order.endProductionDate">
          <small><%= htmlWebpackPlugin.options.order_list.production_out%>:</small>
          <span>{{order.endProductionDate | date : 'dd MMM, yyyy'}}</span>
        </li>
        <li ng-show="order.transitDate">
          <small><%= htmlWebpackPlugin.options.order_list.transit_date%>:</small>
          <span>{{order.transitDate | date : 'dd MMM, yyyy'}}</span>
        </li>
        <li ng-show="order.arrivalDate">
          <small><%= htmlWebpackPlugin.options.order_list.arrival_date%>:</small>
          <span>{{order.arrivalDate | date : 'dd MMM, yyyy'}}</span>
        </li>
        <li ng-show="order.programmedDate">
          <small><%= htmlWebpackPlugin.options.order_list.programmedDate%>:</small>
          <span>{{order.programmedDate | date : 'dd MMM, yyyy'}}</span>
        </li>
        <li ng-show="order.installationDate">
          <small><%= htmlWebpackPlugin.options.order_list.installation_date%>:</small>
          <span>{{order.installationDate | date : 'dd MMM, yyyy'}}</span>
        </li>
        <li ng-show="cycleDays && order.status != 'QUOTE'">
          <small><%= htmlWebpackPlugin.options.order_details.cycle_time%>:</small>
          <span>{{cycleDays}}</span>
        </li>
        <li ng-show="dpfcDays && order.status != 'QUOTE'">
          <small><%= htmlWebpackPlugin.options.order_details.dpfc%>:</small>
          <span class="order-cycle-details {{dpfcStatus}}">{{dpfcDays}}</span><span class="order-total {{dpfcTotalStatus}}">/{{dpfcTotalDays}}</span>
        </li>
        <li ng-show="productionDays && order.status != 'QUOTE' && (currentUser.role == 'BUYER' || currentUser.role == 'MANAGER' || currentUser.role == 'SUPERADMIN')">
          <small><%= htmlWebpackPlugin.options.order_details.production_days%></small>
          <span class="order-cycle-details {{productionStatus}}">{{productionDays}}</span><span class="order-total {{productionTotalStatus}}">/{{productionTotalDays}}</span>
        </li>
        <li ng-show="transitDays && order.status != 'QUOTE' && (currentUser.role == 'BUYER' || currentUser.role == 'MANAGER' || currentUser.role == 'INSTALLATION_MANAGER' || currentUser.role == 'SUPERADMIN')">
          <small><%= htmlWebpackPlugin.options.order_details.transit_days%>:</small>
          <span>{{transitDays}}</span>
        </li>
        <%}%>
      </ul>
      <br>
      <% if (htmlWebpackPlugin.options.features.city) { %>
        <button ng-if="!showLog && order.events.length > 0" class="btn btn-secondary-left pull-right" ng-click="toggleLog()"> <%= htmlWebpackPlugin.options.order_details.show_history%></button>
        <%}%>
      
      <div ng-if="showLog">
        <legend class="details-title"><%= htmlWebpackPlugin.options.order_details.history%></legend>
        <br />
        <div class="ibox-content">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <%= htmlWebpackPlugin.options.order_details.history_options%>
              </tr>
            </thead>
            <tbody ng-repeat="event in order.events">
              <tr>
                <td>{{event.date | date : 'dd/MM/yyyy HH:mm'}}</td>
                <td> <%= htmlWebpackPlugin.options.order_details.event%></td>
                <td>{{event.user.name}} {{event.user.lastName}}</td>
                <td>{{event.notes}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <button class="btn btn-secondary-left pull-right" ng-click="toggleLog()">
          <%= htmlWebpackPlugin.options.order_details.hide_history%>
        </button>
      </div>
      <br><br>
      <legend class="details-title"><%= htmlWebpackPlugin.options.order_details.products%></legend>
      <hr>
      <div id="printThisElement" ng-show="products.length>0" ng-repeat="productTypeList in productsSorted">
        <div ng-if="productTypeList.products.length > 0">
          <legend class="details-title" ng-if="productTypeList.type == 'Enrollable'"><%= htmlWebpackPlugin.options.enrollable.shades%></legend>
          <legend class="details-title" ng-if="productTypeList.type != 'Enrollable'">{{ pretty('productType',productTypeList.type)}} </legend>
          <!--<label ng-if="productTypeList.type != 'Enrollable'">{{ productTypeList.type}}</label>-->
          <div ng-if="productTypeList.type =='Balance'">
            <div ng-include="'js/controllers/order/products/balances-details.html'">
            </div>
          </div>
          <div ng-if="productTypeList.type =='Shutter'">
            <div ng-include="'js/controllers/order/products/shutters-details.html'">
            </div>
          </div>
          <div ng-if="productTypeList.type =='Toldo'">
            <div ng-include="'js/controllers/order/products/toldos-details.html'">
            </div>
          </div>
          <div ng-if="productTypeList.type =='Enrollable'">
            <div ng-include="'js/controllers/order/products/enrrollables-details.html'">
            </div>
          </div>
          <div ng-if="productTypeList.type =='Filtrasol'">
            <div ng-include="'js/controllers/order/products/filtrasol-details.html' ">
            </div>
          </div>
          <div ng-if="productTypeList.type =='Persiana o Filtrasol'">
            <div ng-include="'js/controllers/order/products/persiana-filtrasol-details.html' ">
            </div>
          </div>
          <div ng-if="productTypeList.type =='Cortina'">
            <div ng-include="'js/controllers/order/products/cortinas-details.html' ">
            </div>
          </div>
          <div ng-if="productTypeList.type =='Piso'">
            <div ng-include="'js/controllers/order/products/pisos-details.html'">
            </div>
          </div>
          <div ng-if="productTypeList.type =='Cortina Filtrasol'">
            <div ng-include="'js/controllers/order/products/cortinas-filtrasol-details.html'">
            </div>
          </div>
          <div ng-if="productTypeList.type =='Moldura'">
            <div ng-include="'js/controllers/order/products/moldura-details.html'">
            </div>
          </div>
          <div ng-if="productTypeList.type =='Custom'">
            <div ng-include="'js/controllers/order/products/custom-details.html'">
            </div>
          </div>
        </div>
      </div>
      <div ng-if="showNotes" class="order-notes">
        <h3 class="details-title"><%= htmlWebpackPlugin.options.order_details.product_notes%></h3>
        <p>{{productNotes}}</p>
        <button class="btn btn-default" ng-click="showProductNotes()"><%= htmlWebpackPlugin.options.order_details.hide%></button>
      </div>
      <div ng-show="plusList.length > 0 && step=='loaded'">
        <legend class="details-title"><%= htmlWebpackPlugin.options.order_details.addi_motors%></legend>
        <table class="table table-striped  table-hover" datatable="ng" dt-options="tableOptions" dt-column-defs="tableColumns">
          <thead>
            <tr>
              <th><%= htmlWebpackPlugin.options.details_headers.item%></th>
              <th><%= htmlWebpackPlugin.options.quote_commons.qty%></th>
              <th><%= htmlWebpackPlugin.options.quote_commons.name%></th>
              <% if(htmlWebpackPlugin.options.features.fractions){%>
              <th>Color</th>
                <%}%>
              <th><%= htmlWebpackPlugin.options.quote_commons.price%></th>
              <th><%= htmlWebpackPlugin.options.quote_commons.total%></th>
            </tr>
          </thead>
          <tbody ng-repeat="plus in plusList">
            <tr>
              <td>{{plus.item}}</td>
              <td>{{plus.quantity}}</td>
              <td>{{plus.name}}</td>
              <% if(htmlWebpackPlugin.options.features.fractions){%>
                <td>{{plus.color}}</td>
                  <%}%>
              <td>{{plus.price | currency}} {{pretty('plusPriceType', plus.priceType)}}</td>
              <td>{{plus.price * plus.quantity | currency}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div ng-show="motorList.length > 0">
        <legend class="details-title"><%= htmlWebpackPlugin.options.quote_commons.motor%></legend>
        <table class="table table-striped  table-hover" datatable="ng" dt-options="tableOptions" dt-column-defs="tableColumns">
          <thead>
            <tr>
              <th><%= htmlWebpackPlugin.options.details_headers.item%></th>
              <th><%= htmlWebpackPlugin.options.details_headers.qty%></th>
              <th><%= htmlWebpackPlugin.options.details_headers.name%></th>
              <th><%= htmlWebpackPlugin.options.details_headers.total%></th>
            </tr>
          </thead>
          <tbody ng-repeat="motor in motorList">
            <tr>
              <td>{{motor.item}}</td>
              <td>{{motor.quantity}}</td>
              <td>{{motor.name}}</td>
              <td>{{motor.price * motor.quantity | currency}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div ng-show="installationPlusList.length > 0">
        <legend class="details-title"><%= htmlWebpackPlugin.options.quotes.installation_additionals%></legend>
        <table class="table table-striped  table-hover" datatable="ng" dt-options="tableOptions" dt-column-defs="tableColumns">
          <thead>
            <tr>
              <th><%= htmlWebpackPlugin.options.details_headers.item%></th>
              <th><%= htmlWebpackPlugin.options.details_headers.qty%></th>
              <th><%= htmlWebpackPlugin.options.details_headers.name%></th>
              <th><%= htmlWebpackPlugin.options.details_headers.total%></th>
            </tr>
          </thead>
          <tbody ng-repeat="plus in installationPlusList">
            <tr>
              <td>{{plus.item}}</td>
              <td>{{plus.quantity}}</td>
              <td>{{plus.name}}</td>
              <td>{{plus.total | currency}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="order-notes">
        <h3 class="details-title"><%= htmlWebpackPlugin.options.quote_commons.notes%></h3>
        <p>{{order.notes}}</p>
      </div>
      <!--/////////////////////// Totales ///////////////////////-->
      
      <div class="order-notes">
        <h3 class="details-title"><%= htmlWebpackPlugin.options.quotes.totals%></h3>
        <div class="ibox-content">
          <ul>
                  <!--/////////////////////// modificado///////////////////////-->
            
            <li>
              <small><%= htmlWebpackPlugin.options.quote_commons.products%>:</small>
              <span>{{order.productsTotal | currency}}</span>
            </li>
            <li ng-show="order.plusTotal">
              <small><%= htmlWebpackPlugin.options.payments.additionals%></small>
              <span>{{order.plusTotal | currency}}</span>
            </li>
            <li ng-show="order.motorTotal">
              <small><%= htmlWebpackPlugin.options.payments.motor%>:</small>
              <span>{{order.motorTotal | currency}}</span>
            </li>
            <!--/////////////////////// modificado///////////////////////-->
            <div ng-if="order.type == 'Mixta'">
              <ul>
                
                <li ng-if="order.balanceDiscount > 0">
                  <small>{{getMatchDiscounts('Descuento Balance')}} ({{order.discountPercentBalance}}%):</small>
                  <span>{{order.balanceDiscount | currency}}</span>
                </li>
                <li ng-if="order.shutterDiscount > 0">
                  <small>Descuento Shutters ({{order.discountPercentShutter}}%):</small>
                  <span>{{order.shutterDiscount | currency}}</span>
                </li>
                <li ng-if="order.enrollableDiscount > 0">
                  <small>{{getMatchDiscounts('Descuento Persiana')}} ({{order.discountPercentEnrollable}}%):</small>
                  <span>{{order.enrollableDiscount | currency}}</span>
                </li>
                <li ng-if="order.filtrasolDiscount > 0">
                  <small>Descuento Filtrasol ({{order.discountPercentFiltrasol}}%):</small>
                  <span>{{order.filtrasolDiscount | currency}}</span>
                </li>
                <li ng-if="order.cortinaDiscount > 0">
                  <small>Descuento Cortina ({{order.discountPercentCortina}}%):</small>
                  <span>{{order.cortinaDiscount | currency}}</span>
                </li>
                <li ng-if="order.pisoDiscount > 0">
                  <small>Descuento Piso ({{order.discountPercentPiso}}%):</small>
                  <span>{{order.pisoDiscount | currency}}</span>
                </li>
                <li ng-if="order.molduraDiscount > 0">
                  <small>Descuento Moldura ({{order.discountPercentMoldura}}%):</small>
                  <span>{{order.molduraDiscount | currency}}</span>
                </li>
              </ul>
            </div>
            <li ng-show="order.discountPercent && !(order.discountPercentBalance > 0 || order.discountPercentShutter > 0 || order.discountPercentEnrollable > 0 || order.discountPercentFiltrasol > 0 || order.discountPercentCortina > 0 || order.discountPercentPiso > 0 || order.discountPercentMoldura > 0 )">
              <small>{{getMatchDiscount()}} ({{order.discountPercent}}%):</small>
              <span>{{order.discount | currency}}</span>
            </li>
            <li ng-show="order.discountPercentBalance > 0 || order.discountPercentShutter > 0 || order.discountPercentEnrollable > 0 || order.discountPercentFiltrasol > 0  || order.discountPercentCortina > 0 || order.discountPercentPiso > 0 || order.discountPercentMoldura > 0">
              <small><%= htmlWebpackPlugin.options.payments.discount%>:</small>
              <span>{{order.discount | currency}}</span>
            </li>
            <% if  (htmlWebpackPlugin.options.features.shipping) { %>
              <li>
                <small>Shipping: </small>
                <span>{{order.shipping | currency}}</span>
              </li>

              <%}%>
            <li ng-show="order.installationTotal">
              <small><%= htmlWebpackPlugin.options.payments.installation%>:</small>
              <span>{{order.installationTotal | currency}}</span>
            </li>
            <li>
              <small><%= htmlWebpackPlugin.options.payments.sub_total%></small>
              <span>{{order.subTotal | currency}}</span>
            </li>
            <li>
              <small><%= htmlWebpackPlugin.options.payments.tax%></small>
              <span>{{order.iva | currency}}</span>
            </li>
            <li>
              <small><%= htmlWebpackPlugin.options.quote_commons.total%>:</small>
              <span>{{order.total | currency}}</span>
            </li>
            <hr>
            <li ng-if="(order.balance != null) && !isSuborder">
              <small><%= htmlWebpackPlugin.options.payments.balance%></small>
              <span>{{order.balance | currency}}</span>
            </li>
          </ul>
        </div>
        <!--/////////////////////// Pagos ///////////////////////-->
        <div ng-if="order.payments.length > 0">
          <h3 class="details-title"><%= htmlWebpackPlugin.options.console.payments %></h3>
          <div class="ibox-content">
            <table class="table table-striped  table-hover">
              <thead>
                <tr>
                  <th><%= htmlWebpackPlugin.options.order_details.folio%></th>
                  <th><%= htmlWebpackPlugin.options.order_details.date%></th>
                  <th><%= htmlWebpackPlugin.options.order_details.amount%></th>
                  <% if (htmlWebpackPlugin.options.features.city) { %>
                  <th><%= htmlWebpackPlugin.options.order_details.charged%></th>
                    <%}%>
                  <th><%= htmlWebpackPlugin.options.quote_commons.notes%></th>
                  <th ng-if="canManagePayments"></th>
                  <th></th>
                </tr>
              </thead>
              <tbody ng-repeat="payment in order.payments">
                <tr>
                  <td>{{payment.folio}}</td>
                  <td>{{payment.date | date : external?'MM/dd/yyyy HH:mm':'dd/MM/yyyy HH:mm' }}</td>
                  <td>{{payment.advance | currency}}</td>
                  <% if (htmlWebpackPlugin.options.features.city) { %>
                  <td>{{payment.user.name}} {{payment.user.lastName}}</td>
                    <%}%>
                  <td>{{payment.notes}}</td>
                  <td ng-if="canManagePayments"><a class="btn btn-info pull-right" href="{{payment.receiptLink}}" download="Recibo_{{payment.folio}}.pdf"><%= htmlWebpackPlugin.options.order_details.download_invoice%></a></td>
                  <td ng-if="payment.cancelled"><b><%=htmlWebpackPlugin.options.order_details.canceled%></b></td>
                  <td ng-if="currentUser.canAdmin && !payment.cancelled && order.balance >= 0.1">
                    <a class="btn btn-xs btn-danger" ng-click="cancelPaymentDialog(payment.id)"><%= htmlWebpackPlugin.options.payments.cancel_payment%></a>
                  </td>
                  <td ng-if="currentUser.canAdmin && !payment.cancelled && order.balance < 0.1">
                    <a class="btn btn-xs btn-danger" ng-click="" disabled><%= htmlWebpackPlugin.options.payments.cancel_payment%></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <br><br>
        <!--/////////////////////// Botones ///////////////////////-->
        <h3 class="details-title" ng-hide="order.status == 'CANCELED' || order.quoteStatus == 'Duplicada' || order.quoteStatus == 'Venta Perdida'  || order.status == 'ORDER_CANCELED' <%= htmlWebpackPlugin.options.order_details.condition_action%>"> <%= htmlWebpackPlugin.options.details_headers.actions%></h3>
        <div class="pull-right" 
        ng-hide="order.status == 'CANCELED' || 
        order.quoteStatus == 'Duplicada' || 
        order.quoteStatus == 'Venta Perdida' 
        || order.status == 'ORDER_CANCELED'">
          <a href="{{order.pdfLink}}" class="btn btn-secondary-actions btn-sm btn-square" ng-show="permissions.canDownload" download><span class="btn-icon glyphicon glyphicon glyphicon-save"></span><%= htmlWebpackPlugin.options.order_details.download_pdf%></a>
          <button type="button" class="btn btn-secondary-actions btn-sm btn-square" ng-show="permissions.canMail && !external" ng-click="sendToClient(order)"><span class="btn-icon glyphicon glyphicon-envelope"></span><%= htmlWebpackPlugin.options.order_details.send_client%> </button>
          <button type="button" class="btn btn-secondary-actions btn-sm btn-square" 
          ng-show="currentUser.role == 'BUYER' && currentUser.role == 'SALES_MANAGER'
           && currentUser.role == 'SUPERADMIN'" 
           ng-click="sendToSpecialEmail(order)"><span class="btn-icon glyphicon glyphicon-envelope"></span>
            <%= htmlWebpackPlugin.options.order_details.send_work_order%>  </button>
          <button type="button" class="btn btn-secondary-actions btn-sm btn-square" ng-show="permissions.canEdit" ng-click="editOrder() "><span class="btn-icon glyphicon glyphicon-pencil   "></span><%= htmlWebpackPlugin.options.general.edit%> </button>
          <button type="button" class="btn btn-secondary-actions btn-sm btn-square" ng-show="permissions.canPay  && !isSuborder" ng-click="paymentDialog('payment')" style="z-index: 9999;"><span class="btn-icon glyphicon glyphicon-usd"></span><%= htmlWebpackPlugin.options.order_details.register_payment%> </button>
          <button type="button" class="btn btn-secondary-actions btn-sm btn-square" ng-show="!order.needsBill && currentUser.role == 'SUPERADMIN'" ng-click="needsBill()">
            <span class="btn-icon glyphicon glyphicon glyphicon-open-file"></span> <%= htmlWebpackPlugin.options.order_details.need_invoice%>  </button>
        </div>
        
        <div class="status-buttons" ng-hide="order.status == 'CANCELED' || order.quoteStatus == 'Duplicada' || order.quoteStatus == 'Venta Perdida' || order.status == 'ORDER_CANCELED' ">
          <button type="button" class="btn btn-primary-actions btn-sm btn-square" ng-show="permissions.canSend" ng-click="sendToOrderDialog()"><span class="btn-icon glyphicon glyphicon-log-in  "></span><%= htmlWebpackPlugin.options.order_details.send_as_order%>  </button>
          <button type="button" class="btn btn-secondary-actions btn-sm btn-square" ng-show="permissions.canApprove " ng-click="changeStatusDialog('LINE')"><span class="btn-icon glyphicon glyphicon-ok      "></span><%= htmlWebpackPlugin.options.order_details.approve_order%>  </button>
          <button type="button" class="btn btn-secondary-actions btn-sm btn-square" ng-show="permissions.canApprove" ng-click="changeStatusDialog('REJECTED')"><span class="btn-icon glyphicon glyphicon-remove  "></span><%= htmlWebpackPlugin.options.order_details.reject%>  </button>
          <button type="button" class="btn btn-secondary-actions btn-sm btn-square" ng-show="permissions.canProduction  && (order.providerStatus=='AUTHORIZED' || !order.provider )&& !isMaster" ng-click="changeStatusDialog('PRODUCTION')"><span class="btn-icon glyphicon glyphicon-th-large"></span><%= htmlWebpackPlugin.options.order_details.send_prod%>  </button>
          
          <button type="button" class="btn btn-secondary-actions btn-sm btn-square" 
          ng-show="permissions.canBackorder  && !isMaster" 
          ng-click="changeStatusDialog('BACKORDER')">
          <span class="btn-icon glyphicon glyphicon-th-large"></span>
          <%= htmlWebpackPlugin.options.order_details.send_back%> </button>


          <button type="button" class="btn btn-secondary-actions btn-sm btn-square" 
          ng-show="permissions.canTransit  && !isMaster" 
          ng-click="changeStatusDialog('TRANSIT')">
          <span class="btn-icon glyphicon glyphicon-th-large">
          </span><%= htmlWebpackPlugin.options.order_details.send_transit%>  
        </button>

          <!-- <button type="button" class="btn btn-secondary-actions btn-sm btn-square" 
          ng-show="permissions.canTransit  && !isMaster" 
          ng-click="fortransit('TRANSIT')">
          <span class="btn-icon glyphicon glyphicon-th-large">
          </span>Guias 
        </button> -->
        <button type="button" class="btn btn-secondary-actions btn-sm btn-square" 
          ng-show="order.status == 'FINISHED' || 
          order.status == 'PROGRAMMED' || 
          order.Status == 'INSTALLED'  || 
          order.status == 'INSTALLED_NONCONFORM' || 
          order.Status == 'INSTALLED_INCOMPLETE'"
          ng-click="updateGuidesDialog()">
          <span class="btn-icon glyphicon glyphicon-th-large">
          </span>Guias 
        </button>


          <button type="button" class="btn btn-secondary-actions btn-sm btn-square" 
          ng-show="(currentUser.role=='SUPERADMIN' || currentUser.role=='BUYER' || currentUser.role=='SALES_MANAGER')&& order.status=='LINE' && !order.providerStatus && !isMaster && order.provider" ng-click="changeProviderStatus('QUOTE')">
          <span class="btn-icon glyphicon glyphicon-th-large"></span>Marcar como Cotización</button>
          <button type="button" class="btn btn-secondary-actions btn-sm btn-square" 
          ng-show="(currentUser.role=='SUPERADMIN' || currentUser.role=='BUYER' || currentUser.role=='SALES_MANAGER') && order.status=='LINE' && order.providerStatus=='QUOTE'  && !isMaster && order.provider" ng-click="changeProviderStatus('PENDING_INFO')">
          <span class="btn-icon glyphicon glyphicon-th-large"></span>Mover  a Información Pendiente</button>
          <button type="button" class="btn btn-secondary-actions btn-sm btn-square" 
          ng-show="(currentUser.role=='SUPERADMIN' || currentUser.role=='BUYER' || currentUser.role=='SALES_MANAGER')&& order.status=='LINE' && (order.providerStatus=='QUOTE' || order.providerStatus=='PENDING_INFO')  && order.provider && !isMaster" ng-click="changeProviderStatus('QUOTED')">
          <span class="btn-icon glyphicon glyphicon-th-large"></span>Marcar como Cotizado</button>
          <button type="button" class="btn btn-secondary-actions btn-sm btn-square" 
          ng-show="(currentUser.role=='SUPERADMIN' || currentUser.role=='BUYER' || currentUser.role=='SALES_MANAGER') && order.status=='LINE' && order.providerStatus=='QUOTED'  && !isMaster && order.provider" ng-click="changeProviderStatus('AUTHORIZED')">
          <span class="btn-icon glyphicon glyphicon-th-large"></span>Marcar como Autorizado</button>

          
          <button type="button" class="btn btn-secondary-actions btn-sm btn-square" ng-show="permissions.canFinish  && !isMaster" ng-click="changeStatusDialog('FINISHED')"><span class="btn-icon glyphicon glyphicon-th-large"></span><%= htmlWebpackPlugin.options.order_details.finish%>  </button>
          <button type="button" class="btn btn-secondary-actions btn-sm btn-square" ng-show="permissions.canSetInstallDate  && !isMaster" ng-click="dateDialog('install')"><span class="btn-icon glyphicon glyphicon-calendar "></span><%= htmlWebpackPlugin.options.order_details.inst_date%>  </button>
          <button type="button" class="btn btn-secondary-actions btn-sm btn-square" ng-show="permissions.canFinish  && !isMaster && !external" ng-click="shipmentDialog()"><span class="btn-icon glyphicon glyphicon-tags"></span> Generar Etiquetas</button>
          <button type="button" class="btn btn-secondary-actions btn-sm btn-square" ng-show="!order.provider && !external && (currentUser.role == 'BUYER' || currentUser.role == 'MANAGER' || currentUser.role == 'SUPERADMIN') && order.status=='LINE' && needsProviderAssigned"                   ng-click="selectProvidersTrigger()"><span class="btn-icon glyphicon glyphicon-tags"></span> Asignar Proveedor</button>
          
          <button type="button" class="btn btn-secondary-actions btn-sm btn-square" ng-show="permissions.canFinish  && !isMaster && !external" ng-click="showOptionsDialog()"><span class="btn-icon glyphicon glyphicon-tags"></span> Agendar Instalacion </button>
          <!-- TODO: retire the inline-style -->
          <div class="dropdown show" style="width: min-content;" ng-show="currentUser.role == 'BUYER' || currentUser.role == 'MANAGER' || currentUser.role == 'SUPERADMIN' || currentUser.role == 'CONSULTANT' || currentUser.role == 'SALES_MANAGER' || currentUser.role == 'SUPERADMIN' || currentUser.role == 'ADMIN' || currentUser.role == 'INSTALLATION_MANAGER'">
            <button ng-show="!currentUser.realRole"class="dropdown-toggle btn btn-secondary-actions btn-sm btn-square" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="btn-icon glyphicon glyphicon-menu-down"></span><%= htmlWebpackPlugin.options.order_details.work_order%>  </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item btn btn-secondary-actions btn-sm btn-square" 
              ng-show="currentUser.role == 'BUYER' || currentUser.role == 
              'MANAGER' || currentUser.role == 'SUPERADMIN'" 
              ng-click="sendToSpecialEmail(order)"
               style="margin-bottom: 0;"><span class="btn-icon glyphicon glyphicon-envelope"></span>
                <%= htmlWebpackPlugin.options.general.send%>  </a>
              <div class="dropdown-divider"></div>
              <a ng-href="{{order.pdfOrderLink}}" id="download_installation_sheet" class="dropdown-item btn btn-secondary-actions btn-sm btn-square" style="margin-bottom: 0;" ng-show="currentUser.role == 'BUYER' || currentUser.role == 'MANAGER' || currentUser.role == 'SUPERADMIN' ||currentUser.role == 'CONSULTANT' || currentUser.role == 'SALES_MANAGER' || currentUser.role == 'SUPERADMIN' || currentUser.role == 'INSTALLATION_MANAGER' || currentUser.role == 'ADMIN'" download>
                <span class="btn-icon glyphicon glyphicon glyphicon-save"></span><%= htmlWebpackPlugin.options.general.download%>  </a>
            </div>
          </div>
          <!-- INSTALLATION SHEET BUTTON CREISI -->
          <div ng-show="perms.order.installation_sheet.view_button" class="dropdown show" style="width: min-content;">
            <button class="dropdown-toggle btn btn-secondary-actions btn-sm btn-square" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="btn-icon glyphicon glyphicon-menu-down"></span><%= htmlWebpackPlugin.options.order_details.installation_order%>  </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a ng-show="perms.order.installation_sheet.create" ng-click="createInstallationSheet()" class="dropdown-item btn btn-secondary-actions btn-sm btn-square" style="margin-bottom: 0;">
                <span class="btn-icon glyphicon glyphicon glyphicon-plus"></span><%= htmlWebpackPlugin.options.general.create%>  </a>
              <a ng-show="perms.order.installation_sheet.edit" ng-click="editInstallationSheet()" class="dropdown-item btn btn-secondary-actions btn-sm btn-square" style="margin-bottom: 0;">
                <span class="btn-icon glyphicon glyphicon glyphicon-edit"></span><%= htmlWebpackPlugin.options.general.edit%>  </a>
              <div class="dropdown-divider"></div>
<!--               ng-href="{{order.installationSheetPdfLink}}" download="{{order.installationSheetPdfLink}}" -->
              <a ng-show="perms.order.installation_sheet.download" href="javascript:void(0);"  ng-click="downloadPdfOrderYPdfInstallation(order.installationSheetPdfLink , order.pdfOrderLink)" class="dropdown-item btn btn-secondary-actions btn-sm btn-square" style="margin-bottom: 0;">
                <span class="btn-icon glyphicon glyphicon glyphicon-save"></span><%= htmlWebpackPlugin.options.general.download%>  </a>
            </div>
          </div>
          <button type="button" class="btn btn-secondary-actions btn-sm btn-square" ng-show="permissions.canInstall  && !isMaster" ng-click="changeStatusDialog('INSTALLED')"><span class="btn-icon glyphicon glyphicon-th"></span><%= htmlWebpackPlugin.options.order_details.installed%>  </button>
          <button type="button" class="btn btn-secondary-actions btn-sm btn-square" ng-show="permissions.canPartialInstall  && !isMaster" ng-click="changeStatusDialog('INSTALLED_INCOMPLETE')">
            <span class="btn-icon glyphicon glyphicon-th"></span><%= htmlWebpackPlugin.options.order_details.partial_install%> </button>
          <button type="button" class="btn btn-secondary-actions btn-sm btn-square" ng-show="permissions.canPartialInstall  && !isMaster" ng-click="changeStatusDialog('INSTALLED_NONCONFORM')">
            <span class="btn-icon glyphicon glyphicon-th"></span><%= htmlWebpackPlugin.options.order_details.inconform_install%> </button>
          <button type="button" class="btn btn-tertiary-actions btn-sm btn-square" ng-show="permissions.canUpdateProvider " ng-click="updateProviderDialog()"><span class="btn-icon glyphicon glyphicon-edit   "></span><%= htmlWebpackPlugin.options.order_details.change_provider%>  </button>
          
          <button type="button" class="btn btn-tertiary-actions btn-sm btn-square" 
          ng-show="permissions.canUpdateProvider && order.orderTransitInvoice"
           ng-click="updateGuidesDialog()"><span class="btn-icon glyphicon glyphicon-edit   ">

           </span><%= htmlWebpackPlugin.options.order_details.change_guides%>  </button>
          


          <button type="button" 
          class="btn btn-tertiary-actions btn-sm btn-square" 
          ng-show="showChangeStatusButton" 
          ng-click="changeStatusDialog()">
          <span class="btn-icon glyphicon glyphicon-refresh   ">

          </span><%= htmlWebpackPlugin.options.order_details.change_state%> 
         </button>
         <script>

         </script>
         <!-- <button type="button" 
         class="btn btn-tertiary-actions btn-sm btn-square" 
         ng-show="permissions.canChangeStatus   " 
         ng-click="changeStatusDialog()">
         <span class="btn-icon glyphicon glyphicon-refresh   ">

         </span><%= htmlWebpackPlugin.options.order_details.change_state%> 
        </button> -->


          <button type="button" ng-show="order.status ==  'QUOTE' && permissions.canCancel" class="btn btn-tertiary-actions btn-sm btn-square" ng-click="changeStatusDialog('CANCELED')"><span class="btn-icon glyphicon glyphicon-remove   "></span><%= htmlWebpackPlugin.options.general.cancel%>  </button>
          <button type="button" ng-show="order.status !=  'QUOTE' && order.orderParent == null && order.status !=  'ORDER_CANCELED' && permissions.canCancel && order.balance >= 0.1" class="btn btn-tertiary-actions btn-sm btn-square" ng-click="changeStatusDialog('ORDER_CANCELED')">
            <span class="btn-icon glyphicon glyphicon-remove"></span><%= htmlWebpackPlugin.options.general.cancel%>  </button>
          <button type="button" ng-show="order.status !=  'QUOTE' && order.status !=  'ORDER_CANCELED' && permissions.canCancel && order.balance < 0.1" class="btn btn-tertiary-actions btn-sm btn-square" ng-click="" disabled><span class="btn-icon glyphicon glyphicon-remove"></span>
            <%= htmlWebpackPlugin.options.general.cancel%>  </button>
        </div>
      </div>
    </div>
    <p ng-show="step=='empty'"><%= htmlWebpackPlugin.options.order_details.order_not_found%> </p>
    <p ng-show="step=='loading'"><%= htmlWebpackPlugin.options.general.loading%> ...</p>
  </div>
</div>
