<div class="order-list-view">
    <div class="ibox">
        <div class="ibox-title">
            <h3><%=htmlWebpackPlugin.options.order_list.orders%></h3>
        </div>
        <div class="ibox-content">
            <button ng-if="currentUser.role == 'CONSULTANT'"
                ng-repeat="orderType in orderTypes" class="btn"
                ng-class="(orderType.value == selectedType)? 'btn-today' : 'btn-secondary-left'"
                ng-click="orderTypeChange(orderType.value)">{{orderType.label}}</button>

            <a ng-if="currentUser.canAdmin" class="btn btn-primary-left"
                ui-sref="console.quote-new-manual"><%=htmlWebpackPlugin.options.order_list.manual_register%></a>
            <a ng-if="(currentUser.canAdmin || currentUser.canManage || currentUser.role == 'BUYER') && !isEmpty"
                class="btn btn-secondary-left" href="{{downloadLink}}"
                download="Ordenes.xlsx"
                ng-hide="statusList.length < 1"><%=htmlWebpackPlugin.options.order_list.download_orders%></a>

            <br>
            <br>
            <br>
            <div class="table-filter" ng-if="ready" ng-dropdown-multiselect=""
                options="availableStatusList" selected-model="statusList"
                extra-settings="dropdownSettings" events="dropdownEvents"
                translation-texts="dropdownTranslations"></div>

            <p class="input-group pull-left"
                style="width: 25%; margin-right: 1rem;">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-calendar"
                        ng-click="openStartDate()"><%=htmlWebpackPlugin.options.date.from%> <i
                            class="glyphicon glyphicon-calendar"></i></button>
                </span>
                <input name="startDate" type="text" class="form-control"
                    uib-datepicker-popup="{{format}}" ng-model="startDate"
                    is-open="startDatePopup.opened"
                    datepicker-options="startDateOptions" required="true"
                    close-text="Cerrar" current-text="Hoy" clear-text="Limpiar"
                    alt-input-formats="altInputFormats"
                    ng-change="startDateChange()" />
            </p>

            <p class="input-group" style="width: 25%; margin-right: 1rem;">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-calendar"
                        ng-click="openEndDate()"><%=htmlWebpackPlugin.options.date.to%> <i
                            class="glyphicon glyphicon-calendar"></i></button>
                </span>
                <input name="endDate" type="text" class="form-control"
                    uib-datepicker-popup="{{format}}" ng-model="endDate"
                    is-open="endDatePopup.opened"
                    datepicker-options="endDateOptions" required="true"
                    close-text="Cerrar" current-text="Hoy" clear-text="Limpiar"
                    alt-input-formats="altInputFormats"
                    ng-change="endDateChange()" />
            </p>

            <div ng-if="ready">
                <table class="table table-striped table-hover" datatable=""
                    dt-options="tableOptions" dt-columns="tableColumns"
                    id="table">
                    <pageslide ps-open="toggle" ps-auto-close="true"
                        ps-push="true" ps-side="right" ps-click-outside="false"
                        ps-speed="0.3" class="side-details">
                        <div class="ibox">

                            <div class="ibox-content">
                                <div>
                                    <button class="btn btn-close"
                                        ng-click="toggleDetails()">X</button>
                                    <button class="btn btn-view-details"
                                        ui-sref="console.order-details({orderId: selectedOrder.id})"><a
                                            title="Ver más información del orden"><i
                                                class="fa fa-file-text"></i></a></button>
                                </div>
                                <br>
                                <h3 class="details-title"><%=htmlWebpackPlugin.options.order_list.order_details%></h3>
                                <hr>

                                <ul>
                                    <li ng-show="!isSuborder"><small><%=htmlWebpackPlugin.options.order_list.order_no%>:</small>
                                        <span>{{selectedOrder.orderNo}}</span>
                                    </li>
                                    <li ng-show="isSuborder"><small><%=htmlWebpackPlugin.options.order_list.order_no%>:</small>
                                        <span>{{selectedOrder.orderNo}} -
                                            {{selectedOrder.suborderNo}}</span>
                                    </li>
                                    <li><small><%=htmlWebpackPlugin.options.order_list.state%>:</small>
                                        <span>{{pretty('orderStatus', selectedOrder.status)}}</span>
                                    </li>
                                    <li><small><%=htmlWebpackPlugin.options.order_list.proyect%>:</small>
                                        <span>{{selectedOrder.project}}</span>
                                    </li>
                                    <li><small><%=htmlWebpackPlugin.options.order_list.client%>:</small>
                                        <span>{{selectedOrder.client.name}}
                                            {{selectedOrder.client.lastName}}</span>
                                    </li>
                                    <li><small><%=htmlWebpackPlugin.options.order_list.client_type%>:</small>
                                        <span>{{pretty('clientType', selectedOrder.client.type)}}</span>
                                    </li>
                                    <% if(htmlWebpackPlugin.options.features.city){%>
                                    <li><small>Ciudad:</small>
                                        <span>{{selectedOrder.city}}</span></li>
                                    <%}%>
                                    <li><small><%=htmlWebpackPlugin.options.order_list.seller%>:</small>
                                        <span>{{selectedOrder.user.name}}
                                            {{selectedOrder.user.lastName}}</span>
                                    </li>
                                    <li ng-if="selectedOrder.type === 'Mixta'">
                                        <small><%=htmlWebpackPlugin.options.order_list.type%>:</small>
                                        <span>{{selectedOrder.mixedLabel}}</span>
                                    </li>
                                    <li
                                        ng-if="selectedOrder.type === 'Custom' ">
                                        <small><%=htmlWebpackPlugin.options.order_list.type%>:</small>
                                        <span>{{pretty('productType', selectedOrder.products[0].type)}}</span>
                                    </li>

                                    <li><small><%=htmlWebpackPlugin.options.order_list.product_qty%>:</small>
                                        <span>{{productsQuantity}}</span></li>

                                    <li><small><%=htmlWebpackPlugin.options.order_list.date%>:</small>
                                        <span>{{selectedOrder.date | date : 'dd MMM, yyyy'}}</span>
                                    </li>
                                    <li ng-show="selectedOrder.commitmentDate">
                                        <small><%=htmlWebpackPlugin.options.order_list.commitment%>:</small>
                                        <span>{{selectedOrder.commitmentDate | date : 'dd MMM, yyyy'}}</span>
                                    </li>
                                    <li ng-show="selectedOrder.productionDate">
                                        <small><%=htmlWebpackPlugin.options.order_list.production_in%>:</small>
                                        <span>{{selectedOrder.productionDate | date : 'dd MMM, yyyy'}}</span>
                                    </li>
                                    <li
                                        ng-show="selectedOrder.endProductionDate">
                                        <small><%=htmlWebpackPlugin.options.order_list.production_out%>:</small>
                                        <span>{{selectedOrder.endProductionDate | date : 'dd MMM, yyyy'}}</span>
                                    </li>
                                    <li ng-show="selectedOrder.transitDate">
                                        <small><%=htmlWebpackPlugin.options.order_list.transit_date%>:</small>
                                        <span>{{selectedOrder.transitDate | date : 'dd MMM, yyyy'}}</span>
                                    </li>
                                    <li ng-show="selectedOrder.arrivalDate">
                                        <small><%=htmlWebpackPlugin.options.order_list.arrival_date%>:</small>
                                        <span>{{selectedOrder.arrivalDate | date : 'dd MMM, yyyy'}}</span>
                                    </li>
                                    <li ng-show="selectedOrder.programmedDate">
                                        <small><%=htmlWebpackPlugin.options.order_list.programmedDate%>
                                            :</small>
                                        <span>{{selectedOrder.programmedDate | date : 'dd MMM, yyyy'}}</span>
                                    </li>
                                    <li
                                        ng-show="selectedOrder.installationDate">
                                        <small><%=htmlWebpackPlugin.options.order_list.installation_date%>:</small>
                                        <span>{{selectedOrder.installationDate | date : 'dd MMM, yyyy'}}</span>
                                    </li>
                                </ul>

                                <hr>
                                <h3 class="details-title"><%=htmlWebpackPlugin.options.quote_commons.notes%></h3>
                                <hr>

                                <ul>
                                    <li>
                                        <span>{{selectedOrder.notes}}</span>
                                    </li>
                                </ul>


                                <hr>
                                <h3 class="details-title"><%=htmlWebpackPlugin.options.quote_commons.total%></h3>
                                <hr>

                                <ul>
                                    <li><small><%=htmlWebpackPlugin.options.order_list.products%>:</small>
                                        <span>{{selectedOrder.productsTotal | currency}}</span>
                                    </li>
                                    <li ng-show="selectedOrder.plusTotal">
                                        <small><%=htmlWebpackPlugin.options.order_list.additionals%>:
                                        </small><span>{{selectedOrder.plusTotal | currency}}</span>
                                    </li>
                                    <li ng-show="selectedOrder.motorTotal">
                                        <small><%=htmlWebpackPlugin.options.order_list.motor%>:
                                        </small><span>{{selectedOrder.motorTotal | currency}}</span>
                                    </li>
                                    <li ng-show="selectedOrder.discountPercent">
                                        <small><%=htmlWebpackPlugin.options.order_list.discount%>
                                            ({{selectedOrder.discountPercent}}%):
                                        </small><span>{{selectedOrder.discount | currency}}</span>
                                    </li>
                                    <li
                                        ng-show="selectedOrder.installationTotal">
                                        <small><%=htmlWebpackPlugin.options.order_list.installation%>: </small>
                                        <span>{{selectedOrder.installationTotal | currency}}</span>
                                    </li>
                                    <li><small><%=htmlWebpackPlugin.options.order_list.sub_total%>:</small>
                                        <span>{{selectedOrder.subTotal | currency}}</span>
                                    </li>
                                    <li><small><%=htmlWebpackPlugin.options.order_list.tax%>:</small>
                                        <span>{{selectedOrder.iva | currency}}</span>
                                    </li>
                                    <li><small><%=htmlWebpackPlugin.options.order_list.total%>:</small>
                                        <span>{{selectedOrder.total | currency}}</span>
                                    </li>
                                    <li ng-show="!isSuborder">
                                        <small><%=htmlWebpackPlugin.options.order_list.balance%>:</small>
                                        <span>{{selectedOrder.balance | currency}}</span>
                                    </li>
                                </ul>


                                <hr ng-if="selectedOrder.payments.length > 0">
                                <h3 class="details-title"
                                    ng-if="selectedOrder.payments.length > 0">
                                    <%=htmlWebpackPlugin.options.order_list.payments%></h3>
                                <hr>

                                <ul ng-repeat="payment in selectedOrder.payments"
                                    class="order-payment">
                                    <li><small><%=htmlWebpackPlugin.options.order_list.folio%>:</small>
                                        <span>{{payment.folio}}</span></li>
                                    <li><small><%=htmlWebpackPlugin.options.order_list.date%>:</small>
                                        <span>{{payment.date | date : 'dd/MM/yyyy HH:mm'}}</span>
                                    </li>
                                    <li><small><%=htmlWebpackPlugin.options.order_list.amount%>:</small>
                                        <span>{{payment.advance | currency}}</span>
                                    </li>
                                    <hr>
                                </ul>


                                <!--hr>
                                <h3>Acciones</h3>
                                <button class="btn btn-success" ng-show="permissions.canSend" ng-click="change('line')">Enviar como Orden</button>
                                <button class="btn btn-success" ng-show="permissions.canApprove" ng-click="change('approved')">Aprobar Orden</button>
                                <button class="btn btn-danger"  ng-show="permissions.canApprove" ng-click="change('rejected')">Rechazar Orden</button>

                                <button class="btn btn-success" ng-show="permissions.canPay" ng-click="change('pay')">Aprobar Orden</button>
                                <button class="btn btn-warning" ng-show="permissions.canBackorder" ng-click="change('backorder')">Enviar a Backorder</button>
                                <button class="btn btn-success" ng-show="permissions.canProduction" ng-click="change('production')">Enviar a Producción</button>
                                <button class="btn btn-success" ng-show="permissions.canTransit" ng-click="change('transit')">Enviar a Tránsito</button>
                                <button class="btn btn-success" ng-show="permissions.canFinish" ng-click="change('finished')">Terminar</button>

                                <button class="btn btn-success" ng-show="permissions.canInstall" ng-click="change('installed')">Instalada</button>
                                <button class="btn btn-warning" ng-show="permissions.canPartialInstall" ng-click="change('incomplete')">Instalada parcial</button>
                                <button class="btn btn-danger"  ng-show="permissions.canPartialInstall" ng-click="change('nonConform')">Instalada inconforme</button>
                                <hr-->
                            </div>
                        </div>
                    </pageslide>

                </table>
            </div>

        </div>
    </div>
</div>