<div class="quote-view">
  <div class="quote">
    <div class="ibox-title">
      <h3 ng-hide="isCustomOrder"><%= htmlWebpackPlugin.options.quotes.quote %></h3>
      <h3 ng-show="isCustomOrder"><%= htmlWebpackPlugin.options.quotes.manual_order %></h3>
    </div>
    <div class="ibox-content">
      <!--/////////////////////// Cliente ///////////////////////-->
      <fieldset>
        <legend><%= htmlWebpackPlugin.options.general.client %></legend>
        <div ng-show="clientStep=='loaded'">
          <label><%= htmlWebpackPlugin.options.general.client_name %></label>
          <input
              class="form-control"
              id="client"
              name="client"
              ng-model="quote.client"
              required=""
              type="text"
              typeahead-editable="false"
              typeahead-input-formatter="$model.name + ' ' + $model.lastName"
              typeahead-loading="clientsLoading"
              typeahead-no-results="clientsNotFound"
              typeahead-on-select="selectClient($item)"
              typeahead-template-url="js/controllers/clients/client-typeahead.html"
              uib-typeahead="client.name + ' ' + client.lastName for client in findClients($viewValue)  "
          >
          <small ng-if="clientsLoading"><%= htmlWebpackPlugin.options.general.searching %>...</small>
          <small class="error-message" ng-if="clientsNotFound"><%= htmlWebpackPlugin.options.general.no_client %></small>
          <button class="btn btn-link" ng-click="addNewClient()" type="button">+
            <%= htmlWebpackPlugin.options.quotes.add_new_client %>
          </button>
          <small
              class="error-message"
              ng-if="checkForm && (quote.client=='' || quote.client == null)"
          ><%= htmlWebpackPlugin.options.general.required_field %></small>
        </div>
        <div ng-show="clientStep=='new'">
          <div ng-include="'js/controllers/order/products/client-new.html'"></div>
        </div>
        <div ng-show="clientStep=='loading'">
          <h2>Loading</h2>
        </div>
        <div ng-show="clientStep=='selected'">
          <!--ul class="client-data">
              <li><small>Tipo de Cliente:</small> {{pretty('clientType', quote.client.type)}}</li>
              <li><small>Nombre:</small> {{quote.client.name + ' ' + quote.client.lastName}}</li>
              <li><small>E-mail:</small> {{quote.client.email}}</li>
              <li><small>Teléfono:</small> {{quote.client.phoneNumber}}</li>
              <li><small>Domicilio:</small> {{quote.client.address}}</li>
              <li class="discount" ng-show="quote.clientMaxDiscount && product != 'Custom'"><small>Descuento:</small>
                  <input type="number" ng-model="quote.discountPercent" ng-change="validateDiscounts()">% (Max {{quote.clientMaxDiscount}}%)</li>
          </ul-->
          <div class="margin-bottom">
            <div class="pull-left" style="width:27%;">
              <ul class="client-data">
               
                <li><small><%= htmlWebpackPlugin.options.quotes.client_type %>:</small></li>
                <li><small><%= htmlWebpackPlugin.options.quotes.name %></small></li>
                <li><small><%= htmlWebpackPlugin.options.general.email %>:</small></li>
                <li><small><%= htmlWebpackPlugin.options.quotes.phone %></small></li>
                <li><small><%= htmlWebpackPlugin.options.quotes.address %></small></li>
                <%= htmlWebpackPlugin.options.quotes.discounts %>
              </ul>
            </div>
            <div class="pull-left" style="width:60%;">
              <ul class="client-data">
                
                <li>{{pretty('clientType', quote.client.type)}}</li>
                <li>{{quote.client.name + ' ' + quote.client.lastName}}</li>
                <li>{{quote.client.email}}</li>
                <li>{{quote.client.phoneNumber}}</li>
                <li>{{quote.client.address}}</li>
                <li
                    class="discount"
                    ng-show="quote.clientMaxDiscount && product != 'Custom' && !isMultiple"
                ><input
                    max="{{quote.clientMaxDiscount}}"
                    min="0"
                    ng-change="validateDiscounts()"
                    ng-model="quote.discountPercent"
                    ng-disabled="fixedDiscounts"
                    type="number"
                >% <%= htmlWebpackPlugin.options.quotes.percentages %>
                </li>
               
                <li
                    class="discount"
                    ng-show="quote.clientMaxDiscount && product != 'Custom' && isMultiple && productsSorted[0].products.length > 0"
                ><input
                    max="{{quote.clientMaxDiscount}}"
                    min="0"
                    ng-change="validateDiscounts()"
                    ng-model="quote.discountPercentBalance"
                    type="number"
                    ng-disabled="fixedDiscounts"
                >% <%= htmlWebpackPlugin.options.quotes.percentages %>
                </li>
                <li
                    class="discount"
                    ng-show="quote.clientMaxDiscount && product != 'Custom' && isMultiple && productsSorted[1].products.length > 0"
                ><input
                    max="{{quote.clientMaxDiscount}}"
                    min="0"
                    ng-change="validateDiscounts()"
                    ng-model="quote.discountPercentShutter"
                    ng-disabled="fixedDiscounts"
                    type="number"
                >% <%= htmlWebpackPlugin.options.quotes.percentages %>
                </li>
                <li
                    class="discount"
                    ng-show="quote.clientMaxDiscount && product != 'Custom' && isMultiple && productsSorted[3].products.length > 0"
                ><input
                    max="{{quote.clientMaxDiscount}}"
                    min="0"
                    ng-change="validateDiscounts()"
                    ng-disabled="fixedDiscounts"
                    ng-model="quote.discountPercentEnrollable"
                    type="number"
                >% <%= htmlWebpackPlugin.options.quotes.percentages %>
                </li>
                <li
                    class="discount"
                    ng-show="quote.clientMaxDiscount && product != 'Custom' && isMultiple && productsSorted[4].products.length > 0"
                ><input
                    max="{{currentUser.canAdmin ? quote.clientMaxDiscount  : 15}}"
                    min="0"
                    ng-change="validateDiscounts()"
                    ng-disabled="fixedDiscounts"
                    ng-model="quote.discountPercentFiltrasol"
                    type="number"
                >% <%= htmlWebpackPlugin.options.quotes.percentages %>
                </li>
                <li
                    class="discount"
                    ng-show="quote.clientMaxDiscount && product != 'Custom' && isMultiple && productsSorted[6].products.length > 0"
                ><input
                    max="{{currentUser.canAdmin ? quote.clientMaxDiscount  : 15}}"
                    min="0"
                    ng-change="validateDiscounts()"
                    ng-disabled="fixedDiscounts"
                    ng-model="quote.discountPercentCortina"
                    type="number"
                >% <%= htmlWebpackPlugin.options.quotes.percentages %>
                </li>
              </ul>
            </div>
          </div>
          <button
              class="btn btn-secondary-left"
              ng-click="changeClient()"
              ng-if="editing == false"
          ><%= htmlWebpackPlugin.options.quotes.change_client %>
          </button>
        </div>
      </fieldset>
      <!--/////////////////////// Detalles ///////////////////////-->
      <fieldset>
        <legend><%= htmlWebpackPlugin.options.quotes.details %></legend>
        <div class="detail-options" ng-show="product=='' || isCustomOrder">
          <div class="form-group proyect-name">
            <label><%= htmlWebpackPlugin.options.quotes.sidemark %>:</label>
            <input
                class="form-control"
                name="project"
                ng-model="quote.project"
                required
                type="text"
            >
            <small
                class="error-message"
                ng-if="checkForm && (quote.project=='' || quote.project == null)"
            ><%= htmlWebpackPlugin.options.general.required_field %></small>
          </div>
          <div class="form-group proyect-name">
            <%= htmlWebpackPlugin.options.quotes.origin %>
          </div>
          <div class="form-group proyect-name">
            <%= htmlWebpackPlugin.options.quotes.city %>
          </div>
          <br>
    
          <div
              ng-hide="isCustomOrder "
              style="margin-bottom: 20px;"
          >
        
            <label><%= htmlWebpackPlugin.options.general.add %>:</label>
          
            <%= htmlWebpackPlugin.options.quotes.product_options %>
      
          </div>

          <!-- <div
              ng-hide="isCustomOrder || !editSimpleQuote"
              style="margin-bottom: 20px;"
          >
            <label><%= htmlWebpackPlugin.options.general.add %>:</label>
            
            <%= htmlWebpackPlugin.options.quotes.products_btn %>
          </div> -->


        </div>
        <div ng-show="quote.products.length > 0 && product == '' && !isCustomOrder">
          <fieldset>
            <legend><%= htmlWebpackPlugin.options.quotes.products %></legend>
            <div ng-repeat="(indexList, productTypeList) in productsSorted">
              <div ng-if="productTypeList.products.length > 0">
                <label ng-if="productTypeList.type == 'Enrollable'"><%= htmlWebpackPlugin.options.quotes.shades %></label>
                <label ng-if="productTypeList.type != 'Enrollable'">{{ productTypeList.type}}</label>
                <table class="table table-striped  table-hover">
                  <thead>
                  <tr>
                    <%= htmlWebpackPlugin.options.quotes.shades_headers %>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="(indexProduct, p) in productTypeList.products">
                    <td>{{ getProductIndex(indexProduct,indexList) }}</td>
                    <td>{{p.quantity}}</td>
                    <td>{{p.location}}</td>
                    <td>{{translateType(p.type)}}</td>
                    <td>{{p.total | currency}}</td>
                    <td>
                      <button
                          class="btn btn-edit"
                          ng-click="editProduct(p, indexList, indexProduct)"
                          title="<%= htmlWebpackPlugin.options.general.edit %>"
                          type="button"
                      ><i class="fa fa-pencil fa-lg"></i></button>
                      <button
                          class="btn btn-remove"
                          ng-click="removeProduct(p, indexList, indexProduct)"
                          title="<%= htmlWebpackPlugin.options.button_commons.remove_btn %>"
                          type="button"
                      >X</i></button>
                      <button
                          class="btn btn-edit"
                          ng-click="exchangeProduct(indexProduct,indexProduct-1, indexList)"
                          ng-disabled="indexProduct==0"
                          title="<%= htmlWebpackPlugin.options.button_commons.move_up %>"
                          type="button"
                      ><i class="fa fa-arrow-up "></i></button>
                      <button
                          class="btn btn-edit"
                          ng-click="exchangeProduct(indexProduct,indexProduct+1, indexList)"
                          ng-disabled="productTypeList.products.length-1 == indexProduct"
                          title="<%= htmlWebpackPlugin.options.button_commons.move_down %>"
                          type="button"
                      ><i class="fa fa-arrow-down "></i></button>
                      <button
                          class="btn btn-edit"
                          ng-click="cloneProduct(indexProduct, indexList)"
                          title="<%= htmlWebpackPlugin.options.button_commons.duplicate %>"
                          type="button"
                      ><i class="fa fa-clone "></i></button>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <div ng-if="productTypeList.hasPlus">
                  <label><%= htmlWebpackPlugin.options.quotes.additionals %></label>
                  <table class="table table-striped  table-hover">
                    <thead>
                    <tr>
                      <%= htmlWebpackPlugin.options.quotes.additionals_headers %>
                    </tr>
                    </thead>
                    <tbody ng-repeat="p in productTypeList.products">
                    <tr ng-repeat="plus in p.plusList">
                      <td>{{plus.quantity}}</td>
                      <td>{{plus.name}}</td>
                      <td>{{plus.color}}</td>
                      <td>{{plus.price | currency}}
                        
                        {{pretty('plusPriceType', plus.priceType)}}
                      </td>
                      <td>{{plus.total | currency}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div ng-show="hasInstallationPlus">
                  <label><%= htmlWebpackPlugin.options.quotes.installation_additionals %></label>
                  <table class="table table-striped  table-hover">
                    <thead>
                    <tr>
                      <%= htmlWebpackPlugin.options.quotes.installation_additionals_headers %>
                    </tr>
                    </thead>
                    <tbody ng-repeat="p in quote.products">
                    <tr ng-repeat="plus in p.installationPlusList">
                      <td>{{plus.quantity}}</td>
                      <td>{{plus.name}}</td>
                      <td>{{plus.price | currency}}
                        {{pretty('plusPriceType', plus.priceType)}}
                      </td>
                      <td>{{plus.total | currency}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>

                <div ng-show="productTypeList.hasMotor">
                  <label><%= htmlWebpackPlugin.options.quotes.motor %></label>
                  <table class="table table-striped  table-hover">
                    <thead>
                    <tr>
                      <%= htmlWebpackPlugin.options.quotes.motor_headers %>
                    </tr>
                    </thead>
                    <tbody ng-repeat="p in productTypeList.products">
                    <tr ng-repeat="motor in p.motorList">
                      <td>{{motor.quantity}}</td>
                      <td>{{motor.name}}</td>
                      <td>{{motor.price * motor.quantity | currency}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <div ng-show="quote.products.length > 0 && product == '' && isCustomOrder">
          <label><%= htmlWebpackPlugin.options.quotes.order %></label>
          <div ng-repeat="(indexList, productTypeList) in productsSorted">
            <div ng-if="productTypeList.products.length > 0">
              <table class="table table-striped  table-hover">
                <thead>
                <tr>
                  <%= htmlWebpackPlugin.options.quotes.order_headers %>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(indexProduct, p) in productTypeList.products">
                  <td>{{p.seller.name}} {{p.seller.lastName}}</td>
                  <td>{{p.type}}</td>
                  <td>{{p.price | currency}}</td>
                  <td>{{ date | date: 'shortDate'}}</td>
                  <td>
                    <button
                        class="btn btn-default"
                        ng-click="editProduct(p, indexList, indexProduct)"
                        type="button"
                    ><%= htmlWebpackPlugin.options.general.edit %>
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="product-type">
          <div ng-if="product">
            <div ng-include="getTemplate(product)"></div>
          </div>
        </div>
      </fieldset>
    </div>
    <!--/////////////////////// Totales ///////////////////////-->
  </div>
  <div class="quote-totals" ui-scrollpoint="59">
    <div class="ibox-title">
      <h3><%= htmlWebpackPlugin.options.quotes.totals %></h3>
    </div>
    <div class="ibox-content">
      <ul>
        <li><small><%= htmlWebpackPlugin.options.quotes.products %>:</small>
          <span>{{quote.productsTotal | currency}}</span></li>
        <li ng-show="quote.plusTotal">
          <small><%= htmlWebpackPlugin.options.quotes.additionals %>: </small><span>{{quote.plusTotal | currency}}</span>
        </li>
        <li ng-show="quote.motorTotal">
          <small><%= htmlWebpackPlugin.options.quotes.motor %> </small><span>{{quote.motorTotal | currency}}</span>
        </li>
        <li ng-show="quote.discountPercent || quote.discountPercentBalance || quote.discountPercentShutter || quote.discountPercentEnrollable || quote.discountPercentFiltrasol">
          <small><%= htmlWebpackPlugin.options.quotes.discount %>: </small><span>{{quote.discount | currency}}</span>
        </li>
        <li ng-show="quote.installationTotal"><small><%= htmlWebpackPlugin.options.quotes.installation %>: </small>
          <span>{{quote.installationTotal | currency}}</span></li>

        <li><small>Sub-Total:</small> <span>{{quote.subTotal | currency}}</span>
        </li>
        <% if(!htmlWebpackPlugin.options.features.city){%>
          <li><small>
            Shipping:</small> <span>{{quote.shipping | currency}}</span></li>
          </small>
          </li>
          <%}%>
        <li><small>
          <% if(!htmlWebpackPlugin.options.features.city){%>
          <input type="checkbox" ng-model="quote.hasTaxes", ng-init="quote.hasTaxes=true"
          ng-change="updateTotals('Totals',quote)" 
          >
          <%}%>
          <%= htmlWebpackPlugin.options.quotes.tax %>:</small> <span>{{quote.iva | currency}}</span></li>
        <li><small>TOTAL:</small> <span>{{quote.total | currency}}</span></li>
      </ul>
      <ul ng-show="false">
        <li><%= htmlWebpackPlugin.options.quotes.advance %>:</li>
        <li><%= htmlWebpackPlugin.options.quotes.balance %>:</li>
      </ul>

      <!--/////////////////////// Notas ///////////////////////-->
      <fieldset>
        <legend><%= htmlWebpackPlugin.options.quotes.annotations %></legend>
        <label><%= htmlWebpackPlugin.options.quotes.notes %></label>
        <textarea
            ng-disabled="quote.products.length<=0"
            ng-model="quote.notes"
            type="text"
        ></textarea>
        <small
            class="error-message"
            ng-if="checkForm && (quote.notes == '' || quote.notes == null)"
        ><%= htmlWebpackPlugin.options.general.required_field %></small>
      </fieldset>
      <button
          class="btn btn-primary"
          ng-click="save()"
          ng-disabled="saveDisabled || product"
          ng-show="!saveDisabled && quote.products.length>0"
      ><%= htmlWebpackPlugin.options.general.save %>
      </button>
      <img class="spinner-img" ng-show="saveDisabled" src="img/spinner.gif">
    </div>
  </div>
</div>