<div class="user-new-view">
    <div class="ibox">
        <div class="ibox-title">
            <h3>Nuevo Usuario</h3></div>
        <div class="ibox-content">
            <form name="userForm" role="form" novalidate ng-submit="save(userForm, user)">
                <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" name="name" ng-model="user.name" class="form-control" required>
                    <small class="error-message" ng-if="userForm.$validated && userForm.name.$error.required">Campo requerido</small>
                </div>
                <div class="form-group">
                    <label>Apellidos</label>
                    <input type="text" name="lastName" ng-model="user.lastName" class="form-control" required>
                    <small class="error-message" ng-if="userForm.$validated && userForm.lastName.$error.required">Campo requerido</small>
                </div>
                <div class="form-group">
                    <label>E-mail</label>
                    <input type="email" name="email" ng-model="user.email" class="form-control" required>
                    <small class="error-message" ng-if="userForm.$validated && userForm.email.$error.required">Campo requerido</small>
                    <small class="error-message" ng-if="userForm.$validated && userForm.email.$error.email">El e-mail no es válido</small>
                </div>
                <div class="form-group">
                    <label>Teléfono</label>
                    <input type="tel" maxlength="10" pattern="[0-9]{10}" name="phoneNumber" ng-model="user.phoneNumber" class="form-control" required>
                    <small class="error-message" ng-if="userForm.$validated && userForm.phoneNumber.$error.required">Campo requerido</small>
                    <small class="error-message" ng-if="userForm.phoneNumber.$error.pattern">El número de teléfono debe tener 10 dígitos</small>
                </div>
                <div class="form-group">
                    <label>Contraseña</label>
                    <input type="password" name="password" ng-model="user.password" class="form-control" required ng-change="checkPassword(user.password)">
                    <small class="error-message" ng-if="userForm.$validated && userForm.password.$error.required">Campo requerido</small>
                    <small class="alert" ng-if="passwordIsValid == false">Mínimo 8 caractéres, incluyendo al menos una mayúscula, una minúscula, un número y un caracter especial (! ( ) - . _ ` ~ @)</small>
                </div>
                <div class="form-group">
                    <label>Permisos</label>
                    <select name="role" ng-model="user.role" class="form-control" required>
                        <option value="CONSULTANT">Asesor</option>
                        <option value="MANAGER" ng-if="currentUser.canAdmin">Gerente de Compras</option>
                        <option value="INSTALLATION_MANAGER" ng-if="currentUser.canAdmin">Gerente de Instalación</option>
                        <option value="SALES_MANAGER" ng-if="currentUser.canAdmin">Gerente de Ventas</option>
                        <option value="BUYER">Comprador</option>
                        <option value="ADMIN" ng-if="currentUser.role=='SUPERADMIN'">Admin</option>
                        <option value="SUPERADMIN" ng-if="currentUser.canAdmin">Super Admin</option>
                    </select>
                    <small class="error-message" ng-if="userForm.$validated && userForm.role.$error.required">Campo requerido</small>
                </div>

                <div class="form-group">
                    <label>Almacén</label>
                    <select name="warehouses" ng-model="user.warehouseId" class="form-control" ng-options="warehouse.id as warehouse.name for warehouse in warehouses"></select>
                </div>

                <div class="form-group" ng-show="user.role == 'CONSULTANT'">
                    <label>Monto mínimo de venta</label>
                    <input type="number" name="minimumSale" ng-model="user.minimumSale" class="form-control" ng-required="user.role == 'CONSULTANT'">
                    <small class="error-message" ng-if="userForm.$validated && userForm.minimumSale.$error.required">Campo requerido</small>
                </div>

                <div>
                    <button ui-sref="console.user-list" class="btn btn-default">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
