<div>
  
  <h3 class="form-title">Orden de Instalación</h3>
  <form name="installationForm" role="form" novalidate ng-submit="installationSheet.save(installationForm)" autocomplete="off">
    <div class="form-group">
      <label>No Orden</label>
      <input name="noOrder" class="form-control" ng-model="installationSheet.orderNo" readonly>
      <small class="error-message" ng-if="installationForm.$validated && installationForm.noOrder.$error.required">Campo requerido</small>
    </div>
    <div class="form-group">
      <label>Persona que recibe la orden</label>
      <input name="receivingPerson" class="form-control" ng-model="installationSheet.receivingPerson" required="">
      <small class="error-message" ng-if="installationForm.$validated && installationForm.receivingPerson.$error.required">Campo requerido</small>
    </div>
    <!-- TODO: add validation -->
    <div class="form-group">
      <label>Celular</label>
      <input name="telephone" class="form-control" ng-model="installationSheet.telephone" required="" ui-mask="(999) 999-9999" type="text">
      <small class="error-message" ng-if="installationForm.$validated && installationForm.telephone.$error.required">Campo requerido</small>
    </div>
    <div class="form-group">
      <label>Dirección de entrega</label>
      <textarea id="address" name="address" class="form-control" googleplace ng-model="installationSheet.address" ng-change="updateMarker(installationSheet.address)" required=""></textarea>
    

      <div id="mapcanvas" style=" height: 300px; width:100%;margin: 0px;padding: 0px"></div>
        
      <small class="error-message" ng-if="installationForm.$validated && installationForm.address.$error.required">Campo requerido</small>
    </div>
    <div class="form-group">
      <label>Código Postal</label>
      <input id="postalCode"name="postalCode" class="form-control" ng-model="installationSheet.postalCode" required="">
      <small class="error-message" ng-if="installationForm.$validated && installationForm.postalCode.$error.required">Campo requerido</small>
    </div>
    <div class="form-group notes">
      <label>Referencia adicional de la dirección</label>
      <textarea name="addressReference" ng-model="installationSheet.addressReference" class="form-control" required=""></textarea>
<small class="error-message" ng-if="installationForm.$validated && installationForm.addressReference.$error.required">Campo requerido</small>
    </div>
    <label>Herramientas externas</label>
    <div class="form-group">
      <label class="checkbox-inline normal-height-checkbox">
        <input name="rotomartillo" type="checkbox" ng-model="installationSheet.extras.rotomartillo" ng-change="installationSheet.onChangeCheck(installationForm, 'rotomartillo')"> Rotomartillo </label>
      <label class="checkbox-inline normal-height-checkbox">
        <input name="andamios" type="checkbox" ng-model="installationSheet.extras.andamios" ng-change="installationSheet.onChangeCheck(installationForm, 'andamios')"> Andamios </label>
      <label class="checkbox-inline normal-height-checkbox">
        <input name="escaleras" type="checkbox" ng-model="installationSheet.extras.escaleras" ng-change="installationSheet.onChangeCheck(installationForm, 'escaleras')"> Escalera de Bombero </label>
      <div ng-repeat="x in installationSheet.otherExtra">
        <label class="checkbox-inline normal-height-checkbox"><input name="x" type="checkbox" ng-model="installationSheet.extras[x]" ng-change="installationSheet.onChangeCheck(installationForm, x, 'otherExtra')">{{x}} <span class="glyphicon glyphicon-remove" ng-click="installationSheet.removeOtherExtra(x, 'otherExtra')"></span>
        </label>
      </div>
      <!-- TODO: fix inline css -->
      <div class="form-group" style="margin-top: 0.5rem;">
        <label class="checkbox-inline normal-height-checkbox"> Agregar herramienta para la instalación: </label>
        <div class="input-group">
          <textarea name="extra" type="text"
            ng-model="installationSheet.extraText"
            class="form-control"></textarea>

          <span class="glyphicon glyphicon glyphicon-plus input-group-addon"
            ng-click="installationSheet.addOtherExtra(installationSheet.extraText, 'otherExtra')"
            ng-disabled="installationSheet.otherExtra.length === 6"
            style="cursor: pointer;"></span>
        </div>
      </div>
    </div>


    <label>Material en donde se va a instalar </label>
    <div class="form-group">
      <label class="checkbox-inline normal-height-checkbox">
        <input name="madera" type="checkbox" ng-model="installationSheet.materials.madera" ng-change="installationSheet.onChangeCheck(installationForm, 'madera')"> Madera </label>
      <label class="checkbox-inline normal-height-checkbox">
        <input name="tablarroca" type="checkbox" ng-model="installationSheet.materials.tablarroca" ng-change="installationSheet.onChangeCheck(installationForm, 'tablarroca')"> Tabla Roca </label>
      <label class="checkbox-inline normal-height-checkbox">
        <input name="aluminio" type="checkbox" ng-model="installationSheet.materials.aluminio" ng-change="installationSheet.onChangeCheck(installationForm, 'aluminio')"> Aluminio </label>
      <label class="checkbox-inline normal-height-checkbox">
        <input name="acero" type="checkbox" ng-model="installationSheet.materials.acero" ng-change="installationSheet.onChangeCheck(installationForm, 'acero')"> Acero </label>
      <div ng-repeat="x in installationSheet.otherMaterials">
        <label class="checkbox-inline normal-height-checkbox"><input name="x" type="checkbox" ng-model="installationSheet.materials[x]" ng-change="installationSheet.onChangeCheck(installationForm, x, 'otherMaterials')">{{x}} <span class="glyphicon glyphicon-remove" ng-click="installationSheet.removeOtherExtra(x, 'otherMaterials')"></span>
        </label>
      </div>
      <div class="form-group">
        <!-- TODO: fix inline css -->
        <label class="checkbox-inline normal-height-checkbox"> Agregar material de instalación adicional: </label>
        <div class="form-group" style="margin-top: 0.5rem;">
          <div class="input-group">
            <textarea name="extraMaterial" type="text" ng-model="installationSheet.extraMaterialText" class="form-control"></textarea>
            <span class="glyphicon glyphicon glyphicon-plus input-group-addon" ng-click="installationSheet.addOtherExtra(installationSheet.extraMaterialText, 'otherMaterials')" ng-disabled="installationSheet.otherMaterials.length === 4" style="cursor: pointer;"></span>
          </div>
        </div>
      </div>

    </div>

    <div class="form-group">
      <small class="error-message" ng-show="installationSheet.extraError">
        Es necesario específicar al menos una herramienta adicional </small>
    </div>
    <div class="form-group notes">
      <label>Comentarios Adicionales</label>
      <textarea name="notes" ng-model="installationSheet.notes" class="form-control" required=""></textarea>
      <small class="error-message" ng-if="installationForm.$validated && installationForm.addressReference.$error.required">Campo requerido</small>
    </div>

    <div>
      <button type="button" class="btn btn-default"
        ng-click="closeThisDialog('')">Cancelar</button>
      <button type="submit" class="btn btn-primary">
        {{installationSheet.mode === "create" ? "Crear" : "Actualizar"}}
      </button>
    </div>


  </form>
</div>