<div class="client-details-view">
    <div class="ibox">
        <div class="ibox-title">
            <h3>Detalles de Cliente</h3>
        </div>
        <div class="ibox-content">
            <div class="data-summary" ng-show="step=='loaded'">
                <h3><i class="fa fa-user-circle-o" aria-hidden="true"></i>
                    Información personal</h3>
                <ul>
                    <li><span>Nombre:</span> {{client.name}}</li>
                    <li><span>Apellidos:</span> {{client.lastName}}</li>
                </ul>
                <h3><i class="fa fa-id-card" aria-hidden="true"></i>
                    Tipo de cliente</h3>
                <ul>
                    <li><span>Categoría:</span>
                        {{pretty('clientType', client.type)}}</li>
                </ul>
                <h3><i class="fa fa-envelope" aria-hidden="true"></i>
                    Datos de contacto</h3>
                <ul>
                    <li class="email"><span>E-mail:</span> <a href="mailto:{{client.email}}">{{client.email}}</a>
                    </li>
                    <li><span>Teléfono:</span> {{client.phoneNumber}}</li>
                </ul>
                <h3><i class="fa fa-map-marker" aria-hidden="true"></i>
                    Dirección</h3>
                <ul>
                    <li><span>Dirección:</span> {{client.address}}</li>
                    <li><span>Ciudad:</span> {{client.city}}</li>
                    <li> <span>Código Postal:</span> {{client.postalCode}}</li>
                </ul>
            </div>
            <div ng-show="step=='edit'">
                <fieldset>
                    <span>Editar</span>
                    <form name="clientForm" role="form" novalidate ng-submit="edit(clientForm, client)">
                        <div class="form-group">
                            <label>Nombre</label>
                            <input type="text" name="name" ng-model="client.name" class="form-control" placeholder="{{client.name}}" required>
                            <small class="error-message" ng-if="clientForm.$validated && clientForm.name.$error.required">Campo
                                requerido</small>
                        </div>
                        <div class="form-group">
                            <label>Apellidos</label>
                            <input type="text" name="lastName" ng-model="client.lastName" class="form-control" placeholder="{{client.lastName}}" required>
                            <small class="error-message" ng-if="clientForm.$validated && clientForm.lastName.$error.required">Campo
                                requerido</small>
                        </div>
                        <div class="form-group">
                            <label>Domicilio</label>
                            <input type="text" name="address" ng-model="client.address" class="form-control" placeholder="{{client.adress}}" required>
                            <small class="error-message" ng-if="clientForm.$validated && clientForm.address.$error.required">Campo
                                requerido</small>
                        </div>
                        <div class="form-group">
                            <label>Ciudad</label>
                            <select name="city" ng-model="client.city" class="form-control" required>
                                <option value="Ensenada">Ensenada</option>
                                <option value="Mexicali">Mexicali</option>
                                <option value="Rosarito">Rosarito</option>
                                <option value="Tecate">Tecate</option>
                                <option value="Tijuana">Tijuana</option>
                            </select>
                            <small class="error-message" ng-if="clientForm.$validated && clientForm.city.$error.required">Campo
                                requerido</small>
                        </div>
                        <div class="form-group">
                            <label>Código postal</label>
                            <input type="text" name="postalCode" maxlength="5" pattern="[0-9]{5}" ng-model="client.postalCode" class="form-control" placeholder="Código Postal" required>
                            <small class="error-message" ng-if="clientForm.$validated && clientForm.postalCode.$error.required">Campo
                                requerido</small>
                            <small class="error-message" ng-if="clientForm.postalCode.$error.pattern">El
                                Código Postal debe tener 5 dígitos</small>
                        </div>
                        <div class="form-group">
                            <label>E-mail</label>
                            <input type="email" name="email" ng-model="client.email" class="form-control" placeholder="{{client.email}}" required>
                            <small class="error-message" ng-if="clientForm.$validated && clientForm.email.$error.required">Campo
                                requerido</small>
                            <small class="error-message" ng-if="clientForm.$validated && clientForm.email.$error.email">El
                                e-mail no es válido</small>
                        </div>
                        <div class="form-group">
                            <label>Teléfono</label>
                            <input type="tel" maxlength="10" pattern name="phoneNumber" ng-model="client.phoneNumber" class="form-control" placeholder="{{client.phoneNumber}}" required>
                            <small class="error-message" ng-if="clientForm.$validated && clientForm.phoneNumber.$error.required">Campo
                                requerido</small>
                            <small class="error-message" ng-if="clientForm.phoneNumber.$error.pattern">El
                                número de teléfono debe tener 10 dígitos</small>
                        </div>
                        <div class="form-group">
                            <label>Tipo</label>
                            <select name="type" ng-model="client.type" class="form-control" selected="{{client.type}}" required>
                                <option value="DIRECT_SALE">
                                    {{pretty('clientType', 'DIRECT_SALE')}}
                                </option>
                                <option value="DISTRIBUTOR_INDEPENDENT">
                                    {{pretty('clientType', 'DISTRIBUTOR_INDEPENDENT')}}
                                </option>
                                <option value="DISTRIBUTOR_PREMIUM">
                                    {{pretty('clientType', 'DISTRIBUTOR_PREMIUM')}}
                                </option>
                                <option value="PROJECTS">
                                    {{pretty('clientType', 'PROJECTS')}}
                                </option>
                                <option value="ARCHITECT_INTERIOR">
                                    {{pretty('clientType', 'ARCHITECT_INTERIOR')}}
                                </option>
                            </select>
                            <small class="error-message" ng-if="clientForm.$validated && clientForm.type.$error.required">Campo
                                requerido</small>
                        </div>
                    </form>
                </fieldset>
            </div>
            <p ng-show="step=='empty'">El cliente no existe</p>
            <p ng-show="step=='loading'">Cargando cliente</p>
            <div>
                <button class="btn btn-primary" ng-click="step='edit'" ng-show="step=='loaded'">Editar</button>
                <button class="btn btn-default" ng-click="loadClient()" ng-show="step=='edit'">Cancelar</button>
                <button class="btn btn-primary" ng-click="edit(clientForm, client)" ng-show="step=='edit'">Guardar</button>
            </div>
        </div>
    </div>
</div>