<div>
    <h3 class="form-title">
        <%= htmlWebpackPlugin.options.change_status.change_status %>
    </h3>
    <form name="statusForm" role="form" novalidate ng-submit="changeOrderStatus(statusForm, status)" autocomplete="off">

        <div class="form-group">
            <label>
                <%= htmlWebpackPlugin.options.change_status.new_status %>
            </label>
            <select name="status" ng-model="status" class="form-control" required="">
                <%= htmlWebpackPlugin.options.change_status.status_options %>    
            </select>
            <small class="error-message" ng-if="statusForm.$validated && statusForm.status.$error.required">
                <%= htmlWebpackPlugin.options.general.required_field %>
            </small>
        </div>
            
        <div>
            <button type="button" class="btn btn-default" ng-click="closeThisDialog('')">
                <%= htmlWebpackPlugin.options.general.cancel %>
            </button>
            <button type="submit" class="btn btn-primary">
                <%= htmlWebpackPlugin.options.general.change %>
            </button>
        </div>

        </form>
    </div>