<div class="commissions-view">
    <div class="ibox">

        <div class="ibox-title">
            <a class="pull-right" ng-click="goto(next)" ng-show="next">
                <%= htmlWebpackPlugin.options.general.next %>
            </a>
            <div class="pull-right month-selected">{{currentLabel}}</div>
            <a class="pull-right" ng-click="goto(past)">
                <%= htmlWebpackPlugin.options.console_costing.previous %>
            </a>
            <h3>
                <%= htmlWebpackPlugin.options.commissions.commisions %>
            </h3>
        </div>

        <div class="ibox-content ">
            <a class="btn btn-success pull-right" ng-hide="!seller || (commissionsAreEmpty)"
               href="{{downloadLink}}" download="Comisiones_{{currentLabel}}.xlsx">
               <%= htmlWebpackPlugin.options.general.download %></a>
               
            <h3 ng-show="!seller  && currentUser.role != 'CONSULTANT'">
                <%= htmlWebpackPlugin.options.commissions.select_agent %>
            </h3>
            <div class="table-filter" ng-show="currentUser.role != 'CONSULTANT'">
                <label>
                    <%= htmlWebpackPlugin.options.commissions.agent %>
                </label>
                <select name="sellers" ng-model="seller" class="form-control" ng-change="selectSeller()"
                        ng-options="seller.id as seller.name + ' ' + seller.lastName for seller in sellers"></select>

                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>

            <div class="consultant-view" ng-show="currentUser.role == 'CONSULTANT'"></div>

            <div ng-if="seller && ready && tableOptionsCommissions">
                <table id="commissions-table" class="table table-striped table-hover" datatable=""
                       dt-options="tableOptionsCommissions" dt-columns="tableColumnsCommissions"></table>
            </div>
        </div>

        <div class="ibox-content">
            <table class="table-totals">
                <tr>
                    <td>
                        <p ng-show="minimumSale" style="line-height: 50px; padding-bottom: 10px" ><span>
                            <%= htmlWebpackPlugin.options.commissions.min_sale %>
                        </span></p>
                        <p ng-show="subtotal"><span style="font-weight: bold">
                            <%= htmlWebpackPlugin.options.commissions.total_sale %>
                        </span></p>
                        <p ng-show="total"><span style="font-weight: bold">
                            <%= htmlWebpackPlugin.options.commissions.total_commisions %>
                        </span> </p>
                        <p ng-show="commissionPaid"><span style="font-weight: bold">
                            <%= htmlWebpackPlugin.options.commissions.pay_commisions %>
                            {{currentMonth}}:</span> </p>
                    </td>

                    <td>
                        <p ng-show="minimumSale" style="line-height: 50px; padding-bottom: 10px"><span>{{minimumSale | currency}}</span></p>
                        <p ng-show="subtotal"><span>{{subtotal | currency}}</span></p>
                        <p ng-show="total"><span>{{total | currency}}</span></p>
                        <p ng-show="commissionPaid"><span>{{commissionPaid | currency}}</span></p>
                    </td>
                </tr>
            </table>
            <div hl-sticky="" options="{ anchor: 'bottom' }" class="comment-popup container" ng-show="addComment">
                <div class="row comment-head">
                    <span class="comment-title">
                        <%= htmlWebpackPlugin.options.commissions.order_no %> #{{orderNo}}</span>
                    <button class="close-button fa fa-close " ng-click="closeCommentPopup()"></button>
                </div>
                <div class="row comment-comments" ng-if="comments && comments.length > 0">
                    <div  ng-repeat="previousComment in comments">
                        <div class="row">
                            <div class="row comments-user"><span>{{previousComment.user.name}} {{previousComment.user.lastName}}</span></div>
                            <div class="row comments-previous-comment"><span>{{previousComment.comment}}</span></div>
                            <div class="row comments-date"><span>{{ previousComment.date | date:'MM/dd/yyyy h:mma '}}</span></div>
                        </div>
                    </div>

                </div>
                <div class="row comment-nocomments" ng-if="comments.length <= 0">
                    <span> <%= htmlWebpackPlugin.options.general.no_comment %></span>
                </div>
                <div class="row comment-body">
                    <textarea ng-model="comment"></textarea>
                </div>
                <div class="row comment-submit">
                    <button ng-if="comment" class="btn btn-primary"  ng-click="sendComment(comment)">
                        <%= htmlWebpackPlugin.options.general.send %>
                    </button>
                    <button ng-if="!comment || comment==''" class="comment-submit btn btn-primary" disabled ng-click="sendComment(comment)">
                        <%= htmlWebpackPlugin.options.general.send %>
                    </button>
                </div>
            </div>
        </div>

    </div>



</div>

