<div class="order-details-view">
    <div class="ibox">
        <div class="ibox-title">
            <h3>Detalles de {{plusType | lowercase}}</h3>
        </div>
        <div class="ibox-content">
            <ul>
                <li ng-show="plus.type"><small>Tipo:</small> <span>{{plus.type}}</span></li>
                <li ng-show="plus.name"><small>Nombre:</small> <span>{{plus.name}}</span></li>
                <li ng-show="plus.priceType"><small>Unidad de Medida:</small> <span>{{plus.priceType | priceType}}</span></li>
                <li ng-show="plus.price"><small>Precio:</small> <span>{{plus.price | currency}}</span></li>
            </ul>
            <div>
                <button class="btn btn-danger delete" ng-click="delete()">Borrar</button>
                <button type="button" class="btn btn-warning" ng-click="editPlusDialog()">Editar</button>
            </div>
        </div>
           
        <p ng-show="step=='empty'">No se encontró el producto</p>
        <p ng-show="step=='loading'">Cargando...</p>
    </div>
</div>

