<div class="payments-view">
	<div class="ibox">

		<div class="ibox-title">
			<a class="pull-right" ng-click="goto(next)" ng-show="next">Siguiente</a>
			<div class="pull-right month-selected">{{currentLabel}}</div>
			<a class="pull-right" ng-click="goto(past)">Anterior</a>
			<h3>Pagos</h3>
		</div>

		<div class="ibox-content">
			<a class="btn btn-success" href="{{downloadLink}}" ng-hide="isEmpty" download="Pagos_{{currentLabel}}.xlsx">Descargar</a>
			<div>
				<table id="payment-table" class="table table-striped table-hover" datatable="" dt-options="tableOptions" dt-columns="tableColumns"></table>
			</div>
			
		</div>

	</div>
</div>