<div class="personal-info-view">
	<div class="ibox float-e-margins col-lg-8">

		<div class="ibox-title"><h3><%= htmlWebpackPlugin.options.client.personal_information %></h3></div>
		<div class="ibox-content">

			<fieldset>
				<form class="form-horizontal" name="formUser" novalidate>

					<div class="form-group">
						<label class="col-lg-2 control-label"><%= htmlWebpackPlugin.options.general.name %></label>
						<div class="col-lg-10">
							<input class="form-control" ng-model="model.name" type="text" name="name" required ng-disabled="!isEditing" />
							<small class="alert" ng-if="formUser.$validated && formUser.name.$error.required">
								<%= htmlWebpackPlugin.options.general.required_field %>
							</small>
						</div>
					</div>

					<div class="form-group">
						<label class="col-lg-2 control-label">
							<%= htmlWebpackPlugin.options.general.last_name %>
						</label>
						<div class="col-lg-10">
							<input class="form-control" ng-model="model.lastName" type="text" name="lastName" required ng-disabled="!isEditing">
							<small class="alert" ng-if="formUser.$validated && formUser.lastName.$error.required">
								<%= htmlWebpackPlugin.options.general.required_field %>
							</small>
						</div>
					</div>

					<div class="form-group">
						<label class="col-lg-2 control-label">
							<%= htmlWebpackPlugin.options.general.email %>
						</label>
						<div class="col-lg-10">
							<input class="form-control" ng-model="model.email" type="email" name="email" required disabled>
							<small class="alert" ng-if="formUser.$validated && formUser.email.$error.required">
								<%= htmlWebpackPlugin.options.general.required_field %>
							</small>
						</div>
					</div>

					<div class="form-group">
                            <label class="col-lg-2 control-label">
								<%= htmlWebpackPlugin.options.general.phone %>
							</label>
                            <div class="col-lg-10">
                            	<input type="tel" maxlength="10" pattern="[0-9]{10}" name="phoneNumber" ng-model="model.phoneNumber" class="form-control" required ng-disabled="!isEditing">
                            	<small class="alert" ng-if="formUser.$validated && formUser.phoneNumber.$error.required">
									<%= htmlWebpackPlugin.options.general.required_field %>
								</small>
								<small class="error-message" ng-if="formUser.phoneNumber.$error.pattern">
									<%= htmlWebpackPlugin.options.general.phone_required %>
								</small>
                            </div>
                        </div>

					<div class="form-group">
						<label class="col-lg-2 control-label">
							<%= htmlWebpackPlugin.options.general.role %>
						</label>
						<div class="col-lg-10">
							<input class="form-control" ng-model="model.role" placeholder="Rol" type="text" disabled>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-4 col-sm-offset-8">
							<button class="btn btn-white pull-right" ng-click="cancel(formUser)" ng-if="isEditing"><%= htmlWebpackPlugin.options.general.cancel %></button>
							<button class="btn btn-success pull-right" ng-click="edit(model, formUser)">
								<%= htmlWebpackPlugin.options.console.is_editing %>
							</button>
						</div>
					</div>
				</form>
			</fieldset>
		</div>
	</div>
</div>
