<div class="products-view">
	<div class="ibox">

		<div class="ibox-title">
			<h3><%= htmlWebpackPlugin.options.general.add %> {{productLabel}}</h3>
		</div>
		<div class="ibox-content">
			<h4><%= htmlWebpackPlugin.options.console.general %></h4>
			<div class="table-filter">
                <label><%= htmlWebpackPlugin.options.console.type %></label>
                <select ng-disabled="products.length > 0" name="type" ng-model="type" class="form-control">
                	<option value="Ingenieria">
						<%= htmlWebpackPlugin.options.console.engeenering %>
					</option>
                	<option value="Laminados">
						<%= htmlWebpackPlugin.options.console.laminates %>
					</option>
                	<option value="Vinil">
						<%= htmlWebpackPlugin.options.console.vynil %>
					</option>
					<option ng-if="productType == 'moldings'" value="Generales">
						<%= htmlWebpackPlugin.options.console.generals %>
					</option>
                </select>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
			<div ng-if="type && productType != 'moldings'">
				<h4><%= htmlWebpackPlugin.options.console.colors %></h4>
				<table id="products-table" class="table table-striped table-hover">
					<thead>
						<tr>
							<%= htmlWebpackPlugin.options.console.product_table %>
						</tr>
					</thead>
					<tbody ng-repeat="product in products">
						<tr>
							<th>{{product.name}}</th>
							<td>{{product.code}}</td>
							<td>{{product.line}}</td>
							<td>{{product.price}}</td>
							<td>{{product.m2Box}}</td>
							<td><i ng-click="removeProduct($index)" class="btn fa fa-times-circle"></i></td>
						</tr>
					</tbody>
				</table>
				<br>
				<br>
				<button type="button" class="btn btn-success" ng-click="addProductDialog()">
					<%= htmlWebpackPlugin.options.general.add %>
				</button>
				<button ng-disabled="products.length < 1" type="button" class="btn btn-primary pull-right" ng-click="saveProducts()">
					<%= htmlWebpackPlugin.options.general.save %>
				</button>
			</div>

			<div ng-if="type && productType == 'moldings'">
				<h4>
					<%= htmlWebpackPlugin.options.console.moldings %></h4>
				<table id="moldings-table" class="table table-striped table-hover">
					<thead>
					<tr>
						<%= htmlWebpackPlugin.options.console.moldings_table %>
					</tr>
					</thead>
					<tbody ng-repeat="product in products">
					<tr>
						<th>{{product.name}}</th>
						<td>{{product.priceType | priceType}}</td>
						<td>{{product.price}}</td>
						<td><i ng-click="removeProduct($index)" class="btn fa fa-times-circle"></i></td>
					</tr>
					</tbody>
				</table>
				<br>
				<br>
				<button type="button" class="btn btn-success" ng-click="addProductDialog()">
					<%= htmlWebpackPlugin.options.general.add %>
				</button>
				<button ng-disabled="products.length < 1" type="button" class="btn btn-primary pull-right" ng-click="saveProducts()">
					<%= htmlWebpackPlugin.options.general.save %>
				</button>
			</div>

		</div>
	</div>
</div>