<div class="order-details-view">
    <div class="ibox">
        <div class="ibox-title">
            <h3>
                <%= htmlWebpackPlugin.options.console.product_details %>
            </h3>
        </div>
        <div class="ibox-content">
            <ul>
                <li ng-show="product.type"><small>
                    <%= htmlWebpackPlugin.options.console.type %>
                </small> <span>{{product.type}}</span></li>
                <li ng-show="product.name"><small>
                    <%= htmlWebpackPlugin.options.console.name %>
                </small> <span>{{product.name}}</span></li>
                <li ng-show="product.code"><small>
                    <%= htmlWebpackPlugin.options.console.code %>
                </small> <span>{{product.code}}</span></li>
                <li ng-show="product.line"><small>
                    <%= htmlWebpackPlugin.options.console.line %>
                </small> <span>{{product.line}}</span></li>
                <li ng-show="product.priceType"><small>
                    <%= htmlWebpackPlugin.options.console.price_type %>
                </small> <span>{{product.priceType | priceType}}</span></li>
                <li ng-show="product.m2Box"><small>
                    <%= htmlWebpackPlugin.options.console.meters_per_box %>
                </small> <span>{{product.m2Box}}</span></li>
                <li ng-show="product.price"><small>
                    <%= htmlWebpackPlugin.options.console.box_price %>
                </small> <span>{{product.price | currency}}</span></li>
                <li ng-show="product.installationPrice"><small>
                    <%= htmlWebpackPlugin.options.console.installation_per_meter %>
                    <sup>2</sup>:</small> <span>{{product.installationPrice | currency}} dll{{ product.installationPrice != 1 ? 's' : '' }}</span></li>
                <li><small>MRP:</small> <span>{{product.mrp}}</span></li>
            </ul>
            <div>
                <button class="btn btn-danger delete" ng-click="delete()" ng-show="!product.deleted">
                    <%= htmlWebpackPlugin.options.general.erase %>
                </button>
                <button type="button" class="btn btn-warning" ng-click="editProductDialog()">
                    <%= htmlWebpackPlugin.options.general.edit %>
                </button>
            </div>
        </div>
           
        <p ng-show="step=='empty'"><%= htmlWebpackPlugin.options.general.product_not_found %></p>
        <p ng-show="step=='loading'"> <%= htmlWebpackPlugin.options.general.loading %> ...</p>
    </div>
</div>

