<div class="ibox-title">
  <h3><%=htmlWebpackPlugin.options.stadistics.stadistics%></h3>
</div>
<div style="width: 100%; height: 85vh; display: flex; justify-content: center; align-items: center;">
  
  <iframe style="width: 100%; height: 100%; "
  ng-style="{'height': iframeHeight}"
  src="https://lookerstudio.google.com/embed/reporting/da0f6d6c-9873-4096-a084-c8a3412a22b5/page/yHSoD" 
  frameborder="0" 
  allowfullscreen>
</iframe>
</div>
<!-- <script>
  function resizeIframe() {
    var height = window.innerHeight;
    console.log(height)
    var iframe = document.getElementById('myIframe');
    iframe.style.height = height + 'px';
  }
  window.onload = resizeIframe;
  window.onresize = resizeIframe;
</script> -->