<div>
    <h3 ng-if="order.providerId" class="form-title">
        <%= htmlWebpackPlugin.options.console.update_provider %>
    </h3> 
    <h3 ng-if="!order.providerId" class="form-title">
        Asignar ID de Proveedor
    </h3>
    <form name="providerForm" role="form" novalidate ng-submit="updateProvider(providerForm, providerId)" 
    autocomplete="off">

        <div class="form-group">
            <label><%= htmlWebpackPlugin.options.order_list.supplier  %></label>
            <input hard-cap="false" type="text" name="providerId" ng-model="providerId" class="form-control" required="">
            <small class="error-message" ng-if="providerForm.$validated && providerForm.providerId.$error.required">
                <%= htmlWebpackPlugin.options.general.required_field  %>
            </small>
        </div>

        <div>
            <button type="button" class="btn btn-default" ng-click="closeThisDialog('')">
                <%= htmlWebpackPlugin.options.general.cancel %>
            </button>
            <button type="submit" class="btn btn-primary">
                <%= htmlWebpackPlugin.options.general.save %>
            </button>
        </div>

    </form>
</div>