<div>
	<legend>
		<%= htmlWebpackPlugin.options.modals.admission_xml %>
	</legend>
	<input type="file" accept="text/xml,application/xml" multiple="true" id="fileUpload" name="file" onchange="angular.element(this).scope().selectFile(this.files)"/>
	<span class="text-danger" ng-if="fileEmpty">
		<%= htmlWebpackPlugin.options.modals.empty_file %>
	</span>
	<br>
	<button type="button" class="btn btn-primary" ng-click="uploadBill()" ng-disabled="!fileValid" ng-hide="uploading"> 
		<%= htmlWebpackPlugin.options.modals.load_recipt %>
	</button>
	<img ng-show="uploading" class="spinner-img" src="img/spinner.gif">
	<button type="button" class="btn btn-default" ng-hide="uploading" ng-click="closeThisDialog()"> 
		<%= htmlWebpackPlugin.options.general.cancel %>	
	</button>
</div>
