<table class="table table-striped  table-hover" datatable="ng" dt-options="tableOptions" dt-column-defs="tableColumns">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Total</th>
            
            <th>Obs.</th>
        </tr>
    </thead>
    <tbody ng-repeat="p in products">
        <tr>
            <td>{{p.productType}}</td>
            <td>{{p.quantity}}</td>
            <td>{{p.total | currency}}</td>

            <td><button class="btn btn-info" ng-disabled="!p.notes" ng-click="showProductNotes(p.notes)">Ver</button></td>
        </tr>
    </tbody>
</table>
