<div class="products-view">
  <div class="ibox">

    <div class="ibox-title">
      <h3 data-t>views.console.inventory.new.title</h3>
    </div>
    <div class="ibox-content">
      <h4 data-t>views.console.inventory.new.general</h4>
      <div class="table-filter">
        <label data-t>views.console.inventory.new.warehouse</label>
        <select name="warehouses" id="warehouses" ng-model="warehouse" ng-disabled="products.length > 0">
          <option ng-repeat="warehouse in warehouses" value="{{ warehouse }}">{{warehouse.name}}</option>
        </select>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div ng-if="products.length">
        <h4 data-t>views.console.inventory.new.entries</h4>
        <table id="products-table" class="table table-striped table-hover">
          <thead>
            <tr>
              <th data-t>views.console.inventory.new.product</th>
              <th data-t>views.console.cinventory.new.color</th>
              <th data-t>views.console.inventory.new.amount<small data-t>views.console.inventory.new.boxes</small></th>
              <th data-t>views.console.inventory.new.cost<small data-t>views.console.inventory.new.per_box</small></th>
              <th>Descripción</th>
              <th></th>
            </tr>
          </thead>
          <tbody ng-repeat="item in products">
            <tr>
              <td>{{item.type}}</td>
              <td>{{item.color.name}}</td>
              <td>{{item.quantity}}</td>
              <td>${{item.cost}}</td>
              <td>{{item.description}}</td>
              <td><i ng-click="removeProduct($index)" class="btn fa fa-times-circle"></i></td>
            </tr>
          </tbody>
        </table>
      </div>
      <button ng-show="warehouse" type="button" class="btn btn-success" ng-click="addProductForm()" data-t>views.console.inventory.new.add</button>
      <button ng-hide="products.length == 0" type="button" class="btn btn-primary pull-right" ng-click="saveProducts()" data-t>views.console.inventory.new.save</button>
    </div>
  </div>
</div>
