<div class="balances-view">
    <h3 class="form-title"><%= htmlWebpackPlugin.options.balance.balances%></h3>
    <small class="error-message" ng-if="balance.doable==false"><%= htmlWebpackPlugin.options.quote_commons.no_doable%></small>
    <form name="balanceForm" role="form" novalidate ng-submit="addProduct('Balance', balanceForm, balance)" autocomplete="off">

        <div class="form-group">
            <label><%= htmlWebpackPlugin.options.quote_commons.quantity%></label>
            <input type="number" min="1" value="1" name="quantity" ng-model="balance.quantity" class="form-control" ng-change="updatePrices('Balance', balance)" step="1" required="" pattern="[0-9]*">
            <small class="error-message" ng-if="balanceForm.$validated && balanceForm.quantity.$error.required"><%= htmlWebpackPlugin.options.general.required_field %></small>
        </div>
        <div class="form-group">
            <label><%= htmlWebpackPlugin.options.quote_commons.room%></label>
            <input type="text" name="location" ng-model="balance.location" class="form-control" required="">
            <small class="error-message" ng-if="balanceForm.$validated && balanceForm.location.$error.required"><%= htmlWebpackPlugin.options.general.required_field %></small>
        </div>
        <div class="form-group">
            <label><%= htmlWebpackPlugin.options.quote_commons.type%></label>
            <select name="type" ng-model="balance.type" class="form-control" ng-change="updateType('Balance', balance)" required="">
                <%= htmlWebpackPlugin.options.balance.types%>
            </select>
            <small class="error-message" ng-if="balanceForm.$validated && balanceForm.type.$error.required"><%= htmlWebpackPlugin.options.general.required_field %></small>
        </div>

        <div ng-if="balance.type =='Wrapped Cornice' || balance.type == 'Aluminum Gallery' " class="form-group">
            <label><%= htmlWebpackPlugin.options.balance.mount%> </label>
            <select name="type" ng-model="balance.config" class="form-control"  required=""
            ng-options="obj for obj in balancesData.config.Mount[balance.type]"
            >

            </select>
            <small class="error-message" ng-if="balanceForm.$validated && balanceForm.type.$error.required"><%= htmlWebpackPlugin.options.general.required_field %></small>
        </div>

        <div class="form-group" ng-if="balance.type!='Wrapped Cornice'">
            <label ng-hide="showSpinner"><%= htmlWebpackPlugin.options.quote_commons.color%></label>
            <input ng-hide="showSpinner" type="text" name="color" ng-model="color" id="color" ng-disabled="!balance.type" class="form-control" value="{{modaa}}" required="" uib-typeahead="color.label for color in balance.colors | filter: $viewValue | limitTo:12" typeahead-editable="false" typeahead-on-select="colorSelected($item, 'Balance', balance)">
            <small ng-hide="showSpinner" class="error-message" ng-if="balanceForm.$validated && balanceForm.color.$error.required"><%= htmlWebpackPlugin.options.general.required_field %></small>
            <img ng-show="showSpinner" class="spinner-img" src="img/spinner.gif">
        </div>

        <div class="form-group" ng-if="balance.type=='Wrapped Cornice'">
            <label ng-hide="showSpinner"><%= htmlWebpackPlugin.options.balance.textil%></label>
            <input ng-hide="showSpinner" type="text" name="textil" ng-model="color" id="textil" ng-disabled="!balance.type" class="form-control"  required="" uib-typeahead="color.textil +'-'+ color.label for color in balance.colors | filter: $viewValue | limitTo:12" typeahead-editable="false" typeahead-on-select="colorSelected($item, 'Balance', balance)">
            <small ng-hide="showSpinner" class="error-message" ng-if="balanceForm.$validated && balanceForm.color.$error.required"><%= htmlWebpackPlugin.options.general.required_field %></small>
            <img ng-show="showSpinner" class="spinner-img" src="img/spinner.gif">
        </div>


        <div  ng-if="balance.type =='Wrapped Cornice' || balance.type == 'Aluminum Gallery' " class="form-group">
            <label><%= htmlWebpackPlugin.options.balance.heights%> </label>

            <select name="height" id="height" ng-model="balance.height"  class="form-control" ng-change="changeSimpleHeight('Balance',balance)" required="">
            <option ng-repeat =' (disp,val) in balancesData.config.Heights[balance.type]' ng-value={{val[1]}}>{{val[0] + " " +balancesData.config.units }}</option>
            
        </select>

            <small class="error-message" ng-if="balanceForm.$validated && balanceForm.height.$error.required"><%= htmlWebpackPlugin.options.general.required_field %>.</small>
        </div>

        <div  ng-if="balance.type =='Wrapped Cornice' || balance.type == 'Aluminum Gallery' " class="form-group">
            <label><%= htmlWebpackPlugin.options.balance.width%></label>
            <div style="display:flex">
            <input <%= htmlWebpackPlugin.options.features.fractions_style%> type="number" name="width" id="width" ng-model="balance.width" min="<%= htmlWebpackPlugin.options.features.min%>" class="form-control" ng-change="changeSimpleWidth('Balance', balance)" required="" step="<%= htmlWebpackPlugin.options.features.step%>">
            <% if(htmlWebpackPlugin.options.features.fractions){%>
                <select style="width: min-content;" name="extra" ng-model="balance.w_fraction" class="form-control" ng-change="changeSimpleWidth('Balance', balance)">
                    <option value={{0}}>0</option>
                    <option value={{0.125}}>⅛</option>
                    <option value={{0.25}}>¼</option>
                    <option value={{0.375}}>⅜</option>
                    <option value={{0.5}}>½</option>
                    <option value={{0.625}}>⅝</option>
                    <option value={{0.75}}>¾</option>
                    <option value={{0.875}}>⅞</option>
                  </select>
            <%}%>
            </div>
            <small class="error-message" ng-if="balanceForm.$validated && balanceForm.width.$error.required"><%= htmlWebpackPlugin.options.general.required_field %></small>
        </div>


        <div  ng-if="balance.type !='Wrapped Cornice' && balance.type != 'Aluminum Gallery'" class="form-group">
            <label><%= htmlWebpackPlugin.options.balance.width%></label>
            <div style="display:flex">
            <input <%= htmlWebpackPlugin.options.features.fractions_style%> type="number" name="width" id="width" ng-model="balance.width" min="<%= htmlWebpackPlugin.options.features.min%>" class="form-control" ng-change="changeSimpleWidth('Balance', balance)" required="" step="<%= htmlWebpackPlugin.options.features.step%>">
            <% if(htmlWebpackPlugin.options.features.fractions){%>
                <select style="width: min-content;" name="extra" ng-model="balance.w_fraction" class="form-control" ng-change="changeSimpleWidth('Balance', balance)">
                    <option value={{0}}>0</option>
                    <option value={{0.125}}>⅛</option>
                    <option value={{0.25}}>¼</option>
                    <option value={{0.375}}>⅜</option>
                    <option value={{0.5}}>½</option>
                    <option value={{0.625}}>⅝</option>
                    <option value={{0.75}}>¾</option>
                    <option value={{0.875}}>⅞</option>
                  </select>
            <%}%>
            </div>
            <small class="error-message" ng-if="balanceForm.$validated && balanceForm.width.$error.required"><%= htmlWebpackPlugin.options.general.required_field %></small>
        </div>

        <div  ng-if="balance.type !='Wrapped Cornice' && balance.type != 'Aluminum Gallery'" class="form-group">
            <label><%= htmlWebpackPlugin.options.balance.height%></label>
            <div style="display:flex">
            <input <%= htmlWebpackPlugin.options.features.fractions_style%>  type="number" name="height" id="height" ng-model="balance.height" min="<%= htmlWebpackPlugin.options.features.min%>" class="form-control" required="" step="<%= htmlWebpackPlugin.options.features.step%>" ng-change="changeSimpleHeight('Balance', balance)">
            <% if(htmlWebpackPlugin.options.features.fractions){%>
                <select style="width: min-content;" name="extra" ng-model="balance.h_fraction" class="form-control" ng-change="changeSimpleHeight('Balance', balance)">
                    <option value={{0}}>0</option>
                    <option value={{0.125}}>⅛</option>
                    <option value={{0.25}}>¼</option>
                    <option value={{0.375}}>⅜</option>
                    <option value={{0.5}}>½</option>
                    <option value={{0.625}}>⅝</option>
                    <option value={{0.75}}>¾</option>
                    <option value={{0.875}}>⅞</option>
                  </select>
            <%}%>
            </div>
            <small class="error-message" ng-if="balanceForm.$validated && balanceForm.height.$error.required"><%= htmlWebpackPlugin.options.general.required_field %></small>
        </div>

        <% if(htmlWebpackPlugin.options.balance.balance_field){%>
        <div  ng-if="balance.type !='Wrapped Cornice' && balance.type != 'Aluminum Gallery'" class="form-group">
            <label><%= htmlWebpackPlugin.options.balance.way%></label>
            <input type="number" name="tapa" ng-model="balance.tapa" min="0" class="form-control" required="">
            <small class="error-message" ng-if="balanceForm.$validated && balanceForm.tapa.$error.required"><%= htmlWebpackPlugin.options.general.required_field %></small>
        </div>
        <%}%>
        <div class="form-group">
            <label><%= htmlWebpackPlugin.options.balance.right_return%></label>
            <div style="display:flex">
            <input <%= htmlWebpackPlugin.options.features.fractions_style%>  type="number" name="retornoDerecho" ng-model="balance.retornoDerecho" min="<%= htmlWebpackPlugin.options.features.min%>" class="form-control" required="">
            <% if(htmlWebpackPlugin.options.features.fractions){%>
                <select style="width: min-content;" name="extra" ng-model="balance.rd_fraction" class="form-control" >
                    <option value={{0}}>0</option>
                    <option value={{0.125}}>⅛</option>
                    <option value={{0.25}}>¼</option>
                    <option value={{0.375}}>⅜</option>
                    <option value={{0.5}}>½</option>
                    <option value={{0.625}}>⅝</option>
                    <option value={{0.75}}>¾</option>
                    <option value={{0.875}}>⅞</option>
                  </select>
            <%}%>
        </div>
            <small class="error-message" ng-if="balanceForm.$validated && balanceForm.retornoDerecho.$error.required"><%= htmlWebpackPlugin.options.general.required_field %></small>
        </div>
        <div class="form-group">
            <label><%= htmlWebpackPlugin.options.balance.left_return%></label>
            <div style="display:flex">
            <input <%= htmlWebpackPlugin.options.features.fractions_style%>  type="number" name="retornoIzquierdo" ng-model="balance.retornoIzquierdo" min="<%= htmlWebpackPlugin.options.features.min%>" class="form-control" required="">
            <% if(htmlWebpackPlugin.options.features.fractions){%>
                <select style="width: min-content;" name="extra" ng-model="balance.ri_fraction" class="form-control">
                    <option value={{0}}>0</option>
                    <option value={{0.125}}>⅛</option>
                    <option value={{0.25}}>¼</option>
                    <option value={{0.375}}>⅜</option>
                    <option value={{0.5}}>½</option>
                    <option value={{0.625}}>⅝</option>
                    <option value={{0.75}}>¾</option>
                    <option value={{0.875}}>⅞</option>
                  </select>
            <%}%>
        </div>
            <small class="error-message" ng-if="balanceForm.$validated && balanceForm.retornoIzquierdo.$error.required"><%= htmlWebpackPlugin.options.general.required_field %></small>
        </div>


        <div class="form-group notes">
            <label><%= htmlWebpackPlugin.options.quote_commons.notes%></label>
            <textarea name="notes" ng-model="balance.notes" class="form-control"></textarea>
        </div>

        <div class="total-configuration">
            <% if(htmlWebpackPlugin.options.balance.balance_field){%>
            <div ng-if="balance.type !='Wrapped Cornice' && balance.type != 'Aluminum Gallery'" class="form-group" ng-show="balance.unit">
                <label><%= htmlWebpackPlugin.options.quote_commons.meter_price%></label>
                <input ng-currency type="text" name="unit" ng-model="balance.unit" class="form-control" disabled="disabled" placeholder="{{balance.unit}}">
            </div>
            <%}%>
            <div class="form-group" ng-show="balance.price">
                <label><%= htmlWebpackPlugin.options.quote_commons.unit_price%></label>
                <input ng-currency type="text" name="price" ng-model="balance.price" class="form-control" disabled="disabled" placeholder="${{balance.price}}">
            </div>
            <div class="form-group" ng-show="balance.total">
                <label><%= htmlWebpackPlugin.options.quote_commons.total%></label>
                <input ng-currency type="text" name="total" ng-model="balance.total" class="form-control" disabled="disabled" placeholder="{{balance.total}}">
            </div>
        </div>

        <div>
            <button type="button" class="btn btn-default" ng-click="cancelProduct(balanceForm)"><%= htmlWebpackPlugin.options.general.cancel%></button>
            <button type="submit" class="btn btn-primary"><%= htmlWebpackPlugin.options.general.add%></button>
        </div>
        
    </form>
</div>
