<table class="table table-striped  table-hover" datatable="ng" dt-options="tableOptions" id="productsTable">
    <thead>
        <tr>
            <th><%= htmlWebpackPlugin.options.details_headers.item%></th>
            <th><%= htmlWebpackPlugin.options.details_headers.qty%></th>
            <th><%= htmlWebpackPlugin.options.details_headers.location%></th>
            <th><%= htmlWebpackPlugin.options.details_headers.type%></th>

            <th><%= htmlWebpackPlugin.options.details_headers.width%></th>
            <th><%= htmlWebpackPlugin.options.details_headers.height%></th>
            <th><%= htmlWebpackPlugin.options.details_headers.color%>/Fabric</th>

            <th><%= htmlWebpackPlugin.options.details_headers.unit_price%></th>
            <th><%= htmlWebpackPlugin.options.details_headers.total%></th>

            <th><%= htmlWebpackPlugin.options.details_headers.notes%></th>

        </tr>
    </thead>
    <tbody ng-repeat="p in productTypeList.products">
        <tr>
            <td>{{p.item}}</td>
            <td>{{p.quantity}}</td>
            <td>{{p.location}}</td>
            <td>{{typeTranslate(p.type)}}</td>

            <td><%= htmlWebpackPlugin.options.details_headers.units_width%></td>
            <td><%= htmlWebpackPlugin.options.details_headers.units_height%></td>
            <td>{{p.type=="Wrapped Cornice" ? p.textil : p.color}}</td>

            <td>{{p.price | currency}}</td>
            <td>{{p.total | currency}}</td>

            <td><button class="btn btn-info" ng-disabled="!p.notes" ng-click="showProductNotes(p.notes)"><%= htmlWebpackPlugin.options.details_headers.view%></button></td>
        </tr>
    </tbody>
</table>
