<div class="client-new-view">

    <h3 class="form-title">Nuevo Cliente</h3>

    <div class="ibox-content">
        <form name="clientForm" role="form" novalidate ng-submit="saveClient(clientForm, client)">

            <div class="form-group">
                <label>Nombre</label>
                <input type="text" name="name" ng-model="client.name" class="form-control" required="">
                <small class="error-message" ng-if="clientForm.$validated && clientForm.name.$error.required">Campo requerido</small>
            </div>

            <div class="form-group">
                <label>Apellidos</label>
                <input type="text" name="lastName" ng-model="client.lastName" class="form-control" required="">
                <small class="error-message" ng-if="clientForm.$validated && clientForm.lastName.$error.required">Campo requerido</small>
            </div>

            <div class="form-group">
                <label>Domicilio</label>
                <input type="text" name="address" ng-model="client.address" class="form-control" required="">
                <small class="error-message" ng-if="clientForm.$validated && clientForm.address.$error.required">Campo requerido</small>
            </div>
            <div class="form-group">
                <label>Ciudad</label>
                <select name="city" ng-model="client.city" class="form-control" required="">
                    <option value="Ensenada">Ensenada</option>
                    <option value="Mexicali">Mexicali</option>
                    <option value="Rosarito">Rosarito</option>
                    <option value="Tecate">Tecate</option>
                    <option value="Tijuana">Tijuana</option>
                </select>
                <small class="error-message" ng-if="clientForm.$validated && clientForm.city.$error.required">Campo requerido</small>
            </div>
            <div class="form-group">
                <label>Código postal</label>
                <input type="text" maxlength="5" pattern="[0-9]{5}" name="postalCode" ng-model="client.postalCode" class="form-control" required="">
                <small class="error-message" ng-if="clientForm.$validated && clientForm.postalCode.$error.required">Campo requerido</small>
                <small class="error-message" ng-if="clientForm.postalCode.$error.pattern">El Código Postal debe tener 5 dígitos</small>

            </div>
            <div class="form-group">
                <label>E-mail</label>
                <input type="email" name="email" ng-model="client.email" class="form-control" required="">
                <small class="error-message" ng-if="clientForm.$validated && clientForm.email.$error.required">Campo requerido</small>
                <small class="error-message" ng-if="clientForm.$validated && clientForm.email.$error.email">El e-mail no es válido</small>
            </div>
            <div class="form-group">
                <label>Teléfono</label>
                <input type="tel" maxlength="10" pattern="[0-9]{10}" name="phoneNumber" ng-model="client.phoneNumber" class="form-control" required="">
                <small class="error-message" ng-if="clientForm.$validated && clientForm.phoneNumber.$error.required">Campo requerido</small>
                <small class="error-message" ng-if="clientForm.phoneNumber.$error.pattern">El número de teléfono debe tener 10 dígitos</small>

            </div>

            <div class="form-group">
                <label>Tipo</label>
                <select name="type" ng-model="client.type" class="form-control" required="">
                    <option value="DIRECT_SALE">{{pretty( 'clientType', 'DIRECT_SALE')}}</option>
                    <option value="DISTRIBUTOR_INDEPENDENT">{{pretty( 'clientType', 'DISTRIBUTOR_INDEPENDENT')}}</option>
                    <option value="DISTRIBUTOR_PREMIUM">{{pretty( 'clientType', 'DISTRIBUTOR_PREMIUM')}}</option>
                    <option value="PROJECTS">{{pretty( 'clientType', 'PROJECTS')}}</option>
                    <option value="ARCHITECT_INTERIOR">{{pretty( 'clientType', 'ARCHITECT_INTERIOR')}}</option>
                </select>
                <small class="error-message" ng-if="clientForm.$validated && clientForm.type.$error.required">Campo requerido</small>
            </div>

            <div>
                <button type="submit" class="btn btn-primary-left">Guardar</button>
                <button type="button" class="btn btn-tertiary-left" ng-click="cancelNewClient()">Cancelar</button>
            </div>

        </form>
    </div>
</div>
