<table class="table table-striped  table-hover" datatable="ng" dt-options="tableOptions" dt-column-defs="tableColumns">
    <thead>
        <tr>
            <th><%= htmlWebpackPlugin.options.details_headers.item%></th>
            
            <th><%= htmlWebpackPlugin.options.details_headers.qty%></th>
            <th><%= htmlWebpackPlugin.options.details_headers.location%></th>
            <% if (htmlWebpackPlugin.options.features.city) {%>
            <th><%= htmlWebpackPlugin.options.details_headers.type%></th>
            <%}%>
            <th><%= htmlWebpackPlugin.options.details_headers.finish%></th>
            <th><%= htmlWebpackPlugin.options.details_headers.textil%></th>
            <th><%= htmlWebpackPlugin.options.details_headers.color%></th>
            <th><%= htmlWebpackPlugin.options.details_headers.height%></th>
            <th><%= htmlWebpackPlugin.options.details_headers.width%></th>
            <th><%= htmlWebpackPlugin.options.details_headers.opening%></th>
            <th><%= htmlWebpackPlugin.options.details_headers.installation %></th>
            <th><%= htmlWebpackPlugin.options.details_headers.unit_price%></th>
            <th><%= htmlWebpackPlugin.options.details_headers.total%></th>
            
            <th><%= htmlWebpackPlugin.options.details_headers.notes%></th>
        </tr>
    </thead>
    <tbody ng-repeat="p in products">
        <tr>
            <td>{{p.item}}</td>
            <td>{{p.quantity}}</td>
            <td>{{p.location}}</td>
            <% if (htmlWebpackPlugin.options.features.city) {%>
            <td>{{p.productType}}</td>
            <%}%>
            <td>{{p.finish}}</td>
            <td>{{p.color.textil}}</td>
            <td>{{p.color.name}}</td>
            <td><%= htmlWebpackPlugin.options.details_headers.units_height%></td>
            <td><%= htmlWebpackPlugin.options.details_headers.units_width%></td>
            <td>{{p.opening}}</td>
            <td>{{p.installation}}</td>
            <td>{{p.price | currency}}</td>
            <td>{{p.total | currency}}</td>

            <td><button class="btn btn-info" ng-disabled="!p.notes" ng-click="showProductNotes(p.notes)"><%= htmlWebpackPlugin.options.details_headers.view%></button></td>
        </tr>
    </tbody>
</table>
