<table class="table table-striped  table-hover" datatable="ng" dt-options="tableOptions" dt-column-defs="tableColumns">
    <thead>
        <tr>
            <th>Item</th>
            
            <th>Cantidad</th>
            <th>Ubicacion</th>
            <th>Tipo</th>
            <th>Acabado</th>
            <th>Textil</th>
            <th>Color</th>
            <th>Ancho</th>
            <th>Alto</th>
            <th>Apertura</th>
            <th>Instalación</th>
            <th>Precio Unitario</th>
            <th>Total</th>
            
            <th>Obs.</th>
        </tr>
    </thead>
    <tbody ng-repeat="p in products">
        <tr>
            <td>{{p.item}}</td>
            <td>{{p.quantity}}</td>
            <td>{{p.location}}</td>
            <td>{{p.productType}}</td>
            <td>{{p.finish}}</td>
            <td>{{p.color.textil}}</td>
            <td>{{p.color.name}}</td>
            <td>{{p.width}}</td>
            <td>{{p.height}}</td>
            <td>{{p.opening}}</td>
            <td>{{p.installation}}</td>
            <td>{{p.price | currency}}</td>
            <td>{{p.total | currency}}</td>

            <td><button class="btn btn-info" ng-disabled="!p.notes" ng-click="showProductNotes(p.notes)">Ver</button></td>
        </tr>
    </tbody>
</table>
