<div class="customs-view">
    <h3 class="form-title"><%= htmlWebpackPlugin.options.custom.custom%></h3>
    <form name="customForm" role="form" ng-submit="addProduct('Custom', customForm, custom)" autocomplete="off">

        <div ng-show="sellerStep=='empty'">
            <label><%= htmlWebpackPlugin.options.custom.seller%></label>
            <input id="seller" type="text" name="seller" ng-model="quote.seller" class="form-control" required="true" uib-typeahead="seller.name + ' ' + seller.lastName for seller in findSellers($viewValue)" typeahead-editable="false" typeahead-on-select="selectSeller($item)" typeahead-input-formatter="$model.name + ' ' + $model.lastName" typeahead-template-url="js/controllers/clients/client-typeahead.html" typeahead-loading="sellersLoading" typeahead-no-results="sellersNotFound">
            <small ng-if="sellersLoading"><%= htmlWebpackPlugin.options.general.searching%>...</small>
            <small class="error-message" ng-if="sellersNotFound"><%= htmlWebpackPlugin.options.general.no_seller%></small>
            <small class="error-message" ng-if="customForm.$validated && !quote.seller">Campo requerido</small>
        </div>

        <div ng-show="sellerStep=='selected'">
            <ul class="client-data">
                <li><small><%= htmlWebpackPlugin.options.general.name%>:</small> {{quote.seller.name + ' ' + quote.seller.lastName}}</li>
                <li><small><%= htmlWebpackPlugin.options.general.email%>:</small> {{quote.seller.email}}</li>
                <li><small><%= htmlWebpackPlugin.options.general.phone %>:</small> {{quote.seller.phoneNumber}}</li>
            </ul>
            <button type="button" class="btn btn-default" ng-if="editing == false" ng-click="changeSeller()">
                <%= htmlWebpackPlugin.options.custom.change_seller%>
            </button>
        </div>
        <br>

        <div class="form-group">
            <label><%= htmlWebpackPlugin.options.quote_commons.quantity%></label>
            <input type="number" min="1" value="1" name="quantity" ng-model="custom.quantity" class="form-control" step="1" required="" pattern="[0-9]*">
            <small class="error-message" ng-if="customForm.$validated && customForm.quantity.$error.required">Campo requerido</small>
        </div>

        <div class="form-group" >
            <label><%= htmlWebpackPlugin.options.quote_commons.price%></label>
            <input ng-currency type="text" name="price" ng-model="custom.price" min="0.01" class="form-control" required="">
            <small class="error-message" ng-if="customForm.$validated && customForm.price.$error.required">Campo requerido</small>
            <small class="error-message" ng-if="customForm.$validated && customForm.price.$error.min">
                <%= htmlWebpackPlugin.options.custom.invalid_price%>
            </small>
        </div>

        <div class="form-group">
            <label><%= htmlWebpackPlugin.options.custom.product_type%></label>
            <select name="type" ng-model="custom.type" class="form-control" required="">
                <%= htmlWebpackPlugin.options.custom.product_types%>
            </select>
            <small class="error-message" ng-if="customForm.$validated && customForm.type.$error.required">Campo requerido</small>
        </div>
     <!--   <div>
            <label>Fecha de Compromiso</label>
            <div uib-datepicker ng-model="date" ng-change="dateChanged(this)"></div>
            <small> Fecha Seleccionada: </small> 
            <span>{{ date | date : 'shortDate'}}</span>
            <br>
        </div>-->

        <div>
            <button type="submit" class="btn btn-primary"><%= htmlWebpackPlugin.options.general.add%></button>
        </div>
        
    </form>
</div>