<table class="table table-striped  table-hover" datatable="ng" dt-options="tableOptions" dt-column-defs="tableColumns">
    <thead>
        <tr>
            <th><%= htmlWebpackPlugin.options.details_headers.product%></th>
            <th><%= htmlWebpackPlugin.options.details_headers.quantity%></th>
            <th><%= htmlWebpackPlugin.options.details_headers.total%></th>
            
            <th><%= htmlWebpackPlugin.options.details_headers.notes%></th>
        </tr>
    </thead>
    <tbody ng-repeat="p in products">
        <tr>
            <td>{{pretty('productType', p.type)}}</td>
            <td>{{p.quantity}}</td>
            <td>{{p.total | currency}}</td>

            <td><button class="btn btn-info" ng-disabled="!p.notes" ng-click="showProductNotes(p.notes)"><%= htmlWebpackPlugin.options.details_headers.view%></button></td>
        </tr>
    </tbody>
</table>
