<div class="quote-view">
  <h3 class="form-title"><%= htmlWebpackPlugin.options.enrollable.shades%></h3>
  <small class="error-message alert" ng-if="enrollable.doable==false">
    <%= htmlWebpackPlugin.options.quote_commons.no_doable %>
  </small>
  <form name="enrollableForm" role="form" novalidate ng-submit="addProduct('Enrollable', enrollableForm, enrollable)"
    autocomplete="off">
    <div class="form-group">
      <label><%= htmlWebpackPlugin.options.quote_commons.qty%></label>
      <input type="number" min="1" value="1" step="1" name="quantity" ng-model="enrollable.quantity"
        class="form-control" ng-change="updatePrices('Enrollable', enrollable)" pattern="[0-9]*" required="">
      <small class="error-message" ng-if="enrollableForm.$validated && enrollableForm.quantity.$error.required">Campo
        requerido</small>
    </div>
    <div class="form-group">
      <label><%= htmlWebpackPlugin.options.quote_commons.room %></label>
      <input type="text" name="location" ng-model="enrollable.location" class="form-control" required="">
      <small class="error-message" ng-if="enrollableForm.$validated && enrollableForm.location.$error.required">Campo
        requerido</small>
    </div>
    <div class="form-group">
      <label><%= htmlWebpackPlugin.options.quote_commons.type%></label>
      <select name="type" ng-model="enrollable.type" ng-change="updateType('Enrollable', enrollable, color)"
        class="form-control" required="">
        <%= htmlWebpackPlugin.options.enrollable.type_options%>
      </select>
      <small class="error-message" ng-if="enrollableForm.$validated && enrollableForm.type.$error.required">Campo
        requerido</small>
    </div>


    <div class="form-group" ng-show="productMeta.systems">
      <label><%= htmlWebpackPlugin.options.enrollable.system%></label>
      <select name="system" ng-required="productMeta.systems" ng-model="enrollable.system" class="form-control"
        ng-change="updatePrices('Enrollable', enrollable)">
        <option ng-repeat="system in productMeta.systems" value="{{system}}">{{system}}</option>
      </select>
      <small class="error-message" ng-if="enrollableForm.$validated && !enrollable.system">Campo requerido</small>
    </div>

    <div class="form-group">
      <label ng-hide="showSpinner || productMeta"><%= htmlWebpackPlugin.options.quote_commons.color%></label>
      <label ng-show="productMeta && !showSpinner">{{productMeta.colorLabel}}</label>
      <input ng-hide="showSpinner" type="text" name="color" id="color" ng-model="color" ng-disabled="!enrollable.type"
        class="form-control" required=""
        uib-typeahead="color.label for color in enrollable.colors | filter: $viewValue | limitTo:12"
        typeahead-on-select="colorSelected($item, 'Enrollable', enrollable)" typeahead-editable="false">
      <small ng-hide="showSpinner" class="error-message"
        ng-if="enrollableForm.$validated && enrollableForm.color.$error.required">Campo requerido</small>
      <img ng-show="showSpinner" class="spinner-img" src="img/spinner.gif">
    </div>
    <div class="form-group">
      <label><%= htmlWebpackPlugin.options.enrollable.config%></label>
      <select name="config" ng-model="enrollable.config" class="form-control" ng-disabled="!enrollable.type"
        required="">
        <option ng-repeat="config in productMeta.configs" value="{{config}}">{{config}}</option>
      </select>
      <small class="error-message" ng-if="enrollableForm.$validated && enrollableForm.config.$error.required">Campo
        requerido</small>
    </div>
    <div class="form-group">
      <label><%= htmlWebpackPlugin.options.quote_commons.width%></label>
      <div style="display:flex">
      
      <input <%= htmlWebpackPlugin.options.features.fraction_style%> type="number" name="width" id="width" ng-model="enrollable.width" ng-disabled="!color" min="0.1"
        class="form-control" ng-change="changeWidth('Enrollable', enrollable)" required="" step="0.1">
      <% if (htmlWebpackPlugin.options.features.fractions){%>
        <select style="width: min-content;" name="extra" ng-model="enrollable.w_fraction" class="form-control" ng-change="changeWidth('Enrollable', enrollable)">
          <option value={{0}}>0</option>
          <option value={{0.125}}>⅛</option>
          <option value={{0.25}}>¼</option>
          <option value={{0.375}}>⅜</option>
          <option value={{0.5}}>½</option>
          <option value={{0.625}}>⅝</option>
          <option value={{0.75}}>¾</option>
          <option value={{0.875}}>⅞</option>
        </select>
      <%}%>
      
      </div>
        <small class="error-message" ng-if="enrollableForm.$validated && enrollableForm.width.$error.required">Campo
        requerido</small>
    </div>

    <div class="form-group">
      <label><%= htmlWebpackPlugin.options.quote_commons.height %></label>
      <input  <%= htmlWebpackPlugin.options.features.fractions_style%> type="number" name="height" id="height" ng-model="enrollable.height" ng-disabled="!color" min="0.1"
        class="form-control" ng-change="changeHeight('Enrollable', enrollable)" required="" step="0.1">
      <small class="error-message" ng-if="enrollableForm.$validated && enrollableForm.height.$error.required">Campo
        requerido</small>
    </div>
    <div class="form-group">
      <label>m²</label>
      <input type="number" name="m2" ng-model="enrollable.m2" disabled="disabled" min="0" class="form-control"
        required="" placeholder="{{enrollable.m2 | number:2}}">
      <small class="error-message" ng-if="enrollableForm.$validated && enrollableForm.m2.$error.required">Campo
        requerido</small>
    </div>
    <div class="form-group"
      ng-show="enrollable.type=='Enrollables' || enrollable.type == 'Solar Screen' || enrollable.type == 'Solar Blackout'">
      <label><%= htmlWebpackPlugin.options.enrollable.fall %></label>
      <select name="drop" ng-model="enrollable.drop" class="form-control"
        ng-required="enrollable.type=='Enrollables' || enrollable.type == 'Solar Screen' || enrollable.type == 'Solar Blackout'">
        <%= htmlWebpackPlugin.options.enrollable.fall_options %>
      </select>
      <small class="error-message" ng-if="enrollableForm.$validated && enrollableForm.drop.$error.required">Campo
        requerido</small>
    </div>
    <div class="form-group">
      <label><%= htmlWebpackPlugin.options.enrollable.control_position %></label>
      <select name="control" ng-model="enrollable.control" class="form-control" required=""
        ng-change="hasControl(enrollable.control)">
        <%= htmlWebpackPlugin.options.enrollable.control_options %>
      </select>
      <small class="error-message" ng-if="enrollableForm.$validated && enrollableForm.control.$error.required">Campo
        requerido</small>
    </div>
    <div ng-hide="enrollable.control == 'N/A' || !enrollable.control">
      <label><%= htmlWebpackPlugin.options.enrollable.chain_height %></label>
      <div>
        <label>
          <input type="checkbox" name="controlHeightCheckbox" id="controlHeightCheckbox"
            ng-model="controlHeightCheckbox" ng-change="controlHeightChange()" checked><%= htmlWebpackPlugin.options.enrollable.standard %></label>
      </div>
      <input <%= htmlWebpackPlugin.options.features.fraction_style %> type="number" name="controlHeight" id="controlHeight" step="0.1" class="form-control"
        ng-model="enrollable.controlHeight" ng-hide="controlHeightCheckbox == true">
        <%if (htmlWebpackPlugin.options.features.fractions){%>
          <select style="width: min-content;" name="extra" ng-model="enrollable.control_h_fraction" class="form-control" ng-change="controlHeightChange()">
            <option value={{0}}>0</option>
            <option value={{0.125}}>⅛</option>
            <option value={{0.25}}>¼</option>
            <option value={{0.375}}>⅜</option>
            <option value={{0.5}}>½</option>
            <option value={{0.625}}>⅝</option>
            <option value={{0.75}}>¾</option>
            <option value={{0.875}}>⅞</option>
          </select>
        <%}%>
    </div>

    <div ng-show="valid">
      <hr />
      <button type="button" class="btn btn-default" ng-show="!rotated" ng-disabled="!color" style="align-content: center;"
        ng-click="changeRotation('Enrollable', enrollable, this)">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise"  style="padding-top: 0.3em"
          viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z" />
          <path
            d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z" />
        </svg><%= htmlWebpackPlugin.options.quote_commons.rotate_fabric %></button>
      <button type="button" class="btn btn-primary" ng-show="rotated" ng-disabled="!color" style="align-content: center;"
        ng-click="changeRotation('Enrollable', enrollable, this)">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" style="padding-top: 0.3em"
          viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z" />
          <path
            d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z" />
        </svg><%= htmlWebpackPlugin.options.enrollable.cancel_turn %></button>
    </div>

    <div ng-show="addingPlus == false && enrollable.plusList.length > 0">
      <hr />
      <button type="button" class="btn btn-default" ng-click="addPlus()"><%= htmlWebpackPlugin.options.quote_commons.add_additionals %></button>
      <hr />
    </div>
    <div class="form-adding" ng-show="addingPlus == true && enrollable.plusList.length > 0">
      <label class="title"><%= htmlWebpackPlugin.options.quote_commons.additional %></label>
      <div class="form-group">
        <label><%= htmlWebpackPlugin.options.quote_commons.quantity %></label>
        <input type="number" ng-model="enrollable.plusQuantity" name="plusQuantity" id="plusQuantity"
          class="form-control" pattern="[0-9]*">
      </div>
      <div class="form-group">
        <label><%= htmlWebpackPlugin.options.quote_commons.name %></label>
        <input type="text" ng-model="enrollable.plus" name="plus" id="plus" class="form-control"
          uib-typeahead="plus as plus.label for plus in enrollable.plusList | filter:$viewValue | limitTo:12"
          typeahead-editable="false">
      </div>
      <div>
        <button type="button" class="btn btn-secondary-left"
          ng-click="addPlus(enrollable.plus, enrollable.plusQuantity)"><%= htmlWebpackPlugin.options.general.add %></button>
        <button type="button" class="btn btn-tertiary-left" ng-click="cancelPlus()"><%= htmlWebpackPlugin.options.quote_commons.cancel %></button>
        <hr />
      </div>
    </div>
    <div ng-show="plusList.length > 0">
      <div ng-include="'js/controllers/order/products/additional-details.html'"></div>
    </div>


    <div ng-show="addingMotor == false && enrollable.motorList.length > 0">
      <button type="button" class="btn btn-default" ng-click="addMotor()"><%= htmlWebpackPlugin.options.quote_commons.add_motor %></button>
      <hr />
    </div>
    <div class="form-adding" ng-show="addingMotor == true && enrollable.motorList.length > 0">
      <label class="title"><%= htmlWebpackPlugin.options.quote_commons.motor %></label>
      <div class="form-group">
        <label><%= htmlWebpackPlugin.options.quote_commons.quantity %></label>
        <input type="number" ng-model="enrollable.motorQuantity" name="motorQuantity" id="motorQuantity"
          class="form-control" pattern="[0-9]*">
      </div>
      <div class="form-group">
        <label><%= htmlWebpackPlugin.options.quote_commons.name %></label>
        <input type="text" ng-model="enrollable.motor" name="motor" id="motor" class="form-control"
          uib-typeahead="motor as motor.label for motor in enrollable.motorList | filter:$viewValue | limitTo:12"
          typeahead-editable="false">
      </div>
      <div>
        <button type="button" class="btn btn-secondary-left"
          ng-click="addMotor(enrollable.motor, enrollable.motorQuantity)"><%= htmlWebpackPlugin.options.general.add%></button>
        <button type="button" class="btn btn-tertiary-left" ng-click="cancelMotor()"><%= htmlWebpackPlugin.options.general.cancel %></button>
      </div>
      <hr />
    </div>
    <div ng-show="motorList.length > 0">
      <div ng-include="'js/controllers/order/products/motor-details.html'"></div>
    </div>
    <br>

    <div class="form-group notes">
      <label><%= htmlWebpackPlugin.options.quote_commons.notes %></label>
      <textarea name="notes" ng-model="enrollable.notes" class="form-control"></textarea>
    </div>
    <div class="total-configuration">
      <div class="form-group" ng-show="enrollable.unit">
        <label><%= htmlWebpackPlugin.options.quote_commons.meter_price %></label>
        <input ng-currency type="text" name="unit" ng-model="enrollable.unit" class="form-control" disabled="disabled"
          placeholder="{{enrollable.unit}}">
      </div>
      <div class="form-group" ng-show="enrollable.price">
        <label><%= htmlWebpackPlugin.options.quote_commons.unit_price %></label>
        <input ng-currency type="text" name="price" ng-model="enrollable.price" class="form-control" disabled="disabled"
          placeholder="{{enrollable.price}}">
      </div>
      <div class="form-group" ng-show="enrollable.total">
        <label><%= htmlWebpackPlugin.options.quote_commons.total %></label>
        <input ng-currency type="text" name="total" ng-model="enrollable.total" class="form-control" disabled="disabled"
          placeholder="{{enrollable.total}}">
      </div>
    </div>
    <div>
      <button type="submit" class="btn btn-primary-left"><%= htmlWebpackPlugin.options.general.add %></button>
      <button type="button" class="btn btn-tertiary-left" ng-click="cancelProduct()"><%= htmlWebpackPlugin.options.general.cancel %></button>
    </div>
  </form>

</div>