<div>
    <h3 class="form-title"><%= htmlWebpackPlugin.options.floors.floors %></h3>
    <form name="pisoForm" role="form" novalidate ng-submit="addProduct(pisoObj, pisoForm)" autocomplete="off">
        <h4><%= htmlWebpackPlugin.options.quote_commons.color %></h4>
        <div class="form-group">
            <label><%= htmlWebpackPlugin.options.quote_commons.color %></label>
            <input  type="text" name="name" ng-model="pisoObj.name" class="form-control" required>
            <small class="error-message" ng-if="pisoForm.$validated && pisoForm.name.$error.required"><%= htmlWebpackPlugin.options.general.required_field %></small>
        </div>

        <div class="form-group">
            <label><%= htmlWebpackPlugin.options.floors.code %></label>
            <input  type="text" name="code" ng-model="pisoObj.code" class="form-control" required>
            <small class="error-message" ng-if="pisoForm.$validated && pisoForm.code.$error.required"><%= htmlWebpackPlugin.options.general.required_field %></small>
        </div>

        <div class="form-group">
            <label><%= htmlWebpackPlugin.options.floors.line %></label>
            <input  type="text" name="line" ng-model="pisoObj.line" class="form-control" required>
            <small class="error-message" ng-if="pisoForm.$validated && pisoForm.line.$error.required"><%= htmlWebpackPlugin.options.general.required_field %></small>
        </div>

        <div class="form-group">
            <label>MRP</label>
            <input  type="number" min="1" step="1" name="mrp" ng-model="pisoObj.mrp" class="form-control" required>
            <small class="error-message" ng-if="pisoForm.$validated && pisoForm.mrp.$error.required"><%= htmlWebpackPlugin.options.general.required_field %></small>
        </div>

        <h4><%= htmlWebpackPlugin.options.quote_commons.price %></h4>

        <div class="form-group">
            <label><%= htmlWebpackPlugin.options.quote_commons.price_type %></label>
            <select name="priceType" ng-model="pisoObj.priceType" class="form-control" required>
                <option value="BOX"><%= htmlWebpackPlugin.options.quote_commons.per_box %></option>
            </select>
            <small class="error-message" ng-if="pisoForm.$validated && pisoForm.priceType.$error.required"><%= htmlWebpackPlugin.options.general.required_field %></small>
        </div>
        
        <div class="form-group">
            <label><%= htmlWebpackPlugin.options.quote_commons.price %></label>
            <input  type="number" min="0" step="0.01" name="price" ng-model="pisoObj.price" class="form-control" required>
            <small class="error-message" ng-if="pisoForm.$validated && pisoForm.price.$error.required"><%= htmlWebpackPlugin.options.general.required_field %></small>
        </div>

        <div class="form-group">
            <label><%= htmlWebpackPlugin.options.quote_commons.squared_per_box %> </label>
            <input  type="number" min="0" step="0.01" name="m2Box" ng-model="pisoObj.m2Box" class="form-control" required>
            <small class="error-message" ng-if="pisoForm.$validated && pisoForm.m2Box.$error.required"><%= htmlWebpackPlugin.options.general.required_field %></small>
        </div>

        <div class="form-group">
            <label><%= htmlWebpackPlugin.options.quote_commons.installation_price %></label>
            <input  type="number" min="0" step="0.01" name="installationPrice" ng-model="pisoObj.installationPrice" class="form-control" required>
            <small class="error-message" ng-if="pisoForm.$validated && pisoForm.installationPrice.$error.required"><%= htmlWebpackPlugin.options.general.required_field %></small>
        </div>
        <div class="form-group">
          
            <input type="checkbox" ng-model="pisoObj.disponible"> Puede ordenar sin inventario
        </div>
        <br>
        <div>
            <button type="button" class="btn btn-default" ng-click="closeThisDialog('')"><%= htmlWebpackPlugin.options.general.cancel %></button>
            <button type="submit" class="btn btn-primary"><%= htmlWebpackPlugin.options.general.add %></button>
        </div>
    </form>
</div>
