<table class="table table-striped  table-hover" datatable="ng" dt-options="tableOptions" dt-column-defs="tableColumns">
    <thead>
        <tr>
            <th><%= htmlWebpackPlugin.options.details_headers.item %></th>
            <th><%= htmlWebpackPlugin.options.details_headers.qty %></th>
            <th><%= htmlWebpackPlugin.options.details_headers.room %></th>
            <th><%= htmlWebpackPlugin.options.details_headers.type %></th>

            <th><%= htmlWebpackPlugin.options.details_headers.installation_type %></th>
            <th><%= htmlWebpackPlugin.options.details_headers.width%></th>

            <th><%= htmlWebpackPlugin.options.details_headers.height %></th>
            <% if (htmlWebpackPlugin.options.details_headers.squared) {%>
            <th>m²</th>
            <%}%>

            <th>Color</th>
            <th><%= htmlWebpackPlugin.options.details_headers.unit_price %></th>
            <th>Total</th>
            
            <th><%= htmlWebpackPlugin.options.details_headers.notes %></th>

        </tr>
    </thead>
    <tbody ng-repeat="p in productTypeList.products">
        <tr>
            <td>{{p.item}}</td>
            <td>{{p.quantity}}</td>
            <td>{{p.location}}</td>
            <td>{{p.type}}</td>

            <td>{{p.installationType}}</td>
            <td>{{p.width}}</td>

            <td>{{p.height}}</td>
            <% if (htmlWebpackPlugin.options.details_headers.squared) {%>
            <td>{{p.m2 | number:2}} </td>
            <%}%>

            <td>{{p.color}}</td>
            <td>{{p.price | currency}}</td>
            <td>{{p.total | currency}}</td>

            <td><button class="btn btn-info" ng-disabled="!p.notes" ng-click="showProductNotes(p.notes)">Ver</button></td>
        </tr>
    </tbody>
</table>
