<div class="quote-view">
    <h3 class="form-title">Productos para el Exterior</h3>
    <small class="error-message" ng-if="toldo.doable==false">No realizable</small>
    <form name="toldoForm" role="form" novalidate ng-submit="addProduct('Toldo', toldoForm, toldo)" autocomplete="off">
        <div class="form-group">
            <label>Cantidad</label>
            <input type="number" min="1" value="1" step="1" name="quantity" ng-model="toldo.quantity" class="form-control" ng-change="updatePrices('Toldo', toldo)" required="" pattern="[0-9]*">
            <small class="error-message" ng-if="toldoForm.$validated && toldoForm.quantity.$error.required">Campo requerido</small>
        </div>
        <div class="form-group">
            <label>Ubicación</label>
            <input type="text" name="location" ng-model="toldo.location" class="form-control" required="">
            <small class="error-message" ng-if="toldoForm.$validated && toldoForm.location.$error.required">Campo requerido</small>
        </div>
        <div class="form-group">
            <label>Tipo</label>
            <select name="type" ng-model="toldo.type" ng-change="updateType('Toldo', toldo)" class="form-control" ng-change="updatePrices('Toldo', toldo)" required="">
                <option value="Capri">Light</option>
                <option value="Select">Azur</option>
                <option value="Pergola">Pergola</option>
                <option value="Pergolato">Pergolato</option>
                <option value="Arion">Arion</option>
            </select>
            <small class="error-message" ng-if="toldoForm.$validated && toldoForm.type.$error.required">Campo requerido</small>
        </div>
        <div class="form-group">
            <label ng-hide="showSpinner">Color</label>
            <input ng-hide="showSpinner" type="text" name="color" id="color" ng-model="color" ng-disabled="!toldo.type" class="form-control" required="" uib-typeahead="color.label for color in toldo.colors | filter: $viewValue | limitTo:12" typeahead-on-select="colorSelected($item, 'Toldo', toldo)" typeahead-editable="false">
            <small ng-hide="showSpinner" class="error-message" ng-if="toldoForm.$validated && toldoForm.color.$error.required">Campo requerido</small>
            <img ng-show="showSpinner" class="spinner-img" src="img/spinner.gif">
        </div>
        <div class="form-group">
            <label>Ancho (metros)</label>
            <input type="number" id="width" name="width" ng-model="toldo.width" ng-disabled="!color" min="0.1" class="form-control" ng-change="changeWidth('Toldo', toldo)" required="" step="0.1">
            <small class="error-message" ng-if="toldoForm.$validated && toldoForm.width.$error.required">Campo requerido</small>
        </div>
        <div class="form-group">
            <label>Proyección/Caída (metros)</label>
            <input type="number" id="height" name="height" ng-model="toldo.height" ng-disabled="!color" min="0.1" class="form-control" ng-change="changeHeight('Toldo', toldo)" required="" step="0.1">
            <small class="error-message" ng-if="toldoForm.$validated && toldoForm.height.$error.required">Campo requerido</small>
        </div>
        <div class="form-group">
            <label>Lado del Mando</label>
            <select name="controlSide" ng-model="toldo.controlSide" class="form-control">
                <option value="Izquierda">Izquierda</option>
                <option value="Derecha">Derecha</option>
            </select>
            <small class="error-message" ng-if="toldoForm.$validated && toldoForm.controlSide.$error.required">Campo requerido</small>
        </div>
        <div class="form-group" ng-hide="toldo.type == 'Pergolato'">
            <label>Modo de Operación</label>
            <select name="operationMode" ng-model="toldo.operationMode" class="form-control">
                <option value="Manual">Manual</option>
                <option value="Motorizado">Motorizado</option>
            </select>
            <small class="error-message" ng-if="toldoForm.$validated && toldoForm.operationMode.$error.required">Campo requerido</small>
        </div>
        <div ng-show="addingPlus == false && toldo.plusList.length > 0">
        <hr/>
            <button type="button" class="btn btn-default" ng-click="addPlus()">Agregar Adicional</button>
        <hr/>
        </div>
        <div class="form-adding" ng-show="addingPlus == true && toldo.plusList.length > 0">
            <label class="title">Adicional:</label>
            <div class="form-group">
                <label>Cantidad</label>
                <input type="number" ng-model="toldo.plusQuantity" name="plusQuantity" id="plusQuantity" class="form-control" pattern="[0-9]*">
            </div>
            <div class="form-group">
                <label>Nombre</label>
                <input type="text" ng-model="toldo.plus" name="plus" id="plus" class="form-control" uib-typeahead="plus as plus.label for plus in toldo.plusList | filter:$viewValue | limitTo:12" typeahead-editable="false">
            </div>
            <div>
                <button type="button" class="btn btn-secondary-left" ng-click="addPlus(toldo.plus, toldo.plusQuantity)">Agregar</button>
                <button type="button" class="btn btn-tertiary-left" ng-click="cancelPlus()">Cancelar</button>
                <hr/>
            </div>
        </div>
        <div ng-show="plusList.length > 0">
            <div ng-include="'partials/views/console/quote/additional-details.html'"></div>
        </div>
        
        <div ng-show="addingMotor == false && toldo.motorList.length > 0">
            <button type="button" class="btn btn-default" ng-click="addMotor()">Agregar Motorización</button>
            <hr/>
        </div>
        <div class="form-adding" ng-show="addingMotor == true && toldo.motorList.length > 0">
            <label class="title">Motorización:</label>
            <div class="form-group">
                <label>Cantidad</label>
                <input type="number" ng-model="toldo.motorQuantity" name="motorQuantity" id="motorQuantity" class="form-control" pattern="[0-9]*">
            </div>
            <div class="form-group">
                <label>Nombre</label>
                <input type="text" ng-model="toldo.motor" name="motor" id="motor" class="form-control" uib-typeahead="motor as motor.label for motor in toldo.motorList | filter:$viewValue | limitTo:12" typeahead-editable="false">
            </div>
            <div>
                <button type="button" class="btn btn-secondary-left" ng-click="addMotor(toldo.motor, toldo.motorQuantity)">Agregar</button>
                <button type="button" class="btn btn-tertiary-left" ng-click="cancelMotor()">Cancelar</button>
            </div>
            <hr/>
        </div>
        <div ng-show="motorList.length > 0">
            <div ng-include="'partials/views/console/quote/motor-details.html'"></div>
        </div>
        <div class="form-group notes">
            <label>Observaciones</label>
            <textarea name="notes" ng-model="toldo.notes" class="form-control"></textarea>
        </div>
        <div class="total-configuration">
            <div class="form-group" ng-show="toldo.unit">
                <label>Precio Metro</label>
                <input ng-currency type="text" name="unit" ng-model="toldo.unit" class="form-control" disabled="disabled" placeholder="{{toldo.unit}}">
            </div>
            <div class="form-group" ng-show="toldo.price">
                <label>Precio Unitario</label>
                <input ng-currency type="text" name="price" ng-model="toldo.price" class="form-control" disabled="disabled" placeholder="{{toldo.price}}">
            </div>
            <div class="form-group" ng-show="toldo.total">
                <label>Total</label>
                <input ng-currency type="text" name="total" ng-model="toldo.total" class="form-control" disabled="disabled" placeholder="{{toldo.total}}">
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary-left" ">Agregar</button>
            <button type="button" class="btn btn-tertiary-left" ng-click="cancelProduct()">Cancelar</button>
        </div>
    </form>

</div>
