<div class="quote-view">
    <h3 class="form-title">
        <%= htmlWebpackPlugin.options.toldos.exterior_products %>
    </h3>
    <small class="error-message" ng-if="toldo.doable==false">
        <%= htmlWebpackPlugin.options.toldos.no_doable %>
    </small>
    <form name="toldoForm" role="form" novalidate ng-submit="addProduct('Toldo', toldoForm, toldo)" autocomplete="off">
        <div class="form-group">
            <label>
                <%= htmlWebpackPlugin.options.toldos.quantity %>
            </label>
            <input type="number" min="1" value="1" step="1" name="quantity" ng-model="toldo.quantity" class="form-control" ng-change="updatePrices('Toldo', toldo)" required="" pattern="[0-9]*">
            <small class="error-message" ng-if="toldoForm.$validated && toldoForm.quantity.$error.required"><%= htmlWebpackPlugin.options.general.required_field %></small>
        </div>
        <div class="form-group">
            <label>
                <%= htmlWebpackPlugin.options.toldos.room %>
            </label>
            <input type="text" name="location" ng-model="toldo.location" class="form-control" required="">
            <small class="error-message" ng-if="toldoForm.$validated && toldoForm.location.$error.required"><%= htmlWebpackPlugin.options.general.required_field %></small>
        </div>
        <div class="form-group">
            <label>
                <%= htmlWebpackPlugin.options.toldos.type %>
            </label>
            <select name="type" ng-model="toldo.type" ng-change="updateType('Toldo', toldo)" class="form-control" ng-change="updatePrices('Toldo', toldo)" required="">
                <option value="Capri">Light</option>
                <option value="Select">Azur</option>
                <option value="Pergola">Pergola</option>
                <option value="Pergolato">Pergolato</option>
                <option value="Arion">Arion</option>
            </select>
            <small class="error-message" ng-if="toldoForm.$validated && toldoForm.type.$error.required"><%= htmlWebpackPlugin.options.general.required_field %></small>
        </div>
        <div class="form-group">
            <label ng-hide="showSpinner">Color</label>
            <input ng-hide="showSpinner" type="text" name="color" id="color" ng-model="color" ng-disabled="!toldo.type" class="form-control" required="" uib-typeahead="color.label for color in toldo.colors | filter: $viewValue | limitTo:12" typeahead-on-select="colorSelected($item, 'Toldo', toldo)" typeahead-editable="false">
            <small ng-hide="showSpinner" class="error-message" ng-if="toldoForm.$validated && toldoForm.color.$error.required"><%= htmlWebpackPlugin.options.general.required_field %></small>
            <img ng-show="showSpinner" class="spinner-img" src="img/spinner.gif">
        </div>
        <div class="form-group">
            <label>
                <%= htmlWebpackPlugin.options.toldos.width %>
            </label>
            <input type="number" id="width" name="width" ng-model="toldo.width" ng-disabled="!color" min="0.1" class="form-control" ng-change="changeWidth('Toldo', toldo)" required="" step="0.1">
            <small class="error-message" ng-if="toldoForm.$validated && toldoForm.width.$error.required"><%= htmlWebpackPlugin.options.general.required_field %></small>
        </div>
        <div class="form-group">
            <label>
                <%= htmlWebpackPlugin.options.toldos.projection %>
            </label>
            <input type="number" id="height" name="height" ng-model="toldo.height" ng-disabled="!color" min="0.1" class="form-control" ng-change="changeHeight('Toldo', toldo)" required="" step="0.1">
            <small class="error-message" ng-if="toldoForm.$validated && toldoForm.height.$error.required">
                <%= htmlWebpackPlugin.options.general.required_field %>
            </small>
        </div>
        <div class="form-group">
            <label>
                <%= htmlWebpackPlugin.options.toldos.control_position %>
            </label>
            <select name="controlSide" ng-model="toldo.controlSide" class="form-control">
                <option value="Izquierda"><%= htmlWebpackPlugin.options.toldos.left %></option>
                <option value="Derecha"><%= htmlWebpackPlugin.options.toldos.right %></option>
            </select>
            <small class="error-message" ng-if="toldoForm.$validated && toldoForm.controlSide.$error.required">
                <%= htmlWebpackPlugin.options.general.required_field %>
            </small>
        </div>
        <div class="form-group" ng-hide="toldo.type == 'Pergolato'">
            <label>
                <%= htmlWebpackPlugin.options.toldos.operation_mode %>
            </label>
            <select name="operationMode" ng-model="toldo.operationMode" class="form-control">
                <option value="Manual">Manual</option>
                <option value="Motorizado"><%= htmlWebpackPlugin.options.toldos.motor %></option>
            </select>
            <small class="error-message" ng-if="toldoForm.$validated && toldoForm.operationMode.$error.required">
                <%= htmlWebpackPlugin.options.general.required_field %>
            </small>
        </div>
        <div ng-show="addingPlus == false && toldo.plusList.length > 0">
        <hr/>
            <button type="button" class="btn btn-default" ng-click="addPlus()">
                <%= htmlWebpackPlugin.options.toldos.add_additional %>
            </button>
        <hr/>
        </div>
        <div class="form-adding" ng-show="addingPlus == true && toldo.plusList.length > 0">
            <label class="title"><%= htmlWebpackPlugin.options.toldos.additional %></label>
            <div class="form-group">
                <label><%= htmlWebpackPlugin.options.toldos.quantity %></label>
                <input type="number" ng-model="toldo.plusQuantity" name="plusQuantity" id="plusQuantity" class="form-control" pattern="[0-9]*">
            </div>
            <div class="form-group">
                <label><%= htmlWebpackPlugin.options.toldos.name %></label>
                <input type="text" ng-model="toldo.plus" name="plus" id="plus" class="form-control" uib-typeahead="plus as plus.label for plus in toldo.plusList | filter:$viewValue | limitTo:12" typeahead-editable="false">
            </div>
            <div>
                <button type="button" class="btn btn-secondary-left" ng-click="addPlus(toldo.plus, toldo.plusQuantity)"><%= htmlWebpackPlugin.options.general.add %></button>
                <button type="button" class="btn btn-tertiary-left" ng-click="cancelPlus()"><%= htmlWebpackPlugin.options.general.cancel %></button>
                <hr/>
            </div>
        </div>
        <div ng-show="plusList.length > 0">
            <div ng-include="'partials/views/console/quote/additional-details.html'"></div>
        </div>
        
        <div ng-show="addingMotor == false && toldo.motorList.length > 0">
            <button type="button" class="btn btn-default" ng-click="addMotor()">
                <%= htmlWebpackPlugin.options.toldos.add_motor %>
            </button>
            <hr/>
        </div>
        <div class="form-adding" ng-show="addingMotor == true && toldo.motorList.length > 0">
            <label class="title"><%= htmlWebpackPlugin.options.toldos.motorization %></label>
            <div class="form-group">
                <label><%= htmlWebpackPlugin.options.toldos.quantity %></label>
                <input type="number" ng-model="toldo.motorQuantity" name="motorQuantity" id="motorQuantity" class="form-control" pattern="[0-9]*">
            </div>
            <div class="form-group">
                <label><%= htmlWebpackPlugin.options.toldos.name %></label>
                <input type="text" ng-model="toldo.motor" name="motor" id="motor" class="form-control" uib-typeahead="motor as motor.label for motor in toldo.motorList | filter:$viewValue | limitTo:12" typeahead-editable="false">
            </div>
            <div>
                <button type="button" class="btn btn-secondary-left" ng-click="addMotor(toldo.motor, toldo.motorQuantity)">
                    <%= htmlWebpackPlugin.options.general.add %>
                </button>
                <button type="button" class="btn btn-tertiary-left" ng-click="cancelMotor()">
                    <%= htmlWebpackPlugin.options.general.cancel %>
                </button>
            </div>
            <hr/>
        </div>
        <div ng-show="motorList.length > 0">
            <div ng-include="'partials/views/console/quote/motor-details.html'"></div>
        </div>
        <div class="form-group notes">
            <label>
                <%= htmlWebpackPlugin.options.toldos.notes %>
            </label>
            <textarea name="notes" ng-model="toldo.notes" class="form-control"></textarea>
        </div>
        <div class="total-configuration">
            <div class="form-group" ng-show="toldo.unit">
                <label>
                    <%= htmlWebpackPlugin.options.toldos.inch_price %>
                </label>
                <input ng-currency type="text" name="unit" ng-model="toldo.unit" class="form-control" disabled="disabled" placeholder="{{toldo.unit}}">
            </div>
            <div class="form-group" ng-show="toldo.price">
                <label>
                    <%= htmlWebpackPlugin.options.toldos.unit_price %>
                </label>
                <input ng-currency type="text" name="price" ng-model="toldo.price" class="form-control" disabled="disabled" placeholder="{{toldo.price}}">
            </div>
            <div class="form-group" ng-show="toldo.total">
                <label>Total</label>
                <input ng-currency type="text" name="total" ng-model="toldo.total" class="form-control" disabled="disabled" placeholder="{{toldo.total}}">
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary-left">
                <%= htmlWebpackPlugin.options.general.add %></button>
            <button type="button" class="btn btn-tertiary-left" ng-click="cancelProduct()">
                <%= htmlWebpackPlugin.options.general.cancel %>
            </button>
        </div>
    </form>

</div>
