<div class="client-new-view">
  <div class="ibox">
    <div class="ibox-title">
      <h3>
        <%= htmlWebpackPlugin.options.general.new %> <%= htmlWebpackPlugin.options.general.client %>
      </h3>
    </div>
    <div class="ibox-content">
      <form 
          name="clientForm" 
          role="form" 
          novalidate 
          ng-submit="save(clientForm, client)">
        <div class="form-group">
          <label>
            <%= htmlWebpackPlugin.options.general.name %>
          </label>
          <input 
              type="text" 
              name="name" 
              ng-model="client.name" 
              class="form-control" 
              required="" />
          <small 
              class="error-message" 
              ng-if="clientForm.$validated && clientForm.name.$error.required">
            <%= htmlWebpackPlugin.options.general.required_field %>
          </small>
        </div>
        <div class="form-group">
          <label>
            <%= htmlWebpackPlugin.options.general.last_name %>
          </label>
          <input 
              type="text" 
              name="lastName" 
              ng-model="client.lastName" 
              class="form-control" 
              required="">
          <small 
              class="error-message" 
              ng-if="clientForm.$validated && clientForm.lastName.$error.required">
            <%= htmlWebpackPlugin.options.general.required_field %>
          </small>
        </div>
        <div class="form-group">
          <label>
            <%= htmlWebpackPlugin.options.general.address %>
          </label>
          <input 
              type="text" 
              name="address" 
              ng-model="client.address" 
              class="form-control" 
              required="">
          <small 
              class="error-message" 
              ng-if="clientForm.$validated && clientForm.address.$error.required">
            <%= htmlWebpackPlugin.options.general.required_field %>
          </small>
        </div>

        <% if (htmlWebpackPlugin.options.features.city) { %>
          <div class="form-group">
            <label>Ciudad</label>
            <select name="city" ng-model="client.city" class="form-control" required="">
              <option value="Ensenada">Ensenada</option>
              <option value="Mexicali">Mexicali</option>
              <option value="Rosarito">Rosarito</option>
              <option value="Tecate">Tecate</option>
              <option value="Tijuana">Tijuana</option>
            </select>
            <small class="error-message" ng-if="clientForm.$validated && clientForm.city.$error.required">Campo requerido</small>
          </div>       
        <% } %>

        <div class="form-group">
          <label>
            <%= htmlWebpackPlugin.options.general.postal_code %>
          </label>
          <input 
              type="text" 
              name="postalCode" 
              maxlength="5" 
              pattern="[0-9]{5}" 
              ng-model="client.postalCode" 
              class="form-control" 
              required="">
          <small 
              class="error-message" 
              ng-if="clientForm.$validated && clientForm.postalCode.$error.required">
            <%= htmlWebpackPlugin.options.general.required_field %>
          </small>
          <small 
              class="error-message" 
              ng-if="clientForm.postalCode.$error.pattern">
            <%= htmlWebpackPlugin.options.client.error_postal_code %>
          </small>
        </div>
        <div class="form-group">
          <label>
            <%= htmlWebpackPlugin.options.general.email %>
          </label>
          <input 
              type="email" 
              name="email" 
              ng-model="client.email" 
              class="form-control" 
              required="">
          <small 
              class="error-message" 
              ng-if="clientForm.$validated && clientForm.email.$error.required">
            <%= htmlWebpackPlugin.options.general.required_field %>
          </small>
          <small 
              class="error-message" 
              ng-if="clientForm.$validated && clientForm.email.$error.email">
            <%= htmlWebpackPlugin.options.client.error_email %>
          </small>
        </div>
        <div class="form-group">
          <label>
            <%= htmlWebpackPlugin.options.general.phone %>
          </label>
          <input 
              type="tel" 
              maxlength="10" 
              pattern="[0-9]{10}" 
              name="phoneNumber" 
              ng-model="client.phoneNumber" 
              class="form-control" 
              required="">
          <small 
              class="error-message" 
              ng-if="clientForm.$validated && clientForm.phoneNumber.$error.required">
            <%= htmlWebpackPlugin.options.general.required_field %>
          </small>
          <small 
              class="error-message" 
              ng-if="clientForm.phoneNumber.$error.pattern">
            <%= htmlWebpackPlugin.options.client.error_phone %>
          </small>
        </div>
        <div class="form-group">
          <label>
            <%= htmlWebpackPlugin.options.general.type %>
          </label>
          <select name="type" ng-model="client.type" class="form-control" required="">
            <option value="DIRECT_SALE">{{pretty('clientType', 'DIRECT_SALE')}}</option>
            <option value="DISTRIBUTOR_INDEPENDENT">{{pretty('clientType', 'DISTRIBUTOR_INDEPENDENT')}}</option>
            <option value="DISTRIBUTOR_PREMIUM">{{pretty('clientType', 'DISTRIBUTOR_PREMIUM')}}</option>
            <option value="PROJECTS">{{pretty('clientType', 'PROJECTS')}}</option>
            <option value="ARCHITECT_INTERIOR">{{pretty('clientType', 'ARCHITECT_INTERIOR')}}</option>
          </select>
          <small 
              class="error-message" 
              ng-if="clientForm.$validated && clientForm.type.$error.required">
            <%= htmlWebpackPlugin.options.general.required_field %>
          </small>
        </div>
        <div>
          <button 
              type="submit" 
              class="btn btn-primary-left">
            <%= htmlWebpackPlugin.options.general.save %>
          </button>
          <button 
              ui-sref="console.client-list" 
              class="btn btn-tertiary-left">
            <%= htmlWebpackPlugin.options.general.cancel %>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>