<div class="client-details-view">
  <div class="ibox">
    <div class="ibox-title">
      <h3>
        <%= htmlWebpackPlugin.options.client.details %>
      </h3>
    </div>
    <div class="ibox-content">
      <div class="data-summary" ng-show="step=='loaded'">
        <h3>
          <i aria-hidden="true" class="fa fa-user-circle-o"></i> 
          <%= htmlWebpackPlugin.options.client.personal_information %>
        </h3>
        <ul>
          <li>
            <%= htmlWebpackPlugin.options.client.name %>
          </li>
          <li>
            <%= htmlWebpackPlugin.options.client.last_name %>
          </li>
        </ul>
        <h3>
          <i aria-hidden="true" class="fa fa-id-card"></i>
           <%= htmlWebpackPlugin.options.client.type %>
          </h3>
        <ul>
          <li>
            <%= htmlWebpackPlugin.options.client.category %>
          </li>
        </ul>
        <h3>
          <i aria-hidden="true" class="fa fa-envelope"></i> 
          <%= htmlWebpackPlugin.options.client.contact_information %>
        </h3>
        <ul>
          <li class="email">
            <%= htmlWebpackPlugin.options.client.email %>
          </li>
          <li>
            <%= htmlWebpackPlugin.options.client.phone %>
          </li>
        </ul>
        <h3>
          <i aria-hidden="true" class="fa fa-map-marker"></i> 
          <%= htmlWebpackPlugin.options.client.address_title %>
        </h3>
        <ul>
          <li>
            <%= htmlWebpackPlugin.options.client.address %>
          </li>
          <li>
            <%= htmlWebpackPlugin.options.client.city %>
          </li>
          <li>
            <%= htmlWebpackPlugin.options.client.postal_code %>
          </li>
        </ul>
      </div>

      <!-- EDIT CLIENT INFORMATION -->
      <div ng-show="step=='edit'">
        <fieldset>
          <span>
            <%= htmlWebpackPlugin.options.general.edit %>
          </span>
          <form name="clientForm" ng-submit="edit(clientForm, client)" novalidate role="form">
            <div class="form-group">
              <label>
                <%= htmlWebpackPlugin.options.general.name %>
              </label>
              <input 
                  class="form-control" 
                  name="name" 
                  ng-model="client.name" 
                  placeholder="{{client.name}}" 
                  required="" 
                  type="text"
              />
              <small 
                  class="error-message" 
                  ng-if="clientForm.$validated && clientForm.name.$error.required">
                <%= htmlWebpackPlugin.options.general.required_field %>
              </small>
            </div>
            <div class="form-group">
              <label>
                <%= htmlWebpackPlugin.options.general.last_name %>
              </label>
              <input 
                  class="form-control" 
                  name="lastName" 
                  ng-model="client.lastName" 
                  placeholder="{{client.lastName}}" 
                  required="" 
                  type="text"
              />
              <small 
                  class="error-message" 
                  ng-if="clientForm.$validated && clientForm.lastName.$error.required">
                <%= htmlWebpackPlugin.options.general.required_field %>
              </small>
            </div>
            <div class="form-group">
              <label>
                <%= htmlWebpackPlugin.options.general.address %>
              </label>
              <input 
                  class="form-control" 
                  name="address" 
                  ng-model="client.address" 
                  placeholder="{{client.adress}}" 
                  required="" 
                  type="text"
              />
              <small 
                  class="error-message" 
                  ng-if="clientForm.$validated && clientForm.address.$error.required">
                <%= htmlWebpackPlugin.options.general.required_field %>
              </small>
            </div>

            <% if (htmlWebpackPlugin.options.features.city) { %>
            <div class="form-group">
              <label>
                <% htmlWebpackPlugin.options.general.city %>
              </label>
              <select class="form-control" name="city" ng-model="client.city" required="">
                <option value="Ensenada">Ensenada</option>
                <option value="Mexicali">Mexicali</option>
                <option value="Rosarito">Rosarito</option>
                <option value="Tecate">Tecate</option>
                <option value="Tijuana">Tijuana</option>
              </select>
              <small 
                  class="error-message" 
                  ng-if="clientForm.$validated && clientForm.city.$error.required">
                <%= htmlWebpackPlugin.options.general.required_field %>
              </small>
            </div>
            <% } %>

            <div class="form-group">
              <label>
                <%= htmlWebpackPlugin.options.general.postal_code %>
              </label>
              <input 
                  class="form-control" 
                  maxlength="5" 
                  name="postalCode" 
                  ng-model="client.postalCode" 
                  pattern="[0-9]{5}" 
                  placeholder="<%= htmlWebpackPlugin.options.general.postal_code %>" 
                  required="" 
                  type="text"
              />
              <small 
                  class="error-message" 
                  ng-if="clientForm.$validated && clientForm.postalCode.$error.required">
                <%= htmlWebpackPlugin.options.general.required_field %>
              </small>
              <small 
                  class="error-message" 
                  ng-if="clientForm.postalCode.$error.pattern">
                <%= htmlWebpackPlugin.options.client.error_postal_code %>
              </small>
            </div>
            <div class="form-group">
              <label>
                <%= htmlWebpackPlugin.options.general.email %>
              </label>
              <input 
                  class="form-control" 
                  name="email" 
                  ng-model="client.email" 
                  placeholder="{{client.email}}" 
                  required="" 
                  type="email"
              />
              <small 
                  class="error-message" 
                  ng-if="clientForm.$validated && clientForm.email.$error.required">
                <%= htmlWebpackPlugin.options.general.required_field %>
              </small>
              <small 
                  class="error-message" 
                  ng-if="clientForm.$validated && clientForm.email.$error.email">
                <%= htmlWebpackPlugin.options.client.error_email %>
              </small>
            </div>
            <div class="form-group">
              <label>
                <%= htmlWebpackPlugin.options.general.phone %>
              </label>
              <input 
                  class="form-control" 
                  maxlength="10" 
                  name="phoneNumber" 
                  ng-model="client.phoneNumber" 
                  pattern="" 
                  placeholder="{{client.phoneNumber}}" 
                  required="" 
                  type="tel"
              />
              <small 
                  class="error-message" 
                  ng-if="clientForm.$validated && clientForm.phoneNumber.$error.required">
                <%= htmlWebpackPlugin.options.general.required_field %>
              </small>
              <small 
                  class="error-message" 
                  ng-if="clientForm.phoneNumber.$error.pattern">
                <%= htmlWebpackPlugin.options.client.error_phone %>
              </small>
            </div>
            <div class="form-group">
              <label>Tipo</label>
              <select class="form-control" name="type" ng-model="client.type" required="" selected="{{client.type}}">
                <option value="DIRECT_SALE"> {{pretty('clientType', 'DIRECT_SALE')}} </option>
                <option value="DISTRIBUTOR_INDEPENDENT"> {{pretty('clientType', 'DISTRIBUTOR_INDEPENDENT')}} </option>
                <option value="DISTRIBUTOR_PREMIUM"> {{pretty('clientType', 'DISTRIBUTOR_PREMIUM')}} </option>
                <option value="PROJECTS"> {{pretty('clientType', 'PROJECTS')}} </option>
                <option value="ARCHITECT_INTERIOR"> {{pretty('clientType', 'ARCHITECT_INTERIOR')}} </option>
              </select>
              <small class="error-message" ng-if="clientForm.$validated && clientForm.type.$error.required">Campo requerido</small>
            </div>
          </form>
        </fieldset>
      </div>
      <p ng-show="step=='empty'">El cliente no existe</p>
      <p ng-show="step=='loading'">Cargando cliente</p>



      <div>
        <button class="btn btn-primary" ng-click="step='edit'" ng-show="step=='loaded'">Editar </button>
        <button class="btn btn-default" ng-click="loadClient()" ng-show="step=='edit'">Cancelar </button>
        <button class="btn btn-primary" ng-click="edit(clientForm, client)" ng-show="step=='edit'">Guardar </button>
      </div>
    </div>
  </div>
</div>