<div class="ibox-content">
    <form name="providersForm" role="form" novalidate ng-submit="selectProducts()" autocomplete="off">
    <h2>Seleccion de Productos</h2>
    <div class="form-group">
        <div  ng-repeat="(type,list) in providerProducts">
            

            <h2>{{type}}</h2>
            <div class="form-group" ng-repeat="product in list">

                <!-- <label  class="btn btn-warning">{{product}} <input type="checkbox" id="default" class="badgebox" ng-model="providerSelectionList[type][product]"><span class="badge">&check;</span></label> -->
                
                <div class="[ form-groups ]">
                    <input type="checkbox" name={{product}} id={{product}} ng-model="providerSelectionList[type][product]"  autocomplete="off" />
                    <div class="[ btn-group ]">
                        <label for={{product}} class="[ btn btn-warning ]">
                            <span class="[ glyphicon glyphicon-ok ]"></span>
                            <span> </span>
                        </label>
                        <label for={{product}} class="[ btn btn-default active ]">
                            {{product}}
                        </label>
                    </div>
                </div>


            </div>
        </div>


        
    </div>
    <div>
        <button type="button" class="btn btn-default" ng-click="closeThisDialog('')">
            <%= htmlWebpackPlugin.options.general.cancel %>
        </button>
        <button type="submit" class="btn btn-primary">
            <%= htmlWebpackPlugin.options.general.accept %>
        </button>
    </div>
    </form>
</div>