<div>
    <h3 class="form-title">Moldura/Adicional</h3>
    <form name="moldingForm" role="form" novalidate ng-submit="addProduct(moldingObj, moldingForm)" autocomplete="off">

        <div class="form-group">
            <label>Nombre</label>
            <input  type="text" name="name" ng-model="moldingObj.name" class="form-control" required>
            <small class="error-message" ng-if="moldingForm.$validated && moldingForm.name.$error.required">Campo requerido</small>
        </div>

        <div class="form-group">
            <label>Unidad de Medida</label>
            <select name="priceType" ng-model="moldingObj.priceType" class="form-control" required="">
                <option value="PIECE">Unidad</option>
                <option value="METER">Metro cuadrado</option>
                <option value="WIDTH">Ancho (metro lineal)</option>
                <option value="HEIGHT">Alto (metro lineal)</option>
            </select>
            <small class="error-message" ng-if="moldingForm.$validated && moldingForm.priceType.$error.required">Campo requerido</small>
        </div>

        <div class="form-group">
            <label>Precio</label>
            <input  type="number" min="1" step="1" name="price" ng-model="moldingObj.price" class="form-control" required>
            <small class="error-message" ng-if="moldingForm.$validated && moldingForm.price.$error.required">Campo requerido</small>
        </div>

        <br>
        <div>
            <button type="button" class="btn btn-default" ng-click="closeThisDialog('')">Cancelar</button>
            <button type="submit" class="btn btn-primary">Agregar</button>
        </div>

    </form>
</div>