<div class="order-details-view">
    <div class="ibox">
        <div class="ibox-title">
            <h3>Detalles de Almacén</h3>
        </div>
        <div class="ibox-content">
            <ul>
                <li ng-show="warehouse.name"><small>Nombre:</small> <span>{{warehouse.name}}</span></li>
                <li ng-show="warehouse.address"><small>Dirección:</small> <span>{{warehouse.address}}</span></li>
                <li ng-show="warehouse.city"><small>Ciudad:</small> <span>{{warehouse.city}}</span></li>
                <li ng-show="warehouse.phone"><small>Teléfono:</small> <span>{{warehouse.phone}}</span></li>
            </ul>
            <div>
                <button class="btn btn-danger delete" ng-click="delete()" ng-show="!warehouse.deleted">Borrar</button>
                <button class="btn btn-primary" ng-click="deactivate()" ng-show="warehouse.active">Desactivar</button>
                <button class="btn btn-primary" ng-click="activate()" ng-show="!warehouse.active">Activar</button>
                <button type="button" class="btn btn-warning" ng-click="editWarehouseDialog()">Editar</button>
                <a class="btn btn-default pull-right" ui-sref="console.warehouses">Regresar</a>
            </div>
        </div>
           
        <p ng-show="step=='empty'">No se encontró el almacén</p>
        <p ng-show="step=='loading'">Cargando...</p>
    </div>
</div>

