<metis-menu>
    <metis-item class="nav-header">
        <div class="profile-element"><img id="logo" src="img/logo.png" alt=""></div>
        <div class="logo-element"><img id="logo" src="img/logo.png" alt=""></div>
        <dir><span class="profile-element version-number">ver. {{currentVersion}}</span></dir>
    </metis-item>

    <metis-item ui-sref-active="selected" ng-if="currentUser.role != 'CONSULTANT' || currentUser.role != 'EXTERNAL_CONSULTANT'">
        <a href="#"><i class="fa fa-file-text fa-lg"></i> <span class="nav-label">Ventas</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse">
            <li ng-if="currentUser.canAdmin || currentUser.role == 'SALES_MANAGER'"><a ui-sref="console.quote-list">Cotizaciones</a></li>
            <li><a ui-sref="console.statistics">Estadística</a></li>
            <li ng-if="currentUser.role == 'SUPERADMIN' || currentUser.role == 'CONSULTANT' || currentUser.role == 'EXTERNAL_CONSULTANT'"><a ui-sref="console.quote-new">Cotizar</a></li>
        </ul>
    </metis-item>

    <metis-item ui-sref-active="selected" ng-if="currentUser.role != 'CONSULTANT' || currentUser.role != 'EXTERNAL_CONSULTANT'">
        <a href="#"><i class="fa fa-list fa-lg"></i> <span class="nav-label">Órdenes</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse">
            <li><a ui-sref="console.order-list">Órdenes</a></li>
            <li ng-if="currentUser.role == 'SUPERADMIN' || currentUser.role == 'MANAGER' || currentUser.role == 'SALES_MANAGER' || currentUser.role == 'BUYER'"><a ui-sref="console.deadlines">Seguimiento OV</a></li>
            <li ng-if="currentUser.canAdmin"><a ui-sref="console.quote-new-manual">Registro OV</a></li>
        </ul>
    </metis-item>

    <metis-item ui-sref-active="selected" ng-if="currentUser.role == 'CONSULTANT' || currentUser.role == 'EXTERNAL_CONSULTANT' ">
        <a href="#"><i class="fa fa-file-text fa-lg"></i> <span class="nav-label" style="font-size: 8.8px" >Mis ventas</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse">
            <li><a ui-sref="console.quote-list">Cotizaciones</a></li>
            <li><a ui-sref="console.quote-new">Cotizar</a></li>
            <li><a ui-sref="console.statistics">Estadística</a></li>
        </ul>
    </metis-item>

    <metis-item ui-sref-active="selected" ng-if="currentUser.role == 'CONSULTANT' || currentUser.role == 'EXTERNAL_CONSULTANT'">
        <a ui-sref="console.order-list"><i class="fa fa-list fa-lg"></i> <span class="nav-label" style="font-size: 8.8px">Mis órdenes</span></a>
    </metis-item>

    <metis-item ui-sref-active="selected" ng-if="currentUser.role == 'CONSULTANT' || currentUser.role == 'EXTERNAL_CONSULTANT'">
        <a ui-sref="console.commissions"><i class="fa fa-suitcase fa-lg"></i> <span class="nav-label" style="font-size: 8.8px">Comisiones</span></a>
    </metis-item>

    <metis-item ui-sref-active="selected" ng-if="currentUser.canAdmin || currentUser.role == 'SALES_MANAGER' || currentUser.role == 'MANAGER'">
        <a href="#"><i class="fa fa-suitcase fa-lg"></i> <span class="nav-label">Admin</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse">
            <li><a ng-if="currentUser.canAdmin || currentUser.role == 'SALES_MANAGER'" ui-sref="console.payments">Pagos</a></li>
            <li><a ng-if="currentUser.canAdmin || currentUser.role == 'SALES_MANAGER' || currentUser.role == 'CONSULTANT' || currentUser.role == 'EXTERNAL_CONSULTANT'" ui-sref="console.commissions">Comisiones</a></li>
            <li><a ui-sref="console.costing" ng-if="currentUser.canAdmin || currentUser.role == 'MANAGER'">Costeo</a></li>
            <li><a ui-sref="console.products-catalog" ng-if="currentUser.role == 'SUPERADMIN'">Catálogo</a></li>
            <li><a ui-sref="console.reports" ng-if="currentUser.role == 'SUPERADMIN' && currentUser.canAdmin || currentUser.role == 'ADMIN'">Reportes</a></li>
        </ul>
    </metis-item>

    <metis-item ui-sref-active="selected" ng-if="currentUser.canAdmin || currentUser.role == 'MANAGER' || currentUser.role == 'BUYER' || true">
        <a href="#"><i class="fa fa-check-square-o fa-lg"></i> <span class="nav-label">Inventario</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse">
            <li><a ui-sref="console.inventory-movements" ng-if="currentUser.canAdmin || currentUser.role == 'MANAGER' || currentUser.role == 'BUYER'">Reporte Mov.</a></li>
            <li><a ui-sref="console.inventory-report">Reporte Inv.</a></li>
            <li><a ui-sref="console.inventory-in" ng-if="currentUser.canAdmin || currentUser.role == 'MANAGER'">Entradas</a></li>
            <li><a ui-sref="console.inventory-cross" ng-if="currentUser.canAdmin || currentUser.role == 'MANAGER'">Traslados</a></li>
            <li><a ui-sref="console.inventory-adjustments" ng-if="currentUser.role == 'SUPERADMIN'">Ajustes</a></li>
            <li><a ui-sref="console.products" ng-if="currentUser.canAdmin || currentUser.role == 'MANAGER'">Productos</a></li>
            <li><a ui-sref="console.warehouses" ng-if="currentUser.canAdmin || currentUser.role == 'MANAGER'">Almacenes</a></li>
        </ul>
    </metis-item>
    <metis-item ui-sref-active="selected" ng-if="currentUser.canAdmin || currentUser.role == 'MANAGER' || currentUser.role == 'BUYER'">
        <a href="#"><i class="fa fa-check-square-o fa-lg"></i> <span class="nav-label">Costeo</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse">
            <li><a ui-sref="console.bills">Facturas</a></li>
            <li><a ui-sref="console.movements">Movimientos de OV</a></li>
        </ul>
    </metis-item>

    <metis-item ui-sref-active="selected" ng-if="currentUser.role != 'SALES_MANAGER'">
        <a ui-sref="console.client-list">
            <i class="fa fa-address-card fa-lg"></i> <span class="nav-label">Clientes</span></a>
    </metis-item>

    <metis-item ui-sref-active="selected" ng-if="currentUser.canAdmin">
        <a ui-sref="console.user-list">
            <i class="fa fa-users fa-lg"></i> <span class="nav-label">Usuarios</span></a>
    </metis-item>
</metis-menu>
