<metis-menu>
    <metis-item class="nav-header">
        <div class="profile-element"><img id="logo" src="img/logo.png" alt=""></div>
        <div class="logo-element"><img id="logo" src="img/logo.png" alt=""></div>
        <dir><span class="profile-element version-number">ver. {{currentVersion}}</span></dir>
    </metis-item>

    <metis-item ui-sref-active="selected" ng-if="currentUser.role != 'CONSULTANT'">
        <a href="#"><i class="fa fa-file-text fa-lg"></i> <span class="nav-label">
            <%= htmlWebpackPlugin.options.navigation.manage_quotes %>
        </span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse">
            <li ng-if="currentUser.canAdmin || currentUser.role == 'SALES_MANAGER'"><a ui-sref="console.quote-list">
                <%= htmlWebpackPlugin.options.navigation.quotes %>
            </a></li>
            <li><a ui-sref="console.statistics">
                <%= htmlWebpackPlugin.options.navigation.statistics %>
            </a></li>
            <li ng-if="currentUser.role == 'SUPERADMIN' || currentUser.role == 'CONSULTANT'"><a ui-sref="console.quote-new">
                <%= htmlWebpackPlugin.options.navigation.new_quote %>
            </a></li>
        </ul>
    </metis-item>

    <metis-item ui-sref-active="selected" ng-if="currentUser.role != 'CONSULTANT'">
        <a href="#"><i class="fa fa-list fa-lg"></i> <span class="nav-label">
            <%= htmlWebpackPlugin.options.navigation.orders %>
        </span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse">
            <li><a ui-sref="console.order-list">
                <%= htmlWebpackPlugin.options.navigation.orders %>
            </a></li>
            <li ng-if="currentUser.role == 'SUPERADMIN' || currentUser.role == 'MANAGER' || currentUser.role == 'SALES_MANAGER' || currentUser.role == 'BUYER'"><a ui-sref="console.deadlines">
                <%= htmlWebpackPlugin.options.navigation.orders %>
            </a></li>
            <li ng-if="currentUser.canAdmin"><a ui-sref="console.quote-new-manual">
                <%= htmlWebpackPlugin.options.navigation.manual_register %>
            </a></li>
        </ul>
    </metis-item>

    <metis-item ui-sref-active="selected" ng-if="currentUser.role == 'CONSULTANT'">
        <a href="#"><i class="fa fa-file-text fa-lg"></i> <span class="nav-label" style="font-size: 8.8px" >
            <%= htmlWebpackPlugin.options.navigation.my_sells %>
        </span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse">
            <li><a ui-sref="console.quote-list">
                <%= htmlWebpackPlugin.options.navigation.quotes %>
            </a></li>
            <li><a ui-sref="console.quote-new">
                <%= htmlWebpackPlugin.options.navigation.new_quotes %>
            </a></li>
            <li><a ui-sref="console.statistics">
                <%= htmlWebpackPlugin.options.navigation.statistics %>
            </a></li>
        </ul>
    </metis-item>

    <metis-item ui-sref-active="selected" ng-if="currentUser.role == 'CONSULTANT'">
        <a ui-sref="console.order-list"><i class="fa fa-list fa-lg"></i> <span class="nav-label" style="font-size: 8.8px">
            <%= htmlWebpackPlugin.options.navigation.my_orders %>
        </span></a>
    </metis-item>

    <metis-item ui-sref-active="selected" ng-if="currentUser.role == 'CONSULTANT'">
        <a ui-sref="console.commissions"><i class="fa fa-suitcase fa-lg"></i> <span class="nav-label" style="font-size: 8.8px">
            <%= htmlWebpackPlugin.options.navigation.commissions %>    
        </span></a>
    </metis-item>

    <metis-item ui-sref-active="selected" ng-if="currentUser.canAdmin || currentUser.role == 'SALES_MANAGER' || currentUser.role == 'MANAGER'">
        <a href="#"><i class="fa fa-suitcase fa-lg"></i> <span class="nav-label">Admin</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse">
            <li><a ng-if="currentUser.canAdmin || currentUser.role == 'SALES_MANAGER'" ui-sref="console.payments">
                <%= htmlWebpackPlugin.options.navigation.payments %>
            </a></li>
            <li><a ng-if="currentUser.canAdmin || currentUser.role == 'SALES_MANAGER' || currentUser.role == 'CONSULTANT' " ui-sref="console.commissions">
                <%= htmlWebpackPlugin.options.navigation.commissions %>
            </a></li>
            <li><a ui-sref="console.costing" ng-if="currentUser.canAdmin || currentUser.role == 'MANAGER'">
                <%= htmlWebpackPlugin.options.navigation.cost %>
            </a></li>
            <li><a ui-sref="console.products-catalog" ng-if="currentUser.role == 'SUPERADMIN'">
                <%= htmlWebpackPlugin.options.navigation.catalog %>
            </a></li>
            <%= htmlWebpackPlugin.options.navigation.reports %>
        </ul>
    </metis-item>
    <%= htmlWebpackPlugin.options.navigation.inventory_menu %>
  
    <metis-item ui-sref-active="selected" ng-if="currentUser.canAdmin || currentUser.role == 'MANAGER' || currentUser.role == 'BUYER'">
        <a href="#"><i class="fa fa-check-square-o fa-lg"></i> <span class="nav-label">
            <%= htmlWebpackPlugin.options.navigation.cost %>
        </span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse">
            <li><a ui-sref="console.bills">
                <%= htmlWebpackPlugin.options.navigation.recipts %>
            </a></li>
            <li><a ui-sref="console.movements">
                <%= htmlWebpackPlugin.options.navigation.order_movement %>
            </a></li>
        </ul>
    </metis-item>

    <metis-item ui-sref-active="selected" ng-if="currentUser.role != 'SALES_MANAGER'">
        <a ui-sref="console.client-list">
            <i class="fa fa-address-card fa-lg"></i> <span class="nav-label">
                <%= htmlWebpackPlugin.options.navigation.clients %>
            </span></a>
    </metis-item>

    <metis-item ui-sref-active="selected" ng-if="currentUser.canAdmin">
        <a ui-sref="console.user-list">
            <i class="fa fa-users fa-lg"></i> <span class="nav-label">
                <%= htmlWebpackPlugin.options.navigation.users %>
            </span></a>
    </metis-item>
</metis-menu>
