<div>
  <h3 class="form-title" data-t>views.console.installation_sheet.create.title</h3>
  <form name="installationForm" role="form" novalidate ng-submit="installationSheet.save(installationForm)" autocomplete="off">
    <div class="form-group">
      <label data-t>views.console.installation_sheet.order_number</label>
      <input name="noOrder" class="form-control" ng-model="installationSheet.orderNo" readonly>
      <small class="error-message" ng-if="installationForm.$validated && installationForm.noOrder.$error.required" data-t>views.console.installation_sheet.create.required_filed</small>
    </div>
    <div class="form-group">
      <label data-t>views.console.installation_sheet.create.receiver</label>
      <input name="receivingPerson" class="form-control" ng-model="installationSheet.receivingPerson" required="">
      <small class="error-message" ng-if="installationForm.$validated && installationForm.receivingPerson.$error.required" data-t>views.console.installation_sheet.create.required_field</small>
    </div>
    <!-- TODO: add validation -->
    <div class="form-group">
      <label data-t>views.console.installation_sheet.create.cellphone</label>
      <input name="telephone" class="form-control" ng-model="installationSheet.telephone" required="" ui-mask="(999) 999-9999" type="text">
      <small class="error-message" ng-if="installationForm.$validated && installationForm.telephone.$error.required" data-t>views.console.installation_sheet.create.required_filed</small>
    </div>
    <div class="form-group">
      <label data-t>views.console.installation_sheet.create.address</label>
      <textarea name="address" class="form-control" googleplace ng-model="installationSheet.address" required=""></textarea>
      <small class="error-message" ng-if="installationForm.$validated && installationForm.address.$error.required" data-t>views.console.installation_sheet.create.required_field</small>
    </div>
    <div class="form-group">
      <label data-t>views.console.installation_sheet.create.postal_code</label>
      <input name="postalCode" class="form-control" ng-model="installationSheet.postalCode" required="">
      <small class="error-message" ng-if="installationForm.$validated && installationForm.postalCode.$error.required" data-t>views.console.installation_sheet.create.required_field</small>
    </div>
    <div class="form-group notes">
      <label data-t>views.console.installation_sheet.create.address_hint</label>
      <textarea name="addressReference" ng-model="installationSheet.addressReference" class="form-control"></textarea>
    </div>
    <label data-t>views.console.installation_sheet.create.tools</label>
    <div class="form-group">
      <label class="checkbox-inline normal-height-checkbox">
        <input name="rotomartillo" type="checkbox" ng-model="installationSheet.extras.rotomartillo" ng-change="installationSheet.onChangeCheck(installationForm, 'rotomartillo')" data-t>views.console.installation_sheet.create.rotary_hammer</label>
      <label class="checkbox-inline normal-height-checkbox">
        <input name="andamios" type="checkbox" ng-model="installationSheet.extras.andamios" ng-change="installationSheet.onChangeCheck(installationForm, 'andamios')" data-t>views.console.installation_sheet.create.scaffolding</label>
      <label class="checkbox-inline normal-height-checkbox">
        <input name="escaleras" type="checkbox" ng-model="installationSheet.extras.escaleras" ng-change="installationSheet.onChangeCheck(installationForm, 'escaleras')" data-t>views.console.installation_sheet.create.stairs</label>
      <div ng-repeat="x in installationSheet.otherExtra">
        <label class="checkbox-inline normal-height-checkbox"><input name="x" type="checkbox" ng-model="installationSheet.extras[x]" ng-change="installationSheet.onChangeCheck(installationForm, x, 'otherExtra')" data-t>views.console.installation_sheet.create.extra<span class="glyphicon glyphicon-remove" ng-click="installationSheet.removeOtherExtra(x, 'otherExtra')"></span>
        </label>
      </div>
      <!-- TODO: fix inline css -->
      <div class="form-group" style="margin-top: 0.5rem;">
        <label class="checkbox-inline normal-height-checkbox" data-t>views.console.installation_sheet.create.add_tool</label>
        <div class="input-group">
          <textarea name="extra" type="text" ng-model="installationSheet.extraText" class="form-control"></textarea>
          <span class="glyphicon glyphicon glyphicon-plus input-group-addon" ng-click="installationSheet.addOtherExtra(installationSheet.extraText, 'otherExtra')" ng-disabled="installationSheet.otherExtra.length === 6" style="cursor: pointer;"></span>
        </div>
      </div>
    </div>
    <label data-t>views.console.installation_sheet.create.material</label>
    <div class="form-group">
      <label class="checkbox-inline normal-height-checkbox">
        <input name="madera" type="checkbox" ng-model="installationSheet.materials.madera" ng-change="installationSheet.onChangeCheck(installationForm, 'madera')" data-t>views.console.installation_sheet.create.wood</label>
      <label class="checkbox-inline normal-height-checkbox">
        <input name="tablarroca" type="checkbox" ng-model="installationSheet.materials.tablarroca" ng-change="installationSheet.onChangeCheck(installationForm, 'tablarroca')" data-t>views.console.installation_sheet.create.drywall</label>
      <label class="checkbox-inline normal-height-checkbox">
        <input name="aluminio" type="checkbox" ng-model="installationSheet.materials.aluminio" ng-change="installationSheet.onChangeCheck(installationForm, 'aluminio')" data-t>views.console.installation_sheet.create.aluminum</label>
      <label class="checkbox-inline normal-height-checkbox">
        <input name="acero" type="checkbox" ng-model="installationSheet.materials.acero" ng-change="installationSheet.onChangeCheck(installationForm, 'acero')" data-t>views.console.installation_sheet.create.steel</label>
      <div ng-repeat="x in installationSheet.otherMaterials">
        <label class="checkbox-inline normal-height-checkbox"><input name="x" type="checkbox" ng-model="installationSheet.materials[x]" ng-change="installationSheet.onChangeCheck(installationForm, x, 'otherMaterials')" data-t>views.console.installation_sheet.create.extra<span class="glyphicon glyphicon-remove" ng-click="installationSheet.removeOtherExtra(x, 'otherMaterials')"></span>
        </label>
      </div>
      <div class="form-group">
        <!-- TODO: fix inline css -->
        <label class="checkbox-inline normal-height-checkbox" data-t>views.console.installation_sheet.create.add_material</label>
        <div class="form-group" style="margin-top: 0.5rem;">
          <div class="input-group">
            <textarea name="extraMaterial" type="text" ng-model="installationSheet.extraMaterialText" class="form-control"></textarea>
            <span class="glyphicon glyphicon glyphicon-plus input-group-addon" ng-click="installationSheet.addOtherExtra(installationSheet.extraMaterialText, 'otherMaterials')" ng-disabled="installationSheet.otherMaterials.length === 4" style="cursor: pointer;"></span>
          </div>
        </div>
      </div>
      <!-- <div class="input-group">
        <span class="input-group-addon">
          <input type="checkbox" aria-label="...">
        </span>
        <input type="text" class="form-control" aria-label="...">
      </div> -->
      <div>
        <button type="button" class="btn btn-default" ng-click="closeThisDialog('')" data-t>views.console.installation_sheet.create.cancel</button>
        <button type="submit" class="btn btn-primary" data-t>views.console.installation_sheet.create.submit_text</button>
      </div>
  </form>
</div>