nav.navbar-default {
    position: fixed !important;
    .profile-element {
        text-align: center !important;
        #logo {
            width: 100px;
        }
    }
    .logo-element {
        // text-align: center !important;
        #logo {
            width: 50px;
            margin-left: -10px;
        }
    }
}
