.status-block {
    padding: 5px;
    border-radius: 1px;
    &:hover {
        color: white;
    }
}

.status-circle {
    margin: 0px 5px;
    text-align: center;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
}

.status-tag {
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 1px;
    margin-right: 1rem;

    &.QUOTE {
        border: 1px solid #839192;
        color: #839192;
    }
    &.PENDING {
        border: 1px solid #d4ac0d;
        color: #d4ac0d;
    }

    &.REJECTED {
        border: 1px solid #cb4335;
        color: #cb4335;
    }
    &.LINE {
        border: 1px solid #28b463;
        color: #28b463;
    }
    &.BACKORDER {
        border: 1px solid #ca6f1e;
        color: #ca6f1e;
    }
    &.PRODUCTION {
        border: 1px solid #2e86c1;
        color: #2e86c1;
    }
    &.TRANSIT {
        border: 1px solid #138d75;
        color: #138d75;
    }
    &.FINISHED {
        border: 1px solid #17a589;
        color: #17a589;
    }
    &.INSTALLED_INCOMPLETE {
        border: 1px solid #616a6b;
        color: #616a6b;
    }
    &.INSTALLED_NONCONFORM {
        border: 1px solid #273746;
        color: #273746;
    }
    &.INSTALLED {
        border: 1px solid #884ea0;
        color: #884ea0;
    }
    &.CANCELED {
        border: 1px solid #000000;
        color: #000000;
    }
    &.ORDER_CANCELED {
        border: 1px solid #000000;
        color: #000000;
    }
    &.PROGRAMMED {
        border: 1px solid #b8e05c;
        color: #b8e05c;
    }
    &.source {
        border: 1px solid #56b3ff;
        color: #56b3ff;
    }
    &.Nueva {
        border: 1px solid #f4d942;
        color: #f4d942;
    }
    &.Duplicada {
        border: 1px solid #ad5bff;
        color: #ad5bff;
    }
    &.Seguimiento {
        border: 1px solid #c44411;
        color: #c44411;
    }
    &.Venta {
        border: 1px solid #b2305d;
        color: #b2305d;
    }
    &.Eliminada {
        border: 1px solid #a03428;
        color: #a03428;
    }
    &.ORDER {
        border: 1px solid $paldi-orange;
        color: $paldi-dark-color;
    }
    &.ORDER:hover {
        background-color: $paldi-orange;
        border: 1px solid $paldi-orange;
        color: $paldi-clear-color;
        cursor: pointer;
    }
}

.order-cycle {
    &.START {
        color: $paldi-blue-link;
    }
    &.END {
        color: $paldi-grey-mid;
    }
    &.LATE {
        color: $mt-red;
    }
}

.order-cycle-details {
    &.END {
        color: $paldi-grey-mid;
    }
    &.LATE {
        color: $mt-red;
    }
}

.order-total {
    &.END {
        color: $paldi-grey-mid;
    }
}

.order-details-view {
    .client-data {
        table {
            tfoot {
                td {
                    color: lighten($paldi-grey-soft, 50%);
                }
            }
        }
    }
}
